<%= render 'business_scripts'%>

<%= form_for(@business,:html => { :multipart => true ,:class=>"mono-form" }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :country %>
    <%= f.select :country_id, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all , :id, :name,@business.country_id)%>
  </p>

  <p>
    <%= f.label :brands %>
    <%= f.select :brand_id , @brands.collect{|b| [ b.name , b.id]} %>
  </p>

  <p>
    <%= f.label "Legal Business Name" %>
    <%= f.text_field :name , :class=>"title" %>
  </p>

  <p>
    <%= f.label "Legal Business ID" %>
    <%= f.text_field :legal_id , :class=>"title" %>
  </p>

  <fieldset>
    <legend>Business Mailing Address</legend>
      <%= f.fields_for :mailing_address,f.object.mailing_address do |mailing_address_form| %>
        <p>
          <%= mailing_address_form.label :street_address %>
          <%= mailing_address_form.text_field :street_address , :class=>"title" %>
        </p>

        <p>
          <%= mailing_address_form.hidden_field :country_id %>
        </p>
        <p>
          <%= mailing_address_form.label :city %>
          <%= mailing_address_form.hidden_field :city_id , :value=>"" %>
          <input type="text" name="city" value=""  class="title" id="mcity_id"/>
        </p>
        <p>
          <%= mailing_address_form.label :zipcode %>
          <%= mailing_address_form.text_field :zipcode , :class=>"title" %>
        </p>
      <%end%>
    </fieldset>
    <fieldset>
      <legend>Business Billing Address</legend>
      <%= f.fields_for :billing_address,f.object.billing_address do |billing_address_form| %>
        <p>
          <%= billing_address_form.label :street_address %>
          <%= billing_address_form.text_field :street_address , :class=>"title" %>
        </p>
        <!--
        <p>
          <%= billing_address_form.label :neighborhood %>
          <%= billing_address_form.text_field :neighborhood , :class=>"title" %>
        </p>
        -->
        <p>
          <%= billing_address_form.hidden_field :country_id , :class=>"title" %>
        </p>
        <p>
          <%= billing_address_form.label :city %>
          <%= billing_address_form.hidden_field :city_id , :value=>""%>
          <input type="text" name="" value="" id="bcity_id" class="title" />
        </p>
        <p>
          <%= billing_address_form.label :zipcode %>
          <%= billing_address_form.text_field :zipcode , :class=>"title" %>
        </p>
      <%end%>
    </fieldset>
    <br/>

  <p>
    <%= f.label :categories, "Category" %><br />
		<% @categories.each do |category| %>
			<%= check_box_tag(
                        "business[categories_list][#{category.id}]",
                        "1",
                        @business.categories.detect{|c| c.id == category.id}) %>
			<%= "#{category.name}"%><br />
		<% end %>
  </p>
  <p>
    <%= f.label 'Keywords' %>
    <%= f.text_field :tag_list , :class=>"title" %>
  </p>
  <p>
    <%= f.label "Notes" %>
    <%= f.text_area :description , :class=>"title" %>
  </p>
  <p><%= f.submit %></p>
  <% end %>
