<%= render 'business_scripts'%>


<%= form_for(@business,:html => { :multipart => true }) do |f| %>


  <%= f.error_messages %>

  <p>
    <%= f.label :country %>
    <%= f.select :country_id, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all , :id, :name,@business.country_id)%>
  </p>

  <p>
    <%= f.label :brands %>
    <%= f.select :brand_id , @brands.collect{|b| [ b.name , b.id]} %>
  </p>

  <p>
    <%= f.label "Legal Business Name" %><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label "Legal Business ID" %><br />
    <%= f.text_field :legal_id %>
  </p>



    <fieldset>
      <legend>Business Mailing Address</legend>
      <%= f.fields_for :mailing_address,f.object.mailing_address do |mailing_address_form| %>
        <p>
          <%= mailing_address_form.label :street_address %>
          <%= mailing_address_form.text_field :street_address %>
        </p>

        <p>
          <%= mailing_address_form.hidden_field :country_id %>
        </p>
        <p>
          <%= mailing_address_form.label :city %>
          <%= mailing_address_form.text_field :city_id , :value=>"" %>
        </p>
        <p>
          <%= mailing_address_form.label :zipcode %>
          <%= mailing_address_form.text_field :zipcode %>
        </p>
      <%end%>
    </fieldset>
    <br/>

    <br/>
      <fieldset>
      <legend>Billing Address</legend>
      <%= f.fields_for :billing_address,f.object.billing_address do |billing_address_form| %>
        <p>
          <%= billing_address_form.label :street_address %>
          <%= billing_address_form.text_field :street_address %>
        </p>


        <p>
          <%= billing_address_form.hidden_field :country_id %>
        </p>
        <p>
          <%= billing_address_form.label :city %>
          <%= billing_address_form.text_field :city_id , :value=>""%>
        </p>
        <p>
          <%= billing_address_form.label :zipcode %>
          <%= billing_address_form.text_field :zipcode %>
        </p>
      <%end%>
    </fieldset>
    <br/>

  <p>
    <%= f.label :categories, "Category" %><br />
		<% @categories.each do |category| %>
			<%= check_box_tag(
                        "business[categories_list][#{category.id}]",
                        "1",
                        @business.categories.detect{|c| c.id == category.id}) %>
			<%= "#{category.name}"%><br />
		<% end %>
  </p>
  <p>
    <%= f.label 'Keywords' %><br />
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.label "Notes" %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit %></p>
  <% end %>
