<script type="text/javascript">
 $(document).ready(function(){
   
  $("#add_item_button").click(function () {
   $('#add_item_div').show();
  });
});
</script>

<%= form_for(@business,:html => { :multipart => true }) do |f| %>


  <%= f.error_messages %>

  <p>
    <%= f.label :brands %>
    <%= f.select :brand_id , @brands.collect{|b| [ b.name , b.id]} %>
  </p>
  <p>
    <%= f.label :categories, "Category" %><br />
		<% @categories.each do |category| %>
			<%= check_box_tag(
                        "business[categories_list][#{category.id}]", 
                        "1", 
                        @business.categories.detect{|c| c.id == category.id}) %>
			<%= "#{category.name}"%><br />
		<% end %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label 'Keywords' %><br />
    <%= f.text_field :tag_list %>
    <small>Required, comma separated</small>
  </p>
  <fieldset>
    <legend>Business Images</legend>
    <p>
      <%= f.label 'Images' %><br />
      <% f.fields_for :business_images do |bimage| %>
        <p><%= bimage.file_field :photo %></p>
      <%end%>
    </p>
  </fieldset>
  <% f.fields_for :places do |builder| %>  
		<h3>Add a Branch</h3>
    <p>
      <%= builder.label :name %>
      <%= builder.text_field :name %>
    </p>
    <p>
	    <%= builder.label :description %>
	    <%= builder.text_field :description %>
    </p>
    <p>
      <%= builder.label 'Keywords' %>
      <%= builder.text_field :tag_list %>
      <small>Optional, comma separated</small>
    </p>
    <p>
      <%= builder.label :time_zone %>
      <%= builder.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
    </p>
    <p>
	    <%= builder.label :longitude %>
	    <%= builder.text_field :long %>
	  </p>
	  <p>
	    <%= builder.label :latitude %>
	    <%= builder.text_field :lat %>
	  </p>
	  <fieldset>
	    <legend>Place Images</legend>
  	  <p>
        <% builder.fields_for :place_images do |pimage| %>
          <p><%= pimage.label 'Place Image: ' %> <%= pimage.file_field :photo %></p>
        <%end%>
      </p>
    </fieldset>
	   <%  builder.fields_for :items do |item_form| %>
	   <input type="button" value="Add New Item To This Place" id="add_item_button" />
	   <div id="add_item_div" style="display:none">
	     <label>Item: </label>
	     <p>
         <%= item_form.label :name %>
         <%= item_form.text_field :name %>
       </p>
       <p>
         <%= item_form.label :description %>
         <%= item_form.text_field :description %>
       </p>
       <p>
         <%= item_form.label :price %>
         <%= item_form.text_field :price %>
       </p>
       <p>
         <%= item_form.label :available %>
         <%= item_form.select :available, options_for_select([ ['yes', 'true'],['no','false']])%>
       </p>
       <p>
         <%= item_form.label :cost %><br />
         <%= item_form.text_field :cost %>
       </p>
       <p>
        <%= item_form.label :product_code %><br />
        <%= item_form.text_field :product_code %>
       </p>
	   </div>
	   <% end%>
	  <%  builder.fields_for :address do |address_form| %>
    <h3>Add an Address</h3>
	  <p>
      <%= address_form.label :city %>
      <%= address_form.text_field :city %>
    </p>
	 
	 <% end %>

    <%= builder.check_box :_destroy %>  
    <%= builder.label :_destroy, "Remove Place" %>
  <% end %>
  <p><%= f.submit %></p>
  <% end %>
