<script type="text/javascript">
 $(document).ready(function(){
   
  $("#add_item_button").click(function () {
   $('#add_item_div').show();
  });
  $('select#business_places_attributes_0_address_attributes_country_id').bind('change',function(){
    var country_id = $(":selected", this).val();
    $.getScript("/businesses/update_cities/"+country_id+"?selector_id=business_places_attributes_0_address_attributes_city_id");
  });
  $('select#business_places_attributes_1_address_attributes_country_id').bind('change',function(){
    var country_id = $(":selected", this).val();
    $.getScript("/businesses/update_cities/"+country_id+"?selector_id=business_places_attributes_1_address_attributes_city_id");
  });
  $('select#business_places_attributes_2_address_attributes_country_id').bind('change',function(){
    var country_id = $(":selected", this).val();
    $.getScript("/businesses/update_cities/"+country_id+"?selector_id=business_places_attributes_2_address_attributes_city_id");
  });
});
</script>

<%= form_for(@business,:html => { :multipart => true }) do |f| %>


  <%= f.error_messages %>

  <p>
    <%= f.label :brands %>
    <%= f.select :brand_id , @brands.collect{|b| [ b.name , b.id]} %>
  </p>
  <p>
    <%= f.label :categories, "Category" %><br />
		<% @categories.each do |category| %>
			<%= check_box_tag(
                        "business[categories_list][#{category.id}]", 
                        "1", 
                        @business.categories.detect{|c| c.id == category.id}) %>
			<%= "#{category.name}"%><br />
		<% end %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :country %>
    <%= f.select :country_id, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all , :id, :name,@business.country_id)%>
  </p>
  <p>
    <%= f.label 'Keywords' %><br />
    <%= f.text_field :tag_list %>
    <small>Required, comma separated</small>
  </p>
  <fieldset>
    <legend>Business Images</legend>
    <p>
      <%= f.label 'Images' %><br />
      <%if ENABLE_DELAYED_UPLOADS%>
        <% f.fields_for :business_images do |bimage| %>
            <%= bimage.label(:delete_photo, 'Delete photo') %>
            <%= image_tag(bimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
            <%= bimage.check_box(:delete_photo) %><br />
        <%end%>
        <% f.fields_for :tmp_images do |bimage| %>
          <%= bimage.label(:photo, 'Upload photo') %>
          <%= bimage.file_field(:photo) %><br />
        <%end%>
      <%else%>
        <% f.fields_for :business_images do |bimage| %>
          <%- unless bimage.object.new_record?-%>
            <%= bimage.label(:delete_photo, 'Delete photo') %>
            <%= image_tag(bimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
            <%= bimage.check_box(:delete_photo) %><br />
          <%- else -%>
            <br />
            <%= bimage.label(:photo, 'Upload photo') %>
            <%= bimage.file_field(:photo) %><br />
          <%- end -%>
        <%end%>
      <%end%>
      
    </p>
  </fieldset>
  <% f.fields_for :places,@business.places do |builder| %>  
		<h3>Add a Branch</h3>
    <p>
      <%= builder.label :name %>
      <%= builder.text_field :name %>
    </p>
    <p>
	    <%= builder.label :description %>
	    <%= builder.text_field :description %>
    </p>
    <p>
      <%= builder.label 'Keywords' %>
      <%= builder.text_field :tag_list %>
      <small>Optional, comma separated</small>
    </p>
    <p>
      <%= builder.label :time_zone %>
      <%= builder.time_zone_select :time_zone, ActiveSupport::TimeZone.all %>
    </p>
    <p>
	    <%= builder.label :longitude %>
	    <%= builder.text_field :long %>
	  </p>
	  <p>
	    <%= builder.label :latitude %>
	    <%= builder.text_field :lat %>
	  </p>
	  <fieldset>
	    <legend>Place Images</legend>
  	  <p>
  	    <%if ENABLE_DELAYED_UPLOADS%>
          <% builder.fields_for :place_images do |pimage| %>
              <%= pimage.label(:delete_photo, 'Delete photo') %>
              <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
              <%= pimage.check_box(:delete_photo) %><br />
          <%end%>
          <% builder.fields_for :tmp_images do |pimage| %>
            <%= pimage.label(:photo, 'Upload photo') %>
            <%= pimage.file_field(:photo) %><br />
          <%end%>
        <%else%>
          <% builder.fields_for :place_images do |pimage| %>
            <%- unless pimage.object.new_record?-%>
              <%= pimage.label(:delete_photo, 'Delete photo') %>
              <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
              <%= pimage.check_box(:delete_photo) %><br />
            <%- else -%>
              <br />
              <%= pimage.label(:photo, 'Upload photo') %>
              <%= pimage.file_field(:photo) %><br />
            <%- end -%>
          <%end%>
        <%end%>
      </p>
    </fieldset>
    <fieldset>
      <legend>Place Address</legend>
      <%= builder.fields_for :address,builder.object.address do |address_form| %>
        <p>
          <%= address_form.label :street_address %>
          <%= address_form.text_field :street_address %>
        </p>
        <p>
          <%= address_form.label :neighborhood %>
          <%= address_form.text_field :neighborhood %>
        </p>
        <p>
          <%= address_form.label :country %>
          <%= address_form.select :country_id, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all , :id, :name,address_form.object.country_id)%>
        </p>
        <p>
          <%= address_form.label :city %>
          <%= address_form.select :city_id, "<option value=''>..Select City..</option>".html_safe + options_from_collection_for_select(City.all, :id, :name,address_form.object.city_id)%>
        </p>
        <p>
          <%= address_form.label :zipcode %>
          <%= address_form.text_field :zipcode %>
        </p> 
      <%end%>
    </fieldset>
    <%= builder.check_box :_destroy %>  
    <%= builder.label :_destroy, "Remove Place" %>
  <% end %>
  <p><%= f.submit %></p>
  <% end %>
