<% title "Businesses" %>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Branches</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  <% for business in @businesses %>
    <tr>
      <td><%= link_to business.name, business %></td>
      <td><%= business.description %></td>
      <td><%= link_to "#{business.name} branches", business_places_path(business) %></td>
      <td><%= link_to "Reports", business_reports_path(business) %></td>
      <td><%= link_to "Edit", edit_business_path(business) %></td>
      <td><%= link_to "Destroy", business, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Business", new_business_path %></p>
<% form_tag "/users/sessions.xml",:method=>'POST' do %>
   <%= text_field_tag "email" %>
   
   <%= text_field_tag "password" %>
   
   <%= submit_tag 'Submit' %>
<%end%>