<% title "Businesses" %>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Brand Image</th>
    <th>Address</th>
    <th>Principal</th>
    <th>Branches</th>
    <th>Outstanding Balance</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  <% for business in @businesses %>
    <tr>
      <td><%= link_to business.name, business %></td>
      <td><%= image_tag business.try(:brand).try(:brand_image).try(:photo).url(:normal) unless business.try(:brand).try(:brand_image).nil? %></td>
      <td>
        <% maddress = business.mailing_address %>
        <% unless maddress.nil? %>
        <%= "#{maddress.try(:street_address)} , #{maddress.try(:zipcode)} , #{maddress.try(:country).try(:name)}" %>
        <%end%>
      </td>
      <td>Rajib Ahmed</td>
      <td><%= link_to "#{business.name} branches (#{business.places.size})", business_places_path(business) %></td>
      <td>&nbsp</td>
      <td><%= link_to "Edit", edit_business_path(business) %></td>
      <td><%= link_to "Destroy", business, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Business", new_business_path %></p>
