<% title "Businesses" %>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Brand Image</th>
    <th>Address</th>
    <th>Primary User</th>
    <th>Branches</th>
    <th>Outstanding Balance</th>
    <th colspan="3">&nbsp;</th>
  </tr>
  <% for business in @businesses %>
    <tr>
      <td><%= link_to business.name, business %></td>
      <td><%= business.brand.brand_image.to_s %></td>
      <td>
        <% maddress = business.mailing_address %>
        <%= maddress.street_address + "," + maddress.zipcode + ", "+ maddress.country.name %>
      </td>
      <td>Rajib Ahmed</td>
      <td><%= link_to "#{business.places.length}", business_places_path(business) %></td>
      <td>&nbsp</td>
      <td><%= link_to "Edit", edit_business_path(business) %></td>
      <td><%= link_to "Destroy", business, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Business", new_business_path %></p>
