<% title "Business" %>
<p>
	<ol>  
	  <% for category in @business.categories %>
	  <li><%= h category.name %></li>  
	  <% end %>  
	</ol>
</p>
<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>
<h3>Places</h3>
<p>
	<ol>  
	  <% for place in @business.places %>
	  <li><%= h place.name %></li>  
	  <% end %>  
	</ol>
</p>
<p>
  <%= link_to "Edit", edit_business_path(@business) %> |
  <%= link_to "Destroy", @business, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", businesses_path %>
</p>
