<% title "Business | #{@business.name}" %>
<style type="text/css" media="screen">
  table th,td{
    width:150px;
}
</style>

<h3>Category</h3>  
<p>
	<ol>  
	  <% for category in @business.categories %>
	  <li><%= h category.name %></li>  
	  <% end %>  
	</ol>
</p>
<p>
  <strong>Brand:</strong>
  <%= @business.brand.try(:name) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>
<p>
  <strong>Tag List:</strong>
  <%= @business.tag_list %>
</p>
<p>
  <strong>Country:</strong>
  <%= @business.country.try(:name) %>
</p>
<%unless @business.business_images.empty?%>
<p>
  <strong>Images</strong>
  <%for image in @business.business_images%> 
    <%= image_tag image.photo.url(:thumb) %>
  <%end%>
</p>
<%end%>
<h3>Branches</h3>
<p>
  <table>
    <tr>
      <th>Name</th>    
      <th>Address</th>    
      <th>Neiborhood</th>    
      <th>City</th>    
      <th>Country</th>
      <th>Zipcode</th>  
    </tr>  
	  <% for place in @business.places %>
    <tr>
      <td><%= place.name %></td> 
      <td><%= place.try(:address).try(:street_address) %></td>
      <td><%= place.try(:address).try(:neighborhood) %></td>
      <td><%= place.try(:address).try(:city).try(:name) %></td>
      <td><%= place.try(:address).try(:country).try(:name) %></td>
      <td><%= place.try(:address).try(:zipcode) %></td>
    </tr>
	  <% end %>  
  </table>
</p>
<p>
  <%= link_to "Edit", edit_business_path(@business) %> |
  <%= link_to "View All", businesses_path %> |
  <%= button_to "Destroy", @business, :confirm => 'Are you sure?', :method => :delete %>
</p>
<p>
  <%= link_to "Show Programs", business_programs_path(@business) %><br />
  <%= link_to "New Measurement Type", new_business_measurement_type_path(@business) %><br />
  <%= link_to "New Item", new_business_item_path(@business) %><br />
</p>