<% title "Business | #{@business.name}" %>
<% content_for (:head) do %>  
<style type="text/css" media="screen">
  table th,td{width:150px;}
</style>
<%end%>
<h3>Category</h3>
<p>
	<ol>
	  <% for category in @business.categories %>
	  <li><%= h category.name %></li>
	  <% end %>
	</ol>
</p>
<p>
  <strong>Brand:</strong>
  <%= @business.brand.try(:name) %>
</p>
<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>
<p>
  <strong>Currency:</strong>
  <%= @business.currency_code %>
</p>
<p>
  <strong>Tag List:</strong>
  <%= @business.tag_list %>
</p>
<p>
  <strong>Country:</strong>
  <%= @business.country.try(:name) %>
</p>
<p>
  <strong>Business Legal Ids:</strong>
  <% @business.legal_ids.each do |legal| %>
    <p><%=LegalType.find(legal.legal_type_id).displayed_type%> : <%= legal.id_number %></p>
  <%end%>
</p>

<p>
  <strong>Users IDs Activated?</strong>
  <%= @business.activate_users_id ? "Active" : "In-active" %>
</p>
<p>
  <strong><%="#{@business.users.length} Customers - "%></strong>
  <%= link_to "View", list_all_enrolled_customers_business_path(@business)%>
</p>
<%unless @business.mailing_address.blank? %>
<h3>Mailing Address</h3>
<ul>
  <li><strong>Street Address: </strong><%= @business.mailing_address.street_address %></li>
  <li><strong>Country: </strong><%= @business.mailing_address.city.try(:country).try(:name) %></li>
  <li><strong>City: </strong><%= @business.mailing_address.city.try(:name) %></li>
  <li><strong>ZipCode: </strong><%= @business.mailing_address.zipcode %></li>
</ul>
<%end%>
<%unless @business.billing_address.blank? %>
<h3>Billing Address</h3>
<ul>
  <li><strong>Street Address: </strong><%= @business.billing_address.street_address %></li>
  <li><strong>Country: </strong><%= @business.billing_address.city.try(:country).try(:name) %></li>
  <li><strong>City: </strong><%= @business.billing_address.city.try(:name) %></li>
  <li><strong>ZipCode: </strong><%= @business.billing_address.zipcode %></li>
</ul>
<%end%>
<h3>Branches</h3>
<table class="mono-table" width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Neiborhood</th>
    <th>Phone Number</th>
    <th>City</th>
    <th>Country</th>
    <th>Zipcode</th>
  </tr>
  <% for place in @business.places %>
  <tr>
    <td><%= link_to place.name, business_place_path(@business,place) %></td>
    <td><%= place.try(:address).try(:street_address) %>   </td>
    <td><%= place.try(:address).try(:neighborhood) %>     </td>
    <td><%= place.phone %>                                </td>
    <td><%= place.try(:address).try(:city).try(:name) %>  </td>
    <td><%= place.try(:address).try(:city).try(:country).try(:name) %></td>
    <td><%= place.try(:address).try(:zipcode) %></td>
  </tr>
  <% end %>
</table>
<h3>Campaigns</h3>
<table class="mono-table" width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Campaign</th>
    <th>Program Type</th>
    <th>SVA balance</th>
    <th>View Transactions</th>
    <th>View Enrolled customers</th>
  </tr>
  <% for campaign in @campaigns %>
    <tr>
      <td><%= campaign.c_name %></td>
      <td><%= campaign.pt_name %></td>
      <td><%= campaign.biz_balance %></td>      
      <td><%= link_to "View Txs", list_campaign_transactions_business_path(@business,campaign.c_id) %></td>
      <td><%= link_to "View Enrolled Customers", list_enrolled_customers_business_path(@business,campaign.c_id) %></td>
    </tr>
	  <% end %>
</table>
<p>
  <%= link_to "Edit", edit_business_path(@business) %> |
  <%= link_to "View All", businesses_path %> |
  <%= button_to "Destroy", @business, :confirm => 'Are you sure?', :method => :delete %>
</p>
<p>
  <%= link_to "Make an offer", new_business_campaign_path(@business) %><br />
  <%= link_to "Current offers", business_campaigns_path(@business) %><br />
  <%= link_to "Show Programs", business_programs_path(@business) %><br />
  <%= link_to "Show Items", business_items_path(@business)  %><br />
  <%= link_to 'Transaction logs', business_transactions_path(@business) %><br />
  <li><%= link_to "New Measurement Type", new_business_measurement_type_path(@business) %></li>
</p>
