<style type="text/css" media="screen">
  label{display:inline}
</style>
<%= javascript_include_tag 'prototype' %>
<%= calendar_date_select_includes %>
<% CalendarDateSelect.format=(:iso_date)%><script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
jQuery(document).ready(function(){
  jQuery('#open_hour_apply_to_all').click(function(){

    if( jQuery(this).is(':checked') ){
      from_hour = jQuery('#open_hour_0_from').val(); // the selected value of the first day ( from hour)
      to_hour   =  jQuery('#open_hour_0_to').val();  //  the selected value of the first day ( to hour)
      from2_hour = jQuery('#open_hour_0_from2').val(); // the selected value of the first day - if user splits the time( from2 hour)
      to2_hour   =  jQuery('#open_hour_0_to2').val();  //  the selected value of the first day -  if user splits the time ( to2 hour)

      jQuery('.from_class').each(function(index, element){
        jQuery(this).val(from_hour);
        if(from2_hour){
          if(index!=0){
             Split_hour(index);
             x =jQuery('#open_hour_'+index+'_from2').val(from2_hour);
           }
        }// if from2_hour end
      }); // end of .each function

      jQuery('.to_class').each(function(index, element){
        jQuery(this).val(to_hour);
        if(to2_hour){
          if(index!=0){
             x =jQuery('#open_hour_'+index+'_to2').val(to2_hour);
           }
        }// if from2_hour end
      }); // end of .each function


    } //end if
  });

  sHours = ["12:00 AM","12:30 AM","11:00 AM","11:30 AM","10:00 AM","10:30 AM","9:00 AM","9:30 AM","8:00 AM","8:30 AM","7:00 AM","7:30 AM","6:00 AM","6:30 AM","5:00 AM","5:30 AM","4:00 AM","4:30 AM","3:00 AM","3:30 AM","2:00 AM","2:30 AM","1:00 AM","1:30 AM","12:00 PM","12:30 PM","11:00 PM","11:30 PM","10:00 PM","10:30 PM","9:00 PM","9:30 PM","8:00 PM","8:30 PM","7:00 PM","7:30 PM","6:00 PM","6:30 PM","5:00 PM","5:30 PM","4:00 PM","4:30 PM","3:00 PM","3:30 PM","2:00 PM","2:30 PM","1:00 PM","1:30 PM"];
  jQuery('input.complete').autocomplete({source:sHours});
})

function Split_hour(index){
    from_to_html = jQuery('#open_hour_'+index+'_from').parent().html();
    from_to_html = from_to_html.replace(/from/g, "from2");
    from_to_html = from_to_html.replace(/to/g, "to2");
    closed1_label ="<label> Closed? </label>";
    closed2_checkbox_html = "<input type='checkbox' value='1' name='open_hour["+index+"][closed2]' />" ;
    final_html_part = from_to_html + closed1_label+closed2_checkbox_html ;
    jQuery('#open_hour_div_'+index).append("<p>"+final_html_part+"</p>");
    jQuery('input.complete').autocomplete({source:sHours});
  };
//]]>
</script>

<h1 id="">Configure your open sign</h1>

<%= form_tag(open_sign_users_businesses_path) do %>



     <% OpenHour::DAYS.each_with_index do |(key,value) , index| %>

<div class="slide_box">
    <div class="slide_box_content">
    <div class="slide_box_shadow">
      <div class="box_content round shadow">

       <h3 class="days left"><%=key%></h3>
       <div id="open_hour_div_<%=index%>" class="times left">
         <div >
           <label for="from">from:</label>
           <%= text_field_tag "open_hour[#{index}][from]",nil,:class=>"complete from_class" %>
           <label for="id">to</label>
           <%= text_field_tag "open_hour[#{index}][to]",nil,:class=>"complete to_class" %>
         </div>
         <input type="hidden" name="open_hour[<%=index%>][place_id]" value="<%=@place.id%>" />
         <input type="hidden" name="open_hour[<%=index%>][day_no]"    value="<%=value%>"    />
             <% if index == 0 %>
           <label> Apply To All</label>
           <%= check_box_tag "open_hour[apply_to_all]" %>
         <%end%>
     </div>
         <div class="clear"></div>
      </div>
    </div>
    </div>
    <div class="slide_box_slider">
    <div class="slide_box_shadow">
      <div class="box_slider round shadow">
        <p class="hide" >
          <%= label_tag "Closed?"%>
         <%= check_box_tag "open_hour[#{index}][closed]" %>
         <input type="button" id="split_hour_<%=index%>" value="Split Hours" onclick="Split_hour(<%=index%>)" />
        </p>
   </div>
    </div>
    </div>
    <div class="slide_box_eject">
    		<div class="box_eject round"><a href="#"></a></div>
    </div>
</div>



     <% end %>
      <%= submit_tag "save" %>



<% end %>
