<style type="text/css" media="screen">
  label{display:inline}
</style>

<h1 id="">Configure your open sign</h1>

<%= form_tag(open_sign_users_businesses_path) do %>


<% OpenHour::DAYS.each_with_index do |(key,value) , index| %>

<div class="slide_box">
    <div class="slide_box_content">
    <div class="slide_box_shadow">
      <div class="box_content round shadow">

       <h3 class="days left"><%=key%></h3>
       <div id="open_hour_div_<%=index%>" class="times left">
         <div >
           <label for="from">from:</label>
           <%= text_field_tag "open_hour[#{index}][from]",nil,:class=>"complete from_class" %>
           <label for="id">to</label>
           <%= text_field_tag "open_hour[#{index}][to]",nil,:class=>"complete to_class" %>
         </div>
         <input type="hidden" name="open_hour[<%=index%>][place_id]" value="<%=@place.id%>" />
         <input type="hidden" name="open_hour[<%=index%>][day_no]"    value="<%=value%>"    />
             <% if index == 0 %>
           <label> Apply To All</label>
           <%= check_box_tag "open_hour[apply_to_all]" %>
         <%end%>
     </div>
         <div class="clear"></div>
      </div>
    </div>
    </div>
    <div class="slide_box_slider">
    <div class="slide_box_shadow">
      <div class="box_slider round shadow">
        <p class="hide" >
          <%= label_tag "Closed?"%>
         <%= check_box_tag "open_hour[#{index}][closed]" %>
         <input type="button" id="split_hour_<%=index%>" value="Split Hours" onclick="Split_hour(<%=index%>)" />
        </p>
   </div>
    </div>
    </div>
    <div class="slide_box_eject">
    		<div class="box_eject round"><a href="#"></a></div>
    </div>
</div>



     <% end %>
      <%= submit_tag "save" %>

    <% end %>



