<style type="text/css" media="screen">
  .hf{width:30px; text-align:right}
  .fr{ margin-right:5px }
  .hf.closed{ margin-top: 17px ; margin-left:3px}
</style>

<h1 id="">Configure your branch open sign</h1>
<div class="span-19">
<%= form_tag( "/users/businesses/open_sign/#{@place.id}") do %>

<% OpenHour::DAYS.each_with_index do |(key,value) , index| %>

<div class="slide_box">
    <div class="slide_box_content">
    <div class="slide_box_shadow">
      <div class="box_content round shadow">

       <h3 class="left days"><%=key%></h3>
       <div id="open_hour_div_<%=index%>" class="times left">
         <div >
           <h3 class="hf fr left">from</h3>
           <%= text_field_tag "open_hour[#{index}][from]",nil,:class=>"complete title left from_class" %>
           <h3 class="hf left">to</h3>
           <%= text_field_tag "open_hour[#{index}][to]",nil,:class=>"complete title left to_class" %>
         </div>
         <input type="hidden" name="open_hour[<%=index%>][place_id]" value="<%=@place.id%>" />
         <input type="hidden" name="open_hour[<%=index%>][day_no]"    value="<%=value%>"    />
       <div class="clear"></div>
     </div>
       <div class="clear"></div>
      </div>
    </div>
    </div>
    <div class="slide_box_slider">
    <div class="slide_box_shadow">
      <div class="box_slider round shadow">
        <p class="hide" >
          <%= label_tag "Closed?"%>
         <%= check_box_tag "open_hour[#{index}][closed]" %>
         <input type="button" id="split_hour_<%=index%>" value="Split Hours" onclick="Split_hour(<%=index%>)" />
        </p>
   </div>
    </div>
    </div>
    <div class="slide_box_eject">
      <div class="box_eject round"><a href="#"></a></div>
    </div>
</div>
     <% end %>
      <%= submit_tag "save" %>

    <% end %>

</div>
