  <% if @place.try(:errors).try(:any?) %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> occured while saving:</h2>
      <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %><div id="step3" class="mono-business-register span-24" >
  <h1>Configure your digital receipt</h1>

  <%= form_tag( primary_place_users_businesses_path) do %>
   <p>
    <%= label_tag :business_name, 'name' ,:class=>"hide" %>
    <%= text_field_tag :business_name , @cname || "" , :class=>"title business bcomplete double",:placeholder=>"Company name" %>
  </p>

  <p>
    <%= label_tag :name, 'name' ,:class=>"hide" %>
    <%= text_field_tag :name , @place.try(:name) || "" , :class=>"title branch double",:placeholder=>"Branch name" %>
  </p>

  <p>
    <%= label_tag :location, 'location' ,:class=>"hide" %>
    <%= text_field_tag :location ,@location || "", :class=>"title double", :placeholder=>"Enter you city and country name" %>
  </p>


  <p>
    <%= label_tag :street_address, 'street_address' ,:class=>"hide" %>
    <%= text_field_tag :street_address ,@street_address || "", :class=>"title double", :placeholder=>"Enter your branch address" %>
  </p>

  <div id="map_canvas" style="width:412px; height:400px" class="google_map"></div>

  <p>
    <%= label_tag :cross_street , 'cross_street' ,:class=>"hide" %>
    <%= text_field_tag :cross_street ,@cross_street || "", :class=>"title double", :placeholder=>"cross street" %>
  </p>
  <p class="clearfix">
    <%= label_tag :neighborhood ,"neighborhood", :class=>"hide"%>
    <%= text_field_tag :neighborhood , @neighborhood || "",:class=>"title", :placeholder=>"neighborhood" , :class=>"title double" %>
  </p>

  <p >
    <%= label_tag :phone ,"phone", :class=>"hide"%>
    <%= text_field_tag :phone , @phone || "" ,:class=>"title", :placeholder=>"Phone" , :class=>"title double" %>
  </p>



  <%= hidden_field_tag :lat %>
  <%= hidden_field_tag :long %>
  <p>
    <%= submit_tag "Save" %>
  </p>
  <% end %>
</div>

