<h1>Listing print_jobs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ran</th>
    <th>Log</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @print_jobs.each do |print_job| %>
  <tr>
    <td><%= print_job.name %></td>
    <td><%= print_job.ran %></td>
    <td><%= print_job.log %></td>
    <td><%= link_to 'Show', print_job %></td>
    <td><%= link_to 'Edit', edit_print_job_path(print_job) %></td>
    <td><%= link_to 'Destroy', print_job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Print job', new_print_job_path %>
