<% title "Transaction Types" %>

<table class="mono-table" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Actions</th>
    <th>Fees Amount</th>
    <th>Fees Percentage %</th>
    <th></th>
  </tr>

<% @transaction_types.each do |transaction_type| %>
  <tr>
    <td><%= transaction_type.name %></td>
    <td><%= transaction_type.actions.collect{|action| action.name}.join(' , ') %></td>
    <td><%= transaction_type.fee_amount %></td>
    <td><%= transaction_type.fee_percentage %></td>
    <td><%= link_to 'Edit', edit_transaction_type_path(transaction_type) %></td>
    <td><%= button_to 'Destroy', transaction_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br/>
<%= link_to 'New Transaction Type', new_transaction_type_path %>
