<%= javascript_include_tag 'prototype' %>
<%= calendar_date_select_includes %>
<% CalendarDateSelect.format=(:iso_date)%>

<%= form_for [@business ,@place,@item] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
   <p>
    <%= f.label :available %><br />
    <%= f.select :available, options_for_select([ ['yes', 'true'],['no','false']],@item.available)%>
  </p>
  <p>
    <%= f.label :expiry_date %>
    <%= f.calendar_date_select :expiry_date %>
  </p>
  <p>
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </p>
  <p>
    <%= f.label :product_code %><br />
    <%= f.text_field :product_code %>
  </p>
  <p><%= f.submit %></p>
<% end %>
