<% title "Item" %>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Product Code:</strong>
  <%= @item.product_code %>
</p>

<p>
  <%= link_to "Edit", edit_business_place_item_path(@business,@place,@item) %> |
  <%= link_to "Destroy", business_place_item_path(@business,@place,@item), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_place_items_path(@business,@place) %>
</p>
