<h1>Listing templates</h1>

<table>
  <tr>
    <th>
      Name
    </th>
     <th>
      front
    </th>   
     <th>
      Back
    </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @templates.each do |template| %>
  <tr>
    <td> <%= template.name %></td>
    <td> <%= image_tag template.front_photo_url(:thumb).to_s %></td>
    <td> <%= image_tag template.back_photo_url(:thumb).to_s %></td>
    <td><%= link_to 'Show', template %></td>
    <td><%= link_to 'Edit', edit_template_path(template) %></td>
    <td><%= link_to 'Destroy', template, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template', new_template_path %>
