<p id="notice"><%= notice %></p>
<p>
  <%= @template.name %>
</p>
<p>
  <%= image_tag @template.front_photo_url.to_s %>
  <%= image_tag @template.back_photo_url.to_s %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
