<%= form_for @newsletter do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :letter_type %><br />
    <%= f.check_box :letter_type %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p><%= f.submit %></p>
<% end %>
