<%= form_for @newsletter do |f| %>
  <%= f.error_messages %>
  <!--<p>
    <%= f.label :letter_type ,"I am personally interested" %><br />
    <%= f.check_box :letter_type %>
  </p>-->
  <p>
    <%= f.label :name , "Business Name" %><br />
    <%= f.text_field :name , :class => "text"%>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email , :class =>"text"%>
  </p>
  <p>
    <%= f.label :city %><br/>
    <%= f.text_field :city , :class =>"text" %>
  </p>
 <!--<p>
   <%= f.label :country %><br/>
   <%= f.text_field :country  , :class=>"text"%>
  </p>
  -->

  <p><%= f.submit "I want to stay tuned !" ,:class=>"submit"%></p>
<% end %>
