<% title "Item | #{@item.name}" %>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @item.cost %>
</p>

<p>
  <strong>Product Code:</strong>
  <%= @item.product_code %>
</p>
<p>
  <strong>Available ?</strong>
  <%= @item.available %>
</p>
<p>
  <b>Photo:</b>
  <% if @item.item_image%>
    <%= image_tag @item.item_image.photo.url(:normal) %>
  <% end %>
</p>
<p>
  <%= link_to "Edit", edit_business_item_path(@business,@item) %> |
  <%= link_to "Destroy", business_item_path(@business,@item), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_items_path(@business) %>
</p>
