<% title "Listing Programs" %>

<table class="mono-table" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Auto enroll</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Business</th>
    <th>Initial points</th>
    <th>Max points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programs.each do |program| %>
  <tr>
    <td><%= link_to program.name, program %></td>
    <td><%= program.program_type_id %></td>
    <td><%= program.auto_enroll %></td>
    <td><%= program.start_date %></td>
    <td><%= program.end_date %></td>
    <td><%= program.business_id %></td>
    <td><%= program.initial_points %></td>
    <td><%= program.max_points %></td>
    <td><%= link_to 'Show', program %></td>
    <td><%= link_to 'Edit', edit_program_path(program) %></td>
    <td><%= button_to "Destroy", program_path(program), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Program', new_program_path %>
