<% title "Program: #{@program.name}" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @program.name %>
</p>

<p>
  <b>Type:</b>
  <%= @program.program_type_id %>
</p>

<p>
  <b>Auto enroll:</b>
  <%= @program.auto_enroll %>
</p>

<p>
  <b>Start date:</b>
  <%= @program.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @program.end_date %>
</p>

<p>
  <b>Business:</b>
  <%= @program.business_id %>
</p>

<p>
  <b>Initial points:</b>
  <%= @program.initial_points %>
</p>

<p>
  <b>Max points:</b>
  <%= @program.max_points %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
