<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
jQuery(function(){
    jQuery('select#brand_id').bind('change',function(){
      var brand_id = jQuery(":selected", this).val();
      jQuery.getScript("/rewards/update_businesses/"+brand_id);
    });        
  
   jQuery('select#business_id').bind('change',function(){
      var business_id = jQuery(":selected", this).val();
      jQuery.getScript("/rewards/update_programs/"+business_id);
    }); 
    
    jQuery('select#program_id').bind('change',function(){
      var program_id = jQuery(":selected", this).val();
      jQuery.getScript("/rewards/update_campaigns/"+program_id);
    }); 
    
    jQuery('select#campaign_id').bind('change',function(){
      var campaign_id = jQuery(":selected", this).val();
      jQuery.getScript("/rewards/update_items/"+campaign_id);
    }); 
  
})
//]]>
</script>

<%= f.error_messages %>
<p class="subcap">Rewards are items that your customers can redeem after earning enough points or stamps.</p>
<div id="left_main">
   <div class="row">
     <div class="basic_info_caption1"> Objective</div>
      <select>
        <option value="">Attarct New Customer</option>
        <option value="">Retain Customers</option>
      </select>
      <br />
    </div>
    <div class="row">
     <div class="basic_info_caption1"> Reward Type</div>
      <select>
        <option value="">from the menu – item</option>
      </select> <br />
      <br />
     </div>
 
  <fieldset>
    <legend>Create The card</legend>
    <div class="row">
      <div class="basic_info_caption1">Card Template</div>
      <select><option>punch card</option></select>
    </div> 
    <div class="row">
      <div class="basic_info_caption1">What is the Reward?</div>
      <%= f.text_field :name, :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Add a Short Description</div>
      <%= f.text_area :heading1, :class=>"basic_info_input", :rows=>5 %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Description</div>
      <%= f.text_area :heading2, :class=>"basic_info_input", :rows=>5 %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Set the goal required to unlock this reward</div>
      <div id="Enter_Num_Stamp">
        <%= f.text_field :needed_amount ,:class=>'enter_value_g',:id=> "reward_stamps" %>
      </div>
      <div id="points" class="setgoaltype"></div>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Image</div>
      <input type="file" name="upload[photo]"/>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Legal Terms</div>
      <%= f.text_area :legal_term %>
    </div>
  </fieldset>
  <div class="row">
    <div class="basic_info_caption1">Brand</div>
    <p><%= select_tag :brand_id ,"<option value=''>Select One...</option>".html_safe + options_from_collection_for_select(@brands , :id, :name) %></p>
  </div>
  <div class="row">
    <div class="basic_info_caption1">Business</div>
    <p><%= select_tag :business_id , ""%></p>
  </div>	
  <div class="row">
    <div class="basic_info_caption1">Program</div>
    <p><%= select_tag :program_id , ""%></p>
  </div>
  <div class="row">
    <div class="basic_info_caption1">Campaign</div>
    <p><%= select_tag :campaign_id , ""%></p>
  </div>
  <div class="row">
    <div class="basic_info_caption1">How many times can this reward be claimed?</div>
    <%= f.text_field :max_claim , :class=>"basic_info_input"%>
  </div>
  <div class="row">
   <div class="basic_info_caption1">Start Date</div>
    <%= datetime_select("reward", "start_date", {:order => [:day,:month, :year,:hour],:prompt =>["day", "month", "year", "hour"], :discard_minute => true, :use_month_names => MONTHS},{:class =>'small'})  %>
  	<br /><br />
  </div>
  	  
  <fieldset >
     <legend>Who is this reward offered to<legend>
      <select>
        <option 1>Attract New Customers   </option 1>
        <option 2>Attract Exisit Customers</option 2>
       </select>
       <br />
  </fieldset> <br />
  <fieldset>
    <legend>Settings</legend>
    <div class="row">
      <%= f.fields_for :items,@reward.items do |item_form| %>  
         <div class="basic_info_caption1">Item</div>
         <%= select_tag :item_id , ""%>
      <% end %> 
    </div>
    <div class="row">
      <div class="basic_info_caption1">Sales Price</div>
      <%= f.text_field :sales_price, :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Cost</div>
      <%= f.text_field :cost, :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Offer Price</div>
      <%= f.text_field :offer_price, :class =>"basic_info_input"  %>
    </div>
     <div class="row">
      <div class="basic_info_caption1">Total Quantity Available</div>
      <%= text_field_tag :total_quantity_available ,"", :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">
        Max Enjoyments Per User
      </div><%= f.text_field :max_claim_per_user , :class=>"basic_info_input"%>
      </div>
      <div class="row">
      <div class="basic_info_caption1">
        Foreign-Identifier
      </div><%= f.text_field :foreign_identifier , :class=>"basic_info_input"%>
      </div>
  </fieldset>
      <div class="row">
        <input type="submit" value="" name="commit" id="save_cont_btn" class="save">
  			<%= link_to "Cancel", rewards_path, :class => "cancel right" %>
  		</div>
  	</div>
</div>  	
	<br/>
	<br/>
	<br/>
	<script language="javascript" type="text/javascript">
//<![CDATA[
	jQuery(function() {
					jQuery('#goal_type').change(function(){
							jQuery('.setgoaltype').hide();
							jQuery('#' + jQuery(this).val()).show();
					});
			});


	jQuery(function() {
			jQuery('#reward_runtill').change(function(){
					jQuery('.runtill').hide();
					jQuery('#' + $(this).val()).show();
			});
	});
	//]]>
	</script><!-- End of Wrap -->
