                    <%= form_for [@business,@campaign,@reward ] do |f| %>
							<h2 title="Add Reward" class="rewardheading">
								Add a Reward
							</h2>
							<p class="subcap">
								Rewards are items that your customers can redeem after earning enough points or stamps.
							</p>
							<div id="left_main">
								<div class="row">
									<div class="basic_info_caption1">
										What is the Reward?
                                                                              </div>
                                                                              <%= f.text_field :name, :class =>"basic_info_input"  %>
                                                                            
                                                                </div>
								<div class="row">
									<div class="basic_info_caption1">
										Add a Short Message
                                                                        </div>
                                                                        <%= f.text_area :description, :class=>"basic_info_input", :rows=>5 %>
								</div>
								<div class="row">
									<div class="basic_info_caption1">
										Add the venues that will offer this reward
                                                                              </div>
                                                                              <div style="clear:both"></div>
                                                                              <div class="place-checkbox">
                                                                                 <%= f.label :places, "Places" %><br />
		<% @places.each do |place| %>
			<%= check_box_tag("reward[places_list][#{place.id}]", 
                        "1", 
                        @reward.places.detect{|c| c.id == place.id}) %>
			<%= "#{place.name}"%><br />
                      <% end %>
                    </div>
 
								</div>
								<div class="row">
									<div class="basic_info_caption1">
										Set the goal required to unlock this reward
									</div>
									<div id="Enter_Num_Stamp">
                                                                          <%= f.text_field :points ,:class=>'enter_value_g',:id=> "reward_stamps" %>
									</div><select class="selectgoaltype" id="goal_type">
										<option value="points">
											Points
										</option>
										<option value="stamps">
											Stamps
										</option>
									</select>
									<div id="points" class="setgoaltype"></div>
									<div id="stamps" class="setgoaltype" style="display:none">
				
                                                                          <%= select :reward,:engagement_id ,[],:prompt=>"select one",:id =>'reward_stamp_type',:class=>"selectStampType"%>
									</div>
								</div>
								<div class="row">
									<div class="basic_info_caption1">
										How many times can this reward be claimed?
									</div>
                    <%= f.text_field :claim , :class=>"basic_info_input"%>
                  </div>
								<div class="row">
									<div class="basic_info_caption1">
										This reward will be available untill
									</div><select class="selectruntime" id="reward_runtill">
										<option value="stop">
											I Stop it
										</option>
										<option value="stop">
											A set time
										</option>
										<option value="setnum">
											A set number of people get it
										</option>
										<option value="sellout">
											It sells out
										</option>
									</select>
									<div id="stop" class="runtill"></div>
									<div id="setnum" class="runtill" style="display:none">
										Enter the maximum number you want to grant
									</div>
									<div id="sellout" class="runtill" style="display:none">
										Enter the maximum number available
									</div>
								</div>
                                                                <div class="row">
									<input type="submit" value="" name="commit" id="save_cont_btn" class="save" /><a class="cancel right" href="/rewards/new">Cancel</a>
								</div>
							</div>
  <% end %>
  
  
  
<script language="javascript" type="text/javascript">
//<![CDATA[
		$(function() {
				$('#goal_type').change(function(){
            $('.setgoaltype').hide();
            $.getScript("<%= stamps_business_campaign_engagements_path %>.js",function(data){});
						$('#' + $(this).val()).show();
				});
		});


		$(function() {
				$('#reward_runtill').change(function(){
						$('.runtill').hide();
						$('#' + $(this).val()).show();
				});
		});
		//]]>
		</script><!-- End of Wrap -->

