<% title "Reward" %>

<% 
  reward_type = if @reward.engagement.blank? 
    "Points"
  else
    "Stamps" 
  end            
%>


<p>
  <strong>Name:</strong>
  <%= @reward.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @reward.description %>
</p>
<p>
  <strong><%= reward_type %>
  </strong>
  <%= @reward.points %>
</p>
<% unless @reward.engagement.blank? %>
<p>
  <strong>Stamp Description</strong>
  <%= @reward.engagement.name %>
</p>
<% end %>
<p>
  <strong>Active Places</strong>
  <% for place in @reward.places %>
  <br/><%= place.name %>    
  <% end %>
</p>

<p>
  <strong>Price</strong>
  <%= @reward.price %>
</p>

<p>
  <strong>Product Id</strong>
  <%= @reward.product_id %>
</p>
<p>
  <%= link_to "Edit", edit_business_reward_path(@business, @reward) %> |
  <%= link_to "Destroy", business_engagement_path(@business, @reward), :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to "Back to List", business_rewards_path(@business) %>
</p>
