<% title "Reward" %>

<p>
  <strong>Name:</strong>
  <%= @reward.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @reward.description %>
</p>
<p>
  <strong>Program:</strong>
  <%= @reward.try(:campaign).try(:program).try(:program_type_name) %>
</p>

<p>
  <strong>Campaign:</strong>
  <%= @reward.try(:campaign).try(:name)  %>
</p>
<p>
  <strong>Needed_amount</strong>
  <%= @reward.needed_amount %>
</p>
<% @reward.campaign.engagements.each do |en| %>
<p>
  <strong>Stamp Description</strong>
  <%= en.name %>
</p>
<% end %>


<p>
  <%= link_to "Edit", edit_reward_path(@reward) %> |
  <%= button_to "Destroy", reward_path(@reward), :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to "Back to List", rewards_path %>
</p>
