<% title "Reward" %>

<p>
  <strong>Name:</strong>
  <%= @reward.name %>
</p>
<p>
  <strong>Engagement:</strong>
  <%= @reward.engagement_id %>
</p>

<p>
  <%= link_to "Edit", edit_business_campaign_engagement_reward_path(@business, @campaign, @engagement, @reward) %> |
  <%= link_to "Destroy", business_campaign_engagement_reward_path(@business, @campaign, @engagement, @reward), :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to "Back to List", business_campaign_engagement_rewards_path(@business, @campaign, @engagement) %>
</p>
