<% title "Reward" %>

<p>
  <strong>Name:</strong>
  <%= @reward.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @reward.description %>
</p>
<p>
  <strong>Program:</strong>
  <%= @reward.try(:program).try(:name) %>
</p>
<p>
  <strong>Points</strong>
  <%= @reward.points %>
</p>
<% @reward.engagements.each do |en| %>
<p>
  <strong>Stamp Description</strong>
  <%= en.name %>
</p>
<% end %>
<p>
  <strong>Active Places</strong>
  <% for place in @reward.places %>
  <br/><%= place.name %>    
  <% end %>
</p>

<p>
  <strong>Price</strong>
  <%= @reward.price %>
</p>

<p>
  <strong>Product Id</strong>
  <%= @reward.product_id %>
</p>
<p>
  <%= link_to "Edit", edit_reward_path(@reward) %> |
  <%= button_to "Destroy", reward_path(@reward), :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to "Back to List", rewards_path %>
</p>
