<%= form_for(@qr_code) do |f| %>
  <% if @qr_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qr_code.errors.count, "error") %> prohibited this qr_code from being saved:</h2>

      <ul>
      <% @qr_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :place_id %><br />
    <%= f.text_field :place_id %>
  </div>
  <div class="field">
    <%= f.label :engagement_id %><br />
    <%= f.text_field :engagement_id %>
  </div>
  <div class="field">
    <%= f.label :hash_code %><br />
    <%= f.text_field :hash_code %>
  </div>
   <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
    </div> 
    <div class="field">
    <%= f.label :code_type %><br />
    <%= f.check_box :code_type %>
    </div> 
 
   <div class="field">
    <%= f.label :point %><br />
    <%= f.text_field :point %>
  </div>   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
