
<%= form_for(@qr_code) do |f| %>
  <% if @qr_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qr_code.errors.count, "error") %> prohibited this qr_code from being saved:</h2>

      <ul>
      <% @qr_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "shared/engagement_selector" %>

  <p class="row">
    <%= f.label :associatable_id %><br />
    <%= f.collection_select :associatable_id , @engagements ,:id , :name, :include_blank=>"No engagement" %>
  </p>
    <%= f.hidden_field :associatable_type, :value=>"Engagement"%>
  <p class="row">
    <%= f.label :status , "Active" %>
    <%= f.check_box :status %>
  </p>
  <p class="row">
    <%= f.label :code_type , "Multi use" %><br />
    <%= f.select :code_type , [["Single Use",0],["MultiUse", 1] ]%>
  </p>
  <p class="row">
    <%= f.submit %>
  </p>
<% end %>
