
<%= form_for(@qr_code) do |f| %>
  <% if @qr_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qr_code.errors.count, "error") %> prohibited this qr_code from being saved:</h2>

      <ul>
      <% @qr_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= render "shared/engagement_selector" %>


  <div class="field">
    <%= f.label :associatable_id %><br />
    <%= f.collection_select :associatable_id , @engagements ,:id , :name, :include_blank=>"No engagement" %>
  </div>

   <div class="field">
    <%= f.label :status , "Active" %><br />
    <%= f.check_box :status %>
    </div> 
    <div class="field">
    <%= f.label :code_type , "Multi use" %><br />
    <%= f.select :code_type , [["Single Use",0],["MultiUse", 1] ]%>
    </div> 
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
