<h1>Listing qr_codes</h1>
<style type="text/css" media="screen">
  table , tr , td{
    border:1px #ccc solid
  }
</style>
<table>
  <tr>
    <th>Code</th>
    <th>Engagment</th>
    <th>Hash code</th>
    <th>Status</th>
    <th>Secret Code</th>
    <th>Type</th>
    <th>Business</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qr_codes.each do |qr_code| %>
  <tr>
    <td><%= image_tag qr_code.qr_image, :width=>"50%"  %></td>
    <td><%= qr_code.engagement.name %></td>
    <td><%= qr_code.hash_code %></td>
    <td><%= raw qr_code.status ? "<strong style='color:green'>Active</strong>" : "<strong style='color:red'>Inactive</strong>" %></td>
    <td><%= sanitize qr_code.unique_code %></td>
    <td>
      <% if (qr_code.code_type) %>
        <strong style="color:blue">Multi Use</strong>
      <% else %>
        <strong> Single Use</strong>
      <% end %>
    </td>
    <td>
       <%= qr_code.business_name  %>
    </td>
    <td><%= link_to 'Show', qr_code_path(qr_code.hash_code) %></td>
    <td><%= link_to 'Edit', edit_qr_code_path(qr_code) %></td>
    <td><%= link_to 'Destroy', qr_code , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add QrCodes' , panel_qr_codes_path  %>
