<% title "Manage QrCodes" %>
<style type="text/css" media="screen">
  table {
    margin-top:10px;
    border:1px #ccc solid;
  }
  th,td{
    border-right:1px #ccc solid;
    border-bottom:1px #ccc solid;
    text-align:center;
    padding:3px;
  }
  th{
    background:#d2d2d2;
  }
  select#template_id,select.filter{
    width:150px;
  }

  a{
    padding:3px;
    text-decoration:none;
  }
  a:hover{
    background:#9BE1FB;
  }
  #test{
    margin-bottom:10px;
  }
  .efilter{
    width:140px;
  }
  #filters{
  }

</style>

<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
$(function(){
    //$('form input[name=utf8]').remove();
    //$('form input[name=authenticity_token]').remove();
    $('select.filter').bind('change',function(){
      var url = $(this).closest('form').serialize();
      window.location="/qr_codes?"+url;
    });

    $("input.complete").keyup(function(event){
      if(event.keyCode == 13){
        var url = $(this).closest('form').serialize();
        window.location="/qr_codes?user_id="+jQuery('.associate').val();
      }
    });
    $('select#brand_id').bind('change',function(){
      var brand_id = $(":selected", this).val();
      $.getScript("/qr_codes/update_businesses/"+brand_id);
    });

    $('select#business_id').bind('change',function(){
      var business_id = $(":selected", this).val();
      $.getScript("/qr_codes/update_programs/"+business_id);
    });

     $('select#program_id').bind('change',function(){
      var program_id = $(":selected", this).val();
      $.getScript("/qr_codes/update_campaigns/"+program_id);
    });

    $('select#campaign_id').bind('change',function(){
      var campaign_id = $(":selected", this).val();
      $.getScript("/qr_codes/update_engagements/"+campaign_id);
    });
    $('#filter_users').bind('change',function(){
     if ($(this).is(":checked")){
      $('#engegement_details').hide();
      $('#user_details').show();
     } 
    });
    $('#filter_engagements').bind('change',function(){
     if ($(this).is(":checked")){
      $('#user_details').hide();
      $('#engegement_details').show();
     } 
    });
    jQuery("#user_id").autocomplete({
      source:"/get_users.json",
      select:function(e,ui){
        jQuery("#associatable_user_id.associate").val(ui.item.id);
      }
    });
    jQuery("#list_all_users").bind('change',function(){
      if ($(this).is(":checked")){
        window.location="/qr_codes?all_users=1";
      } 
    });
    jQuery("#list_all_engagements").bind('change',function(){
      if ($(this).is(":checked")){
        window.location="/qr_codes?all_engs=1";
      } 
    });

})
//]]>
</script>

<div id="filters">
<fieldset>
<legend>Select Filters</legend>
 <%= form_tag(:action=>:printable, :format=>:pdf) do %>
  <p><%=radio_button_tag 'filter', 'users', @users_listing %> <%=label_tag 'Associated to users'%></p>
  <%if @users_listing%>
    <div id="user_details">
  <%else%>
    <div id="user_details" style="display:none">
  <%end%>
    <%=label_tag "Username / First Name" %><br/>
    <%= text_field_tag :user_id , "" , :class=>"complete"%>
    <%= hidden_field_tag :associatable_user_id , nil , :class=>"associate" %>
    Or <%= check_box_tag :list_all_users%><%=label_tag "List all" %>
   </div>
  <p><%=radio_button_tag 'filter', 'engagements', !@users_listing %><%=label_tag 'Associated to engagements'%></p>
  <%if !@users_listing%>
    <div id="engegement_details">
  <%else%>
    <div id="engegement_details" style="display:none">
  <%end%>
    <%= select_tag :brand_id ,"<option value=''>..Brands..</option>".html_safe + options_from_collection_for_select(@brands , :id, :name, params[:brand_id]) , :class=>"efilter"%>

    <%= select_tag :business_id , "<option value=''>..Business..</option>".html_safe +  options_from_collection_for_select(@businesses,:id,:name,params[:business_id]), :class=>"efilter" %>

    <%= select_tag :program_id , "<option value=''>..Program..</option>".html_safe +  options_from_collection_for_select(@programs,:id,:program_type_name,params[:program_id]), :class=>"efilter" %>

    <%= select_tag :campaign_id , "<option value=''>..Campaign..</option>".html_safe +  options_from_collection_for_select(@campaigns,:id,:name,params[:campaign_id]), :class=>"efilter" %>

    <%= select_tag :engagement_id , "<option value=''>..Engagements..</option>".html_safe +  options_from_collection_for_select(@engagements,:id,:name,params[:engagement_id]) , :class=>"filter"  %>

   <%=  select_tag :code_type , options_for_select( {"..Type .."=>"","OneTime Use"=>0, "MultipleTimes Use"=>1 },params[:code_type].to_s),:class=>"efilter filter" %>
    Or <%= check_box_tag :list_all_engagements%><%=label_tag "List all" %>
   </div>    
 <!--<%= submit_tag "Export to template" %>-->
  <% end %>
</fieldset>
</div>
<p><h2><b>Total: <%=@qr_codes.size%></b></h2></p>
<br />
  <%= will_paginate @qr_codes %>
<br/>
<% unless @users_listing %>
<table cellpadding="0" cellspacing="0">
  <tr>
    <th>Code</th>
    <th>Associated to</th>
    <th>Hash code</th>
    <th>Status</th>
    <th>QrType</th>
    <th>Campaign</th>
    <th>Program</th>
    <th>Business</th>
    <th>Brand</th>
    <th>Issue Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qr_codes.each do |qr_code| %>
  <tr>
    <td><%= image_tag qr_code.qr_image, :width=>"75%"  %></td>
    <td>
      <% if qr_code.engagement.blank? %>
        not associated
      <% else %>
        <%= qr_code.engagement.name %>
      <% end %>
    </td>
    <td><%= qr_code.hash_code %></td>
    <td><%= image_tag qr_code.status ?  "on.png" : "off.png" %></td>
    <td>
      <% if (qr_code.code_type) %>
        <strong style="color:blue">Multi Use</strong>
      <% else %>
        <strong> Single Use</strong>
      <% end %>
    </td>
    <td>
       <%= qr_code.engagement.try(:campaign).try(:name)  %>
    </td>
		<td>
       <%= qr_code.engagement.try(:campaign).try(:program).try(:program_type_name)  %>
		</td>
    <td>
       <%= qr_code.engagement.campaign.program.business.name  if qr_code.engagement  %>
     </td>
     <td>
      <% if qr_code.engagement.blank? %>
        N/A
      <% else %>
        <%= qr_code.engagement.try(:campaign).try(:program).try(:business).try(:brand).try(:name) %>
      <% end %>
      </td>
      <td>
        <%= qr_code.created_at.to_formatted_s(:long) %>
      </td>
    <td><%= link_to 'View', qr_code_path(qr_code) %></td>
    <td><%= link_to 'Edit', edit_qr_code_path(qr_code) %></td>
    <td><%= link_to 'Destroy', qr_code , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%else%>
<table cellpadding="0" cellspacing="0">
  <tr>
    <th>Code</th>
    <th>Associated to</th>
    <th>Hash code</th>
    <th>Status</th>
    <th>QrType</th>
    <th>Issue Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @qr_codes.each do |qr_code| %>
  <tr>
    <td><%= image_tag qr_code.qr_image, :width=>"20%"  %></td>
    <td><a href="#"> <%= User.find(qr_code.associatable_id).full_name %></a></td>
    <td><%= qr_code.hash_code %></td>
    <td><%= image_tag qr_code.status ?  "on.png" : "off.png" %></td>
    <td>
      <% if (qr_code.code_type) %>
        <strong style="color:blue">Multi Use</strong>
      <% else %>
        <strong> Single Use</strong>
      <% end %>
    </td>
    <td><%= qr_code.created_at.to_formatted_s(:long) %></td>
    <td><%= link_to 'View', qr_code_path(qr_code) %></td>
    <td><%= link_to 'Edit', edit_qr_code_path(qr_code) %></td>
    <td><%= link_to 'Destroy', qr_code , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%end%>
<br />
  <%= will_paginate @qr_codes %>
<br/>
<div>
  <strong style="color:red">
    NB: QrCodes which are not associated with an engagement automatically will be ignored for printing
  </strong>
</div>
