<h1>Listing qr_codes</h1>
<style type="text/css" media="screen">
  table {
    margin-top:10px;
    border:1px #ccc solid;
  }
  th,td{
    border-right:1px #ccc solid;
    border-bottom:1px #ccc solid;
    text-align:center;
    padding:5px;
  }
  th{
    background:#d2d2d2;
  }
  select#template_id,select.filter{
    width:150px;
  }

  a{
    padding:3px;
    text-decoration:none;
  }
  a:hover{
    background:#9BE1FB;
  }
  #test{
    margin-bottom:10px;
  }
  .efilter{
    width:150px;
  }

</style>

<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
$(function(){
    //$('form input[name=utf8]').remove();
    //$('form input[name=authenticity_token]').remove();
    $('select.filter').bind('change',function(){
      var url = $(this).closest('form').serialize();
      window.location="/qr_codes?"+url;
    })   

    $('select#brand_id').bind('change',function(){
      var brand_id = $(":selected", this).val();
      $.getScript("/qr_codes/update_businesses/"+brand_id);
    });        
    
    $('select#business_id').bind('change',function(){
      var business_id = $(":selected", this).val();
      $.getScript("/qr_codes/update_engagements/"+business_id);
    });   



})
//]]>
</script>
<div id="test">
  <%= link_to 'Issue QrCodes' , panel_qr_codes_path  %>
</div>
<div id="filters">
  <%= form_tag(:action=>:printable, :format=>:pdf) do %>
    <%= select_tag :template_id ,  options_from_collection_for_select(@templates,:id,:name) %>
    <%=  select_tag :code_type , options_for_select( {"..Type .."=>"","OneTime Use"=>0, "MultipleTimes Use"=>1 },params[:code_type].to_s),:class=>"filter" %>
    
    
    <%=  select_tag :status , options_for_select( {"..Status.."=>"", "Inactive"=>0, "Active"=>1 },params[:status].to_s) ,:class=>"filter"%>
    

    <% print_options =   "<option value=''> ..ExportJob.. </option>".html_safe + options_from_collection_for_select(@print_jobs,:id,:name,params[:print_job_id].to_s) %>
    <%= select_tag :print_job_id ,print_options,:class=>"filter"  %>
    <br/>

    <%= select_tag :brand_id ,"<option value=''>..Brands..</option>".html_safe + options_from_collection_for_select(@brands , :id, :name) , :class=>"efilter"%>

    <%= select_tag :business_id , "<option value=''>..Business..</option>".html_safe , :class=>"efilter" %>

    <%= select_tag :engagement_id , "<option value=''>..Engagements..</option>".html_safe +  options_from_collection_for_select(@engagements,:id,:name,params[:engagement_id].to_s) , :class=>"filter"  %>

    <%= select_tag :layout , options_for_select({ "Single Use Layout"=>0,"Multi Use Layout "=>1 }),:class=>"efilter" %>
    <%= submit_tag "Export to template" %>
  <% end %>
    
</div>
<table cellpadding="0" cellspacing="0">

  <tr>
    <th>Code</th>
    <th>Engagment</th>
    <th>Eng. Type</th>
    <th>Hash code</th>
    <th>Status</th>
    <th>QrType</th>
    <th>Program</th>
    <th>Business</th>
    <th>Brand</th>
    <th>Exported</th>
    <th>Issue Date</th>
     <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qr_codes.each do |qr_code| %>
  <tr>
    <td><%= image_tag qr_code.qr_image, :width=>"50%"  %></td>
    <td>
      <% if qr_code.engagement.blank? %>
        not associated
      <% else %>
        <%= qr_code.engagement.name %>
      <% end %>
    </td>
     <td>
      <% if qr_code.engagement.blank? %>
        "not"
      <% else %>
        <%= qr_code.engagement.engagement_type %>
      <% end %>
    </td>   
    <td><%= qr_code.hash_code %></td>
    <td><%= image_tag qr_code.status ?  "on.png" : "off.png" %></td>
    <td>
      <% if (qr_code.code_type) %>
        <strong style="color:blue">Multi Use</strong>
      <% else %>
        <strong> Single Use</strong>
      <% end %>
    </td>
		<td>
       <%= qr_code.engagement.try(:program).try(:name)  %>
		</td>
    <td>
       <%= qr_code.business_name  %>
     </td>
     <td>
      <% if qr_code.engagement.blank? %>
        N/A
      <% else %>
        <%= qr_code.engagement.try(:program).try(:business).try(:brand).try(:name) %>
      <% end %>
      </td>
      <td>
       <% unless qr_code.exported? %>
         not printed
       <% else %>
         printed
        <% end %>
      </td>
      <td>
        <%= qr_code.created_at.to_formatted_s(:long) %>
      </td>
    <td><%= link_to 'Show', "images/qrcodes/#{qr_code.hash_code}.png" %></td>
    <td><%= link_to 'Edit', edit_qr_code_path(qr_code) %></td>
    <td><%= link_to 'Destroy', qr_code , :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<div>
  <strong style="color:red">
    NB: QrCodes which are not associated with an engagement automatically will be ignored for printing
  </strong>
</div>
