<% title @engagement.present? ? @engagement.name : "#{@user.full_name}'s Code"%>
<% if @total_scans.present? and @total_people.present? %>
<p>Total scans <%=@total_scans%> times by <%=@total_people%> <%=@total_people==1 ? "person" : "people"%></p>
<%end%>
<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Code</th>
    <th>Reference Number</th>
    <th>Status</th>
    <th>QrType</th>
    <th>Issue Date</th>
    <th>Number of scans</th>
    <th>Scanned by # of people</th>
  </tr>
<% @qrcodes.each do |qr_code| %>
  <tr>
    <td><%= link_to (image_tag qr_code.qr_image, :width=>"50px", :height=>"50px"), qr_code_path(qr_code)  %></td>
    <td><%= qr_code.hash_code %></td>
    <td><%= image_tag qr_code.status ?  "on.png" : "off.png" %></td>
    <td>
      <% if (qr_code.code_type) %>
        <strong style="color:blue">Multi Use</strong>
      <% else %>
        <strong> Single Use</strong>
      <% end %>
    </td>
    <td><%= qr_code.created_at.to_formatted_s(:long) %></td>
    <td><%= qr_code.number_of_scans%></td>
    <td><%= qr_code.number_of_people %></td>
  </tr>
<% end %>
</table>

<br />

