<%title 'Issue QrCode'%>
<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
$(function(){
  $('select#brand_id').bind('change',function(){
    var brand_id = $(":selected", this).val();
    $.getScript("/qr_codes/update_businesses/"+brand_id);
  });        
  
  $('select#business_id').bind('change',function(){
    var business_id = $(":selected", this).val();
    $.getScript("/qr_codes/update_programs/"+business_id);
  }); 
  
  $('select#program_id').bind('change',function(){
    var program_id = $(":selected", this).val();
    $.getScript("/qr_codes/update_campaigns/"+program_id);
  }); 
  
  $('select#campaign_id').bind('change',function(){
    var campaign_id = $(":selected", this).val();
    $.getScript("/qr_codes/update_engagements/"+campaign_id);
  });   


  $("#associate_link").click(function(){
    if ($(this).html()=="Show")
      $(this).html("Hide");
    else 
      $(this).html("Show");
    $("#associate_box").slideToggle(); 
    
  })
})
//]]>
</script>

<%= form_tag do |form| %>
  <p class="row">
    <strong>QrCode Type</strong> <br/>
    <%=  select_tag :code_type , options_for_select( {"OneTime Use"=>0, "MultipleTimes Use"=>1 },1) %>
  </p>
  <p class="row">
    <strong>QrCode Status</strong> <br/>
    <%=  select_tag :status , options_for_select( {"Inactive"=>0, "Active"=>1 },1) %>
  </p>
  <p class="row">
    <strong>Quantity</strong><br/>
    <%=  text_field_tag :quantity , 1 , :class => "basic_info_input"%> *(max 100)
  </p>
  <p class="row">
    <a id="associate_link" href="#">Show</a>
  </p>
  <div id="associate_box" class="row" style="display:none">
    <strong>Associate with:</strong><br/>
    <p class="row">
      <strong>Brand</strong> <br/>
      <%= select_tag :brand_id ,"<option value=''>Select One...</option>".html_safe + options_from_collection_for_select(@brands , :id, :name) %>
    </p>
    <p class="row">
      <strong>Business</strong> <br/>
      <%= select_tag :business_id , ""%>
    </p>
    <p class="row">
      <strong>Program</strong> <br/>
      <%= select_tag :program_id , ""%>
    </p>
    <p class="row">
      <strong>Campaign</strong> <br/>
      <%= select_tag :campaign_id , ""%>
    </p>
    <% engagement_options = "<option value=''>..Engagements ..</option>".html_safe %>
    <p class="row">
     <strong>Engagement</strong> <br/>
      <%= select_tag :associatable_id , engagement_options %>
    </p>
    <%= hidden_field_tag :associatable_type, "Engagement"%>
  </div>
  <p class="row">
    <%= submit_tag "Submit" %>
  </p>
  <% end %>