 <style type="text/css" media="screen">
 .clear{
  clear:both;
 }
 .qrcode_front{
    border:#000 2px solid;
    width:300px; 
    height:300px; 
    margin-bottom:15px; 
    text-align:center ;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-top:20px;
    background: url(file://<%= Rails.public_path + @template.front_photo_url(:thumb).to_s%>) no-repeat;
    float:left;
    }
 .qrcode_back{
    border:#000 2px solid;
    width:300px; 
    height:300px; 
    margin-bottom:15px; 
    text-align:center ;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-top:20px;
    background: url(file://<%= Rails.public_path + @template.back_photo_url(:thumb).to_s%>) no-repeat;
    float:left;
    }
 </style>

<% for qrcode in @qrcodes %>
  <div class="qrcode_front" id="qr_<%= qrcode.id %> ">
  <%= wicked_pdf_image_tag "qrcodes/#{qrcode.hash_code}.png"  %>
  <br/>
    <strong><%= @template.name %></strong>
  </div> 
  
  <div class="qrcode_back" id="qr_<%= qrcode.id %> ">
    <%= wicked_pdf_image_tag "qrcodes/#{qrcode.hash_code}.png"  %>
  <br/>
    <strong><%= @template.name %></strong>
  </div> 

  <div class="clear">
    
  </div>
<% end %>


