 <style type="text/css" media="screen">
 .clear{
  clear:both;
 }

 .qrcode_back{
    width:334px; 
    height:200px; 
    text-align:center ;
    padding-top:20px;
    background: url(file://<%= Rails.public_path + @template.back_photo_url(:thumb).to_s%>) no-repeat;
    float:left;
    }
    
 </style>

<% for qrcode in @qrcodes %>
  <div class="qrcode_front" id="qr_<%= qrcode.id %>">
  <%= wicked_pdf_image_tag "qrcodes/#{qrcode.hash_code}.png"  %>
  <br/>
    <div id="front" class="qr_text">
      earn +<%= pluralize(qrcode.engagement.points, "point")%><br/>
      <%= qrcode.business_name %><br/>
      <%= qrcode.engagement.name %>
    </div>
  </div> 
  
  <div class="qrcode_back" id="qr_<%= qrcode.id %>">
    <%= wicked_pdf_image_tag "qrcodes/#{qrcode.hash_code}.png"  %>
  <br/>
    <div id="back" class="qr_text">
    <%= raw @template.description %>
    </div>
  </div> 

  <div class="clear">
  </div>
<% end %>


