<p id="notice"><%= notice %></p>


<p>
  <b>Engagment:</b>
  <%= @qr_code.engagement.name %>
</p>

<p>
  <b>Hash code:</b>
  <%= @qr_code.hash_code %>
</p>
<p>
  <b>Qr status :</b>
  <% if @qr_code.status %>
    Active
  <% else %>
    Inactive
  <% end %>
</p>
<p>
  <b>Qr Type:</b>
  <% if @qr_code.code_type %>
    Multi Use
  <% else %>
    OneTime Use
  <% end %>

</p>





<%= link_to 'Edit', edit_qr_code_path(@qr_code) %> |
<%= link_to 'Back', qr_codes_path %>
