<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<title>View Qr Code</title>
<link  href="http://fonts.googleapis.com/css?family=Cuprum:regular&v1" rel="stylesheet" type="text/css" >
<link href='http://fonts.googleapis.com/css?family=Play&subset=greek,latin&v1' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quattrocento&v1' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
<%= javascript_include_tag :defaults %>
<script type="text/javascript">
  jQuery(document).ready(function(){
    var timer, delay = 2000, index=0; 
    send_check_request();
    timer = setInterval(function(){
      send_check_request();
    }, delay);
    jQuery('.toggle_a').live('click',function(){ 
      if (jQuery(this).hasClass("selected")===false){
      jQuery(this).css('color','white');
        jQuery(this).closest('.toggle_link').children('.toggle_p').css('color','#CDCDCD');
        toggle_contents(jQuery(this));       
        jQuery(this).addClass('selected');
        jQuery(this).closest('.toggle_link').children('.toggle_p').removeClass('selected');
      }
    });
    jQuery('.toggle_p').live('click',function(){
      if (jQuery(this).hasClass("selected")===false){
        jQuery(this).css('color','white');        
        jQuery(this).closest('.toggle_link').children('.toggle_a').css('color','#CDCDCD');
        toggle_contents(jQuery(this));
        jQuery(this).addClass('selected');
        jQuery(this).closest('.toggle_link').children('.toggle_a').removeClass("selected");
      }
    });
    function toggle_contents(object){
      feed_text=object.closest('.usr_com').children('.feed_entry').html();
      transactions_text=object.closest('.usr_com').children('.transaction_details').html();
      object.closest('.usr_com').children('.feed_entry').html(transactions_text);
      object.closest('.usr_com').children('.transaction_details').html(feed_text);        
    }
    function send_check_request(){
      jQuery.ajax({
        type: 'GET',
        url: '/check_status/<%=@qr_code.id%>?index='+index,
        ifModified: true,
        success: function(data){
          if(data!=null){
            if(data.response_text!="" && index!=data.index){
              jQuery('.container').append(data.response_text);
              jQuery('#scanning_summary').html("Scanned "+ data.no_of_scanning+" times by "+data.no_of_users+ (data.no_of_users=="1" ? " person" : " people"));
              jQuery('#code_status').html("Status: "+data.status);
            }
            index=data.index;
          }
        }
      });
    }
  });
</script>
</head>
<body style="background-color:yellow">
<div class="user_menu">
  <%if @engagement.nil?%>
    <p><%= link_to "#{User.where(:id=>@qr_code.associatable_id).first.try(:full_name)}'s Code", "/associatable/#{@qr_code.associatable_id}/qrcodes?type=1" %></p>         
  <%else%>
    <p><%= link_to @engagement.name, "/associatable/#{@engagement.id}/qrcodes?type=2" %></p>
  <%end%>
</div>
<div class="container"> 
  <div class="page">
    <div class="page_top"></div>
      <div class="page_con">  
        <div class="logo"><img src="/images/logo.png" alt="Logo" /></div>        
        <div class="qr_hold"> 
          <% if @qr_code.size || @qr_code.code_type %> 
          <table border="0" cellspacing="0" class="qr_table_large">
          <%else%>
          <table border="0" cellspacing="0" class="qr_table_small">
          <%end%>
            <tr>
    	        <td width="1" ><%=image_tag @qr_code.qr_code_image.photo.url , :class=>"qr_image"%></td>
              <td class="qr_text">
      	        <img src="/images/arrow_phone.png" class="qr_phone"/>
                <p>Snap Code using your Cashbury App. <br /> To get the App <a href="http://<%=request.host_with_port%>/foryou">follow me</a></p>
                <a href="#"><img src="/images/icon_follow.png"></a>
              </td>
            </tr>
          </table>                           
        </div><!--QR-->   
        <div class="name" style="color:#000;font-family:Quattrocento;font-size:16px">
        <!--<img src="/images/name.png" alt="Name" />-->
        <%if @engagement.nil?%>
          <b><%=User.where(:id=>@qr_code.associatable_id).first.try(:full_name) %>'s Code</b>
        <% elsif !@engagement_type.is_visit %>
          <b><%=@engagement.name.gsub("Buy ","")%> Stamp @ <%=@brand.name%></b>
        <%else%>
          <b>Visit Stamp @ <%=@brand.name%></b>
        <%end%>
        </div>                            
        <p class="bottom_text">Instructions: Present this secret code to your customers after their purchase. Hold the code upright for ease of Scanning<br />
        <span>Method: Pre-Printed digital stamp by the business owner after setting up their campaign</span></p>                        
      </div>
      <div class="page_bot"></div>
    </div><!--Page-->  
    <p class="ref_num">Issue Date: <%=@qr_code.created_at.to_formatted_s(:long)%> </p>  
	  <p class="ref_num">Reference Number: <%=@qr_code.hash_code%></p>
	  <p class="ref_num">Code Issue requested by: <%=@qr_code.created_by%> </p>
	  <p class="ref_num" id="code_status">Status: <%=@qr_code.status? ? "Active" : "Inactive" %> </p>
	  <p class="ref_num" id="scanning_summary"></p>
</div><!--Container-->
</body>
</html>
