<!DOCTYPE html>
<html>
<head>
<title>View Qr Code</title>
<style type="text/css">
  #qr_code {text-align:center;}
  #qr_code img{
    margin-top: 30px;
    background:#fff;
    border:40px red solid;
  }
  .qr_code_view_container {
    width: 380px;
    margin: 0 auto;
    font-family: Arial;
    font-size: 12px;
    padding-top:50px;
    padding-bottom:130px; 
  }
  .c_crowned_logo {
    text-align:center;
  }
  .qr_code_hash{
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;


  }
  .qr_code_hash b{margin: 0 auto;   font-size: 16px;font-family: Arial;}
  .details {padding:14px;float:left;width:100%;clear:both;}
  .details img {float:left;width:27px;margin:0 10px}
  .details p{margin:0px;font-family: Arial;color:#666;}
</style>
</head>
<body style="background-color:yellow">
<div class="qr_code_view_container">
  <div class="c_crowned_logo"><%= image_tag "/images/C-Crowned.png"  %></div>
  <div id="qr_code"><%= image_tag @qr_code.qr_code_image.try(:photo).try(:url)  %></div>
  <div class="qr_code_hash"><b>Reference Number: <%=@qr_code.hash_code%></b></div>
  <p style="color:#666; width:100%; text-align:center">
  <% unless @engagement_type.is_visit %>
  <b>Details: Get a stamp for ordering <%=@engagement.name.gsub("Buy ","")%> @ <%=@brand.name%></b>
  <%else%>
  <b>Details: Get a stamp for visiting <%=@brand.name%></b>
  <% end %>
  </p>
  <div class="details"><%= image_tag "/images/Snapit.png"  %><p><b>Snap code using your cashbury app.</b></p><p><b>To download the app follow me</b></p></div>
</div>
</body>
</html>
