<%= form_for @engagement do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :engagement_type %><br />
    <%= f.text_field :engagement_type %>
  </p>
  <p>
    <%= f.label :stamp %><br />
    <%= f.text_field :stamp %>
  </p>
  <p><%= f.submit %></p>
<% end %>
