<%= form_for [@business, @campaign, @engagement] do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name  %>
  </p>
  
  <p>
    <%= f.label :engagement_type %><br />
    <%= f.select :engagement_type, @engagement.engagement_types %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.select :state, @engagement.get_states %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </p>
  <%=  f.hidden_field :campaign_id %>
  <p>
    <%=  select("engagement", "place_id", @places.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}) %>
  
  <p><%= f.submit %></p>
<% end %>
