<% title "Engagements" %>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Engagement Type</th>
    <th>Points</th>
    <th>Is Started?</th>
  </tr>
  <% for engagement in @engagements %>
    <tr>
      <td><%= link_to engagement.name , business_campaign_engagement_url(@business, @campaign, engagement) %></td>
      <td><%= link_to engagement.engagement_type, business_campaign_engagement_url(@business, @campaign, engagement) %></td>
      <td><%= engagement.points %></td>
      <td><%= engagement.is_started? %></td>
      <td><%= link_to "Edit", edit_business_campaign_engagement_path(@business, @campaign, engagement) %></td>
      <td><%= link_to "Destroy", business_campaign_engagement_path(@business, @campaign, engagement), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Engagement", new_business_campaign_engagement_path(@business, @campaign) %></p>
