<% title "Business: #{@business.name} / Engagement for campaign: #{@campaign.name}" %>

<%= image_tag "http://qrcode.kaywa.com/img.php?s=6&t=p&d=#{@code}" %>

<p>
  <strong>Engagement Name:</strong>
  <%= @engagement.name %>
</p>
<p>
  <strong>Engagement Type:</strong>
  <%= @engagement.engagement_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= @engagement.description %>
</p>
<p>
  <strong>State:</strong>
  <%= @engagement.state %>
</p>
<p>
  <strong>Points:</strong>
  <%= @engagement.points %>
</p>
  
  
<p>
  <%= link_to "Edit", edit_business_campaign_engagement_path(@business, @campaign, @engagement) %> |
  <%= link_to "Destroy", business_campaign_engagement_path(@business, @campaign, @engagement), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_campaign_engagements_path(@business, @campaign) %>
</p>
