<% title "Business: #{@business.name} / Engagement for campaign: #{@campaign.name}" %>


<p>
  <strong>Engagement Name:</strong>
  <%= @engagement.name %>
</p>
<p>
  <strong>Engagement Type:</strong>
  <%= @engagement.engagement_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= @engagement.description %>
</p>
<p>
  <strong>Is Started?:</strong>
  <%= @engagement.is_started %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @engagement.amount %>
</p>
  
<p>
  <strong>Places:</strong>
  <% for place in @engagement.places %>
    <h3><%= place.name %></h3>
    <% if @engagement.engagement_type.downcase == "stamp" %>
     <%= image_tag Engagement.qrcode(place.id,@engagement.id, @engagement.points , @engagement.created_at ,place.created_at) %>
    <% end %>  
  <% end %>
</p>
<p>
  <%= link_to "Edit", edit_business_campaign_engagement_path(@business, @campaign, @engagement) %> |
  <%= link_to "Destroy", business_campaign_engagement_path(@business, @campaign, @engagement), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_campaign_engagements_path(@business, @campaign) %>
</p>
