<% title "Programs" %>

<h1>Listing campaigns</h1>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Business</th>
    <th>Program</th>
    <th>Initial user amount</th>
    <th>Initial biz amount</th>
    <th>Measurement Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign | %>
  <tr>
    <td><%= link_to campaign.name, business_program_campaign_url(@business, @program, campaign)%></td>
    <td><%= campaign.start_date %></td>
    <td><%= campaign.end_date %></td>
    <td><%= campaign.program.try(:business).try(:name) %></td>
    <td><%= campaign.program.try(:program_type_name) %></td>
    <td><%= campaign.initial_amount %></td>
    <td><%= campaign.initial_biz_amount %></td>
    <td><%= campaign.measurement_type.try(:name) %></td>
   
    <td><%= link_to 'Show', business_program_campaign_path(@business,@program,campaign) %></td>
    <td><%= link_to 'Edit', edit_business_program_campaign_path(@business,@program, campaign) %></td>
    <td><%= button_to "Destroy", business_program_campaign_path(@business,@program,campaign), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Campaign', new_business_program_campaign_path %><br />