<%= javascript_include_tag 'prototype' %>
<%= calendar_date_select_includes %>
<% CalendarDateSelect.format=(:iso_date)%>
<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
jQuery(function(){
  jQuery('select#campaign_id').bind('change',function(){
    var campaign_id = jQuery(":selected", this).val();
    jQuery.getScript("/rewards/update_items/"+campaign_id);
  });
})
//]]>
</script>
<%= f.error_messages %>
<p class="subcap">
	Rewards are items that your customers can redeem after earning enough points or stamps.
</p>
<div id="left_main">
  <div class="row">
    <div class="basic_info_caption1"> Objective</div>
      <select>
        <option value="">Attarct New Customer</option>
        <option value="">Retain Customers</option>
      </select><br />
  </div>
  <div class="row">
  <div class="basic_info_caption1"> Reward Type</div>
    <select>
      <option value="">from the menu – item</option>
    </select> <br /><br />
  </div>
  <fieldset>
    <legend>Create The card</legend>
    <div class="row">
      <div class="basic_info_caption1">Card Template</div>
      <select><option>punch card</option></select>
    </div> 
    <div class="row">
      <div class="basic_info_caption1">What is the Reward?</div>
      <%= f.text_field :name, :class =>"basic_info_input",:maxlength=>"16"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Add a Short Description</div>
      <%= f.text_area :heading1, :class=>"basic_info_input", :rows=>5 %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Description</div>
      <%= f.text_area :heading2, :class=>"basic_info_input", :rows=>5 %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Set the goal required to unlock this reward</div>
      <div id="Enter_Num_Stamp">
        <div class="basic_info_caption1">
          <%= f.text_field :needed_amount ,:class=>'enter_value_g',:id=> "reward_stamps" %>
          <%=@reward.try(:campaign).try(:measurement_type).try(:name)%>
        </div>
      </div>
      <div id="points" class="setgoaltype"></div>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Image</div>
      <input type="file" name="upload[photo]"/>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Legal Terms</div>
      <%= f.text_area :legal_term %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Settings</legend>
    <div class="row">  
         <div class="basic_info_caption1">Item</div>
         <%= select_tag "item_id", "<option value=''>...None...</option>".html_safe+ options_from_collection_for_select(Item.all , :id, :name, @reward.try(:items).try(:first).try(:id)) %><br /> 
    </div>
    <div class="row">
      <div class="basic_info_caption1">Sales Price</div>
      <%= f.text_field :sales_price, :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Cost</div>
      <%= f.text_field :cost, :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Offer Price</div>
      <%= f.text_field :offer_price, :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Total Quantity Available</div>
        <%= f.text_field :max_claim , :class=>"basic_info_input"%>
    </div>
    <div class="row">
      <div class="basic_info_caption1">
        Max Enjoyments Per User
      </div><%= f.text_field :max_claim_per_user , :class=>"basic_info_input"%>
      </div>
      <div class="row">
      <div class="basic_info_caption1">
        Foreign-Identifier
      </div><%= f.text_field :foreign_identifier , :class=>"basic_info_input"%>
      </div>
  </fieldset>
      <div class="row">
        <input type="submit" value="" name="commit" id="save_cont_btn" class="save">
        <%= link_to "Cancel", rewards_path, :class => "cancel right" %>
      </div>
    </div>
</div>
<br/>
<br/>
<br/>
<script language="javascript" type="text/javascript">
//<![CDATA[
jQuery(function() {
		jQuery('#goal_type').change(function(){
				jQuery('.setgoaltype').hide();
				jQuery.getScript("<%= stamps_business_program_campaign_engagements_path %>.js",function(data){});
				jQuery('#' + jQuery(this).val()).show();
		});
});


jQuery(function() {
		jQuery('#reward_runtill').change(function(){
				jQuery('.runtill').hide();
				jQuery('#' + $(this).val()).show();
		});
});
//]]>
</script><!-- End of Wrap -->
