<%= javascript_include_tag 'prototype' %>
<%= calendar_date_select_includes %>
<% CalendarDateSelect.format=(:iso_date)%>
<script type="text/javascript" language="javascript" charset="utf-8">
//<![CDATA[
jQuery(function(){
  jQuery('select#campaign_id').bind('change',function(){
    var campaign_id = jQuery(":selected", this).val();
    jQuery.getScript("/rewards/update_items/"+campaign_id);
  });
  jQuery('#description_field').keydown(function(){
    var desc_text = jQuery(this).val();
    if ( desc_text.length > 84 ){
      jQuery(this).val(desc_text.substring( 0, 84 ));
      alert( 'Description value can only be 84 characters in length.' );
      return false;
    }
    else{
      jQuery('#counter_field').val(84 - desc_text.length);
    }
  });
  
  jQuery('#reward_name_field_id').blur(function(){
    var reward_name=jQuery("#reward_name_field_id").val();
    var brand_name=jQuery("#brand_name_id").val();
    if (reward_name!="" ){
      jQuery("#fb_enjoy_msg").val("enjoyed a/an "+reward_name+" @ "+ brand_name+" by going out with Cashbury");
      jQuery("#fb_unlock_msg").val("unlocked a/an "+reward_name+" @ "+ brand_name+" by going out with Cashbury");      
    }
  });
})
//]]>
</script>
<%= f.error_messages %>
<%=hidden_field_tag :brand_name,@business.try(:brand).try(:name), :id=>"brand_name_id"%>
<p class="subcap">
	Rewards are items that your customers can redeem after earning enough points or stamps.
</p>
<div id="left_main">
  <div class="row">
    <div class="basic_info_caption1"> Objective</div>
      <select>
        <option value="">Attarct New Customer</option>
        <option value="">Retain Customers</option>
      </select><br />
  </div>
  <div class="row">
  <div class="basic_info_caption1"> Reward Type</div>
    <select>
      <option value="">from the menu – item</option>
    </select> <br /><br />
  </div>
  <fieldset>
    <legend>Create The card</legend>
    <div class="row">
      <div class="basic_info_caption1">Card Template</div>
      <select><option>punch card</option></select>
    </div> 
    <div class="row">
      <div class="basic_info_caption1">What is the Reward?</div>
      <%= f.text_field :name, :class =>"basic_info_input",:maxlength=>16, :id=>"reward_name_field_id"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Add a Short Description</div>
      <%= f.text_field :heading1, :class=>"basic_info_input", :maxlength=>40, :rows=>5 %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Description</div>
      <%= f.text_area :heading2, :class=>"basic_info_input",:id=>"description_field",:maxlength=>84,:rows=>5 %>
    </div>
    <div class="row">
      <input type="text" name="counter" maxlength="3" size="3" value="84" id="counter_field"> chars remaining
    </div>
    <div class="row">
      <div class="basic_info_caption1">Facebook msg when user unlocks a reward</div>
      <%= f.text_field :fb_unlock_msg, :class=>"basic_info_input", :maxlength=>150, :id=>"fb_unlock_msg" %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Facebook msg when user enjoys a reward</div>
      <%= f.text_field :fb_enjoy_msg, :class=>"basic_info_input", :maxlength=>150, :id=>"fb_enjoy_msg" %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Set the goal required to unlock this reward</div>
      <div id="Enter_Num_Stamp">
        <div class="basic_info_caption1">
          <%= f.text_field :needed_amount ,:class=>'enter_value_g',:id=> "reward_stamps" %>
          <%=@reward.try(:campaign).try(:measurement_type).try(:name)%>
        </div>
      </div>
      <div id="points" class="setgoaltype"></div>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Image</div>
      <input type="file" name="upload[photo]"/><br />
      <small>supported image types: <strong>JPEG, JPG, PNG, BMP</strong></small>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Legal Terms</div>
      <%= f.text_area :legal_term %>
    </div>
  </fieldset>
  <fieldset>
    <legend>Settings</legend>
    <div class="row">  
         <div class="basic_info_caption1">Item</div>
         <%= select_tag "item_id", "<option value=''>...None...</option>".html_safe+ options_from_collection_for_select(@items , :id, :name, @reward.try(:items).try(:first).try(:id)) %><br /> 
    </div>
    <div class="row">
      <div class="basic_info_caption1">Sales Price</div>
      <%= f.text_field :sales_price, :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Cost</div>
      <%= f.text_field :cost, :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Offer Price</div>
      <%= f.text_field :offer_price, :class =>"basic_info_input"  %>
    </div>
    <div class="row">
      <div class="basic_info_caption1">Total Quantity Available</div>
        <%= f.text_field :max_claim , :class=>"basic_info_input"%>
    </div>
    <div class="row">
      <div class="basic_info_caption1">
        Max Enjoyments Per User
      </div><%= f.text_field :max_claim_per_user , :class=>"basic_info_input"%>
      </div>
      <div class="row">
      <div class="basic_info_caption1">
        Foreign-Identifier
      </div><%= f.text_field :foreign_identifier , :class=>"basic_info_input"%>
      </div>
  </fieldset>
      <div class="row">
        <input type="submit" value="" name="commit" id="save_cont_btn" class="save">
        <%= link_to "Cancel", business_program_campaign_rewards_path(@business,@program,@campaign), :class => "cancel right" %>
      </div>
    </div>
</div>
