<%= f.error_messages %>
<p class="subcap">
	Rewards are items that your customers can redeem after earning enough points or stamps.
</p>
<div id="left_main">
	<div class="row">
		<div class="basic_info_caption1">
			What is the Reward?
		</div><%= f.text_field :name, :class =>"basic_info_input"  %>
	</div>
	<div class="row">
		<div class="basic_info_caption1">
			Add a Short Message
		</div><%= f.text_area :description, :class=>"basic_info_input", :rows=>5 %>
	</div>
	
	<div class="row">
		<div class="basic_info_caption1"> Enter Amount Needed </div>
		<div id="Enter_Num_Stamp">
			<%= f.text_field :needed_amount ,:class=>'enter_value_g',:id=> "reward_stamps" %>
			<%= @campaign.measurement_type.name %>
		</div>
	</div>
	<div class="row">
		<div class="basic_info_caption1">
			How many times can this reward be claimed?
		</div><%= f.text_field :claim , :class=>"basic_info_input"%>
	</div>
	
	<div class="row">
		<div class="basic_info_caption1">
			This reward will be available untill
      </div>
      <select class="selectruntime" id="reward_runtill">
			<option value="stop">
				I Stop it
			</option>
			<option value="stop">
				A set time
			</option>
			<option value="setnum">
				A set number of people get it
			</option>
			<option value="sellout">
				It sells out
			</option>
		</select>
  </div>
  
  <div class="row">
		<div class="basic_info_caption1">
			Legal Terms
		</div>
    <%= f.text_area :legal_term %>
  </div>

   	
    <div class="row">
		<input type="submit" value="" name="commit" id="save_cont_btn" class="save">
		<%= link_to "Cancel", business_program_campaign_rewards_path(@business,@program,@campaign), :class => "cancel right" %>
	</div>
</div>
<br/>
<br/>
<br/>
<script language="javascript" type="text/javascript">
//<![CDATA[
jQuery(function() {
		jQuery('#goal_type').change(function(){
				jQuery('.setgoaltype').hide();
				jQuery.getScript("<%= stamps_business_program_campaign_engagements_path %>.js",function(data){});
				jQuery('#' + jQuery(this).val()).show();
		});
});


jQuery(function() {
		jQuery('#reward_runtill').change(function(){
				jQuery('.runtill').hide();
				jQuery('#' + $(this).val()).show();
		});
});
//]]>
</script><!-- End of Wrap -->
