<% title "Rewards" %>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Needed Amount</th>
    <th>Measurement Type</th>
    <th>Max # of claims</th>
    <th>Max claims per user</th>
    <th></th>
    <th></th>
  </tr>
  <% for reward in @rewards %>
    <tr>
      <td><%= link_to reward.name, business_program_campaign_reward_path(@business, @program, @campaign,reward) %></td>
      <td><%=reward.needed_amount%></td>
      <td><%=reward.campaign.try(:measurement_type).try(:name)%></td>
      <td><%=reward.max_claim%></td>
      <td><%=reward.max_claim_per_user%></td>
      <td><%= link_to "Edit", edit_business_program_campaign_reward_path(@business, @program, @campaign,reward) %></td>
      <td><%= link_to "Destroy", business_program_campaign_reward_path(@business, @program, @campaign,reward), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Reward", new_business_program_campaign_reward_path(@business,@program,@campaign) %></p>
