<% title "Reward" %>

<p>
  <strong>Name: </strong>
  <%= @reward.name %>
</p>
<p>
  <strong>Description: </strong>
  <%= @reward.description %>
</p>

<% unless @campaign.engagements.empty? %>
<p>
  <strong>Stamp Description: </strong>
  <% for eng in @campaign.engagements %>
  <%= eng.name %>
  <%end%>
</p>
<% end %>
<p>
  <strong>Active Places: </strong>
  
</p>

<p>
  <strong>Price: </strong>
 
</p>
<p>
  <strong>Auto Unlock: </strong>
  
</p>
<p>
  <strong>Product Id: </strong>
  
</p>
<p>
  <%= link_to "Edit", edit_business_program_campaign_reward_path(@business, @program, @campaign ,@reward) %> |
  <%= link_to "Destroy", business_program_campaign_reward_path(@business, @program, @campaign, @reward), :confirm => 'Are you sure?', :method => :delete %> | 
  <%= link_to "Back to List", business_program_campaign_rewards_path(@business,@program,@campaign) %>
</p>
