<%= form_for([@business,@place],:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all%>
  </p>
  <fieldset>
    <legend>Place Images</legend>
    <p>
      <% f.fields_for :place_images do |pimage| %>
        <p><%= pimage.label 'Place Image: ' %> <%= pimage.file_field :photo %></p>
      <%end%>
    </p>
  </fieldset>
  <p>
    <%= f.label 'Keywords' %><br />
    <%= f.text_field :tag_list %>
    <small>Optional, comma separated</small>
  </p>
  
  <p><%= f.submit %></p>
<% end %>
