<%= stylesheet_link_tag "biz_application" %>

<%= javascript_include_tag      "businessend",
                                'jquery.tipTip',
                                "http://maps.google.com/maps/api/js?sensor=true",
%>

<style type="text/css">
  select[disabled] { background-color: #E6E6FA; }
  .times{width:auto}
  .slide_input{width:180px;}
  .slide_input input{width:170px;}
  .slide_input.ma{ margin-left:15px;}
  .slide_box h3{display:block ; width:378px}
  .box_slider p{width:80%}
  .box_slider .button{width:100px ; padding:5px}
</style>
<script type="text/javascript">
  $(document).ready(function(){

  $('#owner_view h1').hide();
  $('#owner_view input[type=submit]').remove();

  $('#place_update').click(function(e){
    $('form.mono-form').submit();
  });



  $('#split_hours').click(function(){
   if($('#split_hours').is(':checked')){
    for(index=0;index < 7;index++){
      from_to_html = $('#open_hour_'+index+'_from').closest(".times").html();
      from_to_html = from_to_html.replace(/from/g, "from2");
      from_to_html = from_to_html.replace(/to/g, "to2");
      console.log(from_to_html);
      $('#open_hour_div_'+index).append("<p id=open_hour_p_"+index+">"+from_to_html+"</p>");
    }
   }else{
    for(index=0;index < 7;index++)
     $('#open_hour_p_'+index).remove();
   }
  });
  $('.close_box').click(function(){
    var ele=jQuery(this)
    if(ele.is(':checked')){
      var i=ele.parent()[0].id.split(/_/)[3];
      $('#open_hour_'+i+'_from').attr('disabled',true);
      $('#open_hour_'+i+'_to').attr('disabled',true);
      if ($('#open_hour_'+i+'_from2')!=null && jQuery('#open_hour_'+i+'_to2')!=null){
        $('#open_hour_'+i+'_from2').attr('disabled',true);
        $('#open_hour_'+i+'_to2').attr('disabled',true);
      }
    }else{
      var i=ele.parent()[0].id.split(/_/)[3];
      $('#open_hour_'+i+'_from').attr('disabled',false);
      $('#open_hour_'+i+'_to').attr('disabled',false);
      if ($('#open_hour_'+i+'_from2')!=null && $('#open_hour_'+i+'_to2')!=null){
        $('#open_hour_'+i+'_from2').attr('disabled',false);
        $('#open_hour_'+i+'_to2').attr('disabled',false);
      }
    }
  });

  $('#place_business_id').change(function(e){
    var $pb =$(this).val();
    $.getScript('/businesses/check_primary_place/'+ $pb +'.js');
  });
  $('select#place_address_attributes_country_id').bind('change',function(){
    var country_id = $(":selected", this).val();
    $.getScript("/businesses/update_cities/"+country_id+"?selector_id=place_address_attributes_city_id");
  });
  $('#open_hour_apply_to_all').click(function(){
  if( $(this).is(':checked') ){
      from_hour = $('#open_hour_0_from').val(); // the selected value of the first day ( from hour)
      to_hour = $('#open_hour_0_to').val(); // the selected value of the first day ( to hour)
      from2_hour = $('#open_hour_0_from2').val(); // the selected value of the first day - if user splits the time( from2 hour)
      to2_hour = $('#open_hour_0_to2').val(); // the selected value of the first day - if user splits the time ( to2 hour)
      $('.from_class').each(function(index, element){
        $(this).val(from_hour);
        if(from2_hour){
         $('#open_hour_'+index+'_from2').val(from2_hour)
        }// if from2_hour end
      }); // end of .each function

      $('.to_class').each(function(index, element){
        $(this).val(to_hour);
        if(to2_hour){
          $('#open_hour_'+index+'_to2').val(to2_hour);
        }// if from2_hour end
      }); // end of .each function
    } //end if
    });

    <%= get_maker_position_script(@place) %>

  });
</script>

<style type="text/css" media="screen">
  div#map_canvas{
    border:none;
  }
.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}


</style>

<% set_variables(@place) %>

<div class="tabs">
  <ul>
      <li>
	<a href="#admin_view">Admin View</a>
      </li>
      <li>
        <a href="#owner_view">Owner View</a>
      </li>
    </ul>
    <div id="admin_view">

    <div id="step3" class="mono-business-register span-20" >



    <%= form_for(@place,:html => { :multipart => true ,:class=>"mono-form"}) do |f| %>
    <%= f.error_messages %>
    <fieldset>
    <legend>
      Info
    </legend>
    <p>
      <%= f.label "Business" %>
      <%= f.collection_select :business_id, Business.all,  :id, :name,:include_blank=> "..Select Business.." %>
    </p>
    <p>
      <%= f.label :name  %>
      <%= f.text_field :name , :class=>"title double branch bcomplete"  %>
    </p>
    <p id="primary_place" style="display:none">
      <%= f.label :is_primary %>
      <%= f.check_box :is_primary %>
    </p>

  </fieldset>

    <fieldset>
      <legend>Address</legend>

        <%= f.fields_for :address, f.object.address do |address_form| %>
          <p>
            <%= address_form.text_field :city , :value=>@city_name, :id=>"city_id", :class=>"title double"%>
            <%= address_form.hidden_field :city_id,:id=>"city",   :class=>"title double"%>
          </p>
           <p>
             <%= address_form.label :zipcode , :class=>"" %>
             <%= address_form.text_field :zipcode, :class=>"title double"%>
           </p>
          <p>
            <%= address_form.label :street_address, :class=>"" %>
            <%= address_form.text_field :street_address, :class=>"title double"%>
          </p>
          <div id="my_map2" style="margin-top:20;width:410px;height:200px;">

      </div>

    </fieldset>


    <fieldset>
      <legend>
        Location
      </legend>
      <!-- Extended object form -->
        <p>
          <%= address_form.label :cross_street ,:class=>"" %>
          <%= address_form.text_field :cross_street , :class=>"title double"%>
        </p>
        <p>
          <%= address_form.label :neighborhood ,:class=>"" %>
          <%= address_form.text_field :neighborhood, :class=>"title double"%>
        </p>

      <%end%>

      <p>
        <%= f.label :long%> <%= f.text_field :long, :class=>"title double" %>
      <p>
      </p>
        <%= f.label :lat  %> <%= f.text_field :lat, :class=>"title double" %>
      </p>
    </fieldset>

    <fieldset>
      <legend>
        Contacts
      </legend>
      <p>
        <%= f.label :phone ,:class=>"" %>
        <%= f.text_field :phone, :class=>"title double"%>
      </p>
    </fieldset>

    <fieldset>
      <legend>Misc.</legend>
      <p>
        <%= f.label 'Keywords', :class=>"" %>
        <%= f.text_field :tag_list, :class=>"title double" %>
      </p>
      <p>
        <%= f.label :time_zone %>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all%>
      </p>

    <p>
      <%= f.label :about, :class=>"" %>
      <%= f.text_area :about, :class=>"title double" %>
    </p>

   </fieldset>

    <% if @place.new_record?%>
      <fieldset>
      <legend>
        Open Signs
      </legend>
     <% OpenHour::DAYS.each_with_index do |(key,value) , index| %>

<div class="slide_box">
    <div class="slide_box_content">
    <div class="slide_box_shadow">
      <div class="box_content round shadow">

       <h3 class="days left"><%=key%></h3>
       <div id="open_hour_div_<%=index%>" class="times left">
         <div class="input_set">
         <div class="slide_input left">
           <label for="from">from:</label>
           <%= text_field_tag "open_hour[#{index}][from]",nil,:class=>"complete title from_class" %>
           </div>
        <div class="slide_input left ma">
           <label for="id">to</label>
           <%= text_field_tag "open_hour[#{index}][to]",nil,:class=>"complete title to_class" %>
         </div>
         </div>
         <input type="hidden" name="open_hour[<%=index%>][place_id]" value="<%=@place.id%>" />
         <input type="hidden" name="open_hour[<%=index%>][day_no]"    value="<%=value%>"    />
           <% if index == 0 %>
             <div style="display:none">
                <label> Apply To All</label>
                <%= check_box_tag "open_hour[apply_to_all]" %>
             </div>
         <%end%>
     </div>
         <div class="clear"></div>
      </div>
    </div>
    </div>
    <div class="slide_box_slider">
    <div class="slide_box_shadow">
      <div class="box_slider round shadow">
        <p class="hide" >
          <%= label_tag "Closed?"%>
         <%= check_box_tag "open_hour[#{index}][closed]" %>
         <input type="button" class="button positive" id="split_hour_<%=index%>" value="Split Hours" onclick="Split_hour_admin(<%=index%>)" />
        </p>
   </div>
    </div>
    </div>
    <div class="slide_box_eject">
    		<div class="box_eject round"><a href="#"></a></div>
    </div>
</div>



     <% end %>
       <p><label>Are your hours split during a single day, such as 9-11am and 7-10pm? </label></p>
       <p><%= check_box_tag "split_hours","",OpenHour.has_two_hour_for_same_day(@place,"0")%><label>I'd like to enter two sets of hours for a single day.</label></p>
    </fieldset>
    <%end%>



    <fieldset>
      <legend>Place Images</legend>
      <p>
        <%if ENABLE_DELAYED_UPLOADS%>
          <% f.fields_for :place_images do |pimage| %>
              <%= pimage.label(:delete_photo, 'Delete photo') %>
              <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
              <%= pimage.check_box(:delete_photo) %><br />
          <%end%>
          <% f.fields_for :tmp_images do |pimage| %>
            <%= pimage.label(:photo, 'Upload photo') %>
            <%= pimage.file_field(:photo) %><br />
          <%end%>
        <%else%>
          <%= f.fields_for :place_images do |pimage| %>
            <%- unless pimage.object.new_record?-%>
              <%= pimage.label(:delete_photo, 'Delete photo') %>
              <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
              <%= pimage.check_box(:delete_photo) %><br />
            <%- else -%>
              <br />
              <%= pimage.label(:photo, 'Upload photo') %>
              <%= pimage.file_field(:photo) %><br />
            <%- end -%>
          <%end%>
        <%end%>
      </p>
    </fieldset>

  <input type="button" value="Add New Item"  id="add_new_item_button"/>
  <fieldset id="add_new_item_fieldset" style="display:none">
    <legend>Add New Item to Place</legend>
    <p>
        <p>
           <%= label_tag "name" %><br />
           <%= text_field_tag "item[name]"  %>
        </p>
        <p>
           <%= label_tag "description" %><br />
           <%= text_area_tag "item[description]"  %>
        </p>
        <p>
           <%= label_tag "price" %><br />
           <%= text_field_tag "item[price]"  %>
        </p>
        <p>
           <%= label_tag "expiry_date" %><br />
           <%= calendar_date_select_tag "item[expiry_date]" %>
         </p>
         <p>
           <%= label_tag "cost" %><br />
           <%= text_field_tag "item[cost]"  %>
        </p>
        <p>
           <%= label_tag "product_code" %><br />
           <%= text_field_tag "item[product_code]"  %>
        </p>
        <p>
          <%= label_tag "Available" %>
          <%= check_box_tag "item[available]","",1%>
        </p>

    </p>
  </fieldset>
    <p class="hide"><% f.submit %></p>
<% end %>
</div>
<div class="clear"></div>
    </div>

    <div id="owner_view">
      <%= render :template=>"users/businesses/primary_place" %>
      <div class="clear"></div>
    </div>
</div>

<input type="button" class="button positive" name="new_place" value="Save" id="place_update"/>
