<%= javascript_include_tag 'prototype' %>
<%= calendar_date_select_includes %>
<% CalendarDateSelect.format=(:iso_date)%>

<script type="text/javascript">
 jQuery(document).ready(function(){
   
   jQuery('select#place_address_attributes_country_id').bind('change',function(){
    var country_id = jQuery(":selected", this).val();
    jQuery.getScript("/businesses/update_cities/"+country_id+"?selector_id=place_address_attributes_city_id");
  });
  
  jQuery('#add_new_item_button').click(function(){
    jQuery('#add_new_item_fieldset').toggle();
  });
  
  
  
});
</script>

<%= form_for([@business,@place],:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all%>
  </p>
  <p>
    <%= f.label 'Keywords' %><br />
    <%= f.text_field :tag_list %>
  </p>
  <fieldset>
    <legend>Place Images</legend>
    <p>
      <%if ENABLE_DELAYED_UPLOADS%>
        <% f.fields_for :place_images do |pimage| %>
            <%= pimage.label(:delete_photo, 'Delete photo') %>
            <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
            <%= pimage.check_box(:delete_photo) %><br />
        <%end%>
        <% f.fields_for :tmp_images do |pimage| %>
          <%= pimage.label(:photo, 'Upload photo') %>
          <%= pimage.file_field(:photo) %><br />
        <%end%>
      <%else%>
        <% f.fields_for :place_images do |pimage| %>
          <%- unless pimage.object.new_record?-%>
            <%= pimage.label(:delete_photo, 'Delete photo') %>
            <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
            <%= pimage.check_box(:delete_photo) %><br />
          <%- else -%>
            <br />
            <%= pimage.label(:photo, 'Upload photo') %>
            <%= pimage.file_field(:photo) %><br />
          <%- end -%>
        <%end%>
      <%end%>
    </p>
  </fieldset>
   <br />
  <fieldset>
    <legend>Place Address</legend>
    <p>
      <%= f.fields_for :address, f.object.address do |address_form| %>
        <p>
          <%= address_form.label :street_address %>
          <%= address_form.text_field :street_address %>
        </p>
        <p>
          <%= address_form.label :neighborhood %>
          <%= address_form.text_field :neighborhood %>
        </p>
        <p>
          <%= address_form.label :country %>
          <%= address_form.select :country_id, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all , :id, :name,address_form.object.country_id)%>
        </p>
        <p>
          <%= address_form.label :city %>
          <%= address_form.select :city_id, "<option value=''>..Select City..</option>".html_safe + options_from_collection_for_select(City.all, :id, :name,address_form.object.city_id)%>
        </p>
         <p>
          <%= address_form.label :zipcode %>
          <%= address_form.text_field :zipcode %>
        </p> 
      <%end%>
    </p>
  </fieldset>
  <br />
  <% if @place.new_record?%>
  <fieldset>
    <legend>Hours of operations?</legend>
     <% OpenHour::DAYS.each_with_index do |(key,value) , index| %>
      <p> <%=key%></p>
       <%= select_tag("open_hour[#{index}][from]", options_for_select(@hours),:style => 'width:142px;') %>
       <%= select_tag("open_hour[#{index}][to]", options_for_select(@hours),:style => 'width:142px;') %>
       <input type="hidden" name="open_hour[<%=index%>][place_id]" value="<%=@place.id%>" />
       <input type="hidden" name="open_hour[<%=index%>][day_no]"    value="<%=value%>"    />
       <%= label_tag "Closed?"%>
       <%= check_box_tag "open_hour[#{index}][closed]" %>
     <% end %>
  </fieldset>
  <%else%>
  <fieldset>
    <legend>Hours of operations?</legend>
     <% OpenHour::DAYS.each_with_index do |(key,value) , index| %>
      <p> <%=key%></p>
       <%= select_tag("open_hour[#{index}][from]", options_for_select(@hours,@place.get_hour(index,:from) ) ,:style => 'width:142px;') %>
       <%= select_tag("open_hour[#{index}][to]", options_for_select(@hours,@place.get_hour(index,:to) ) ,:style => 'width:142px;') %>
       <input type="hidden" name="open_hour[<%=index%>][place_id]" value="<%=@place.id%>" />
       <input type="hidden" name="open_hour[<%=index%>][day_no]"    value="<%=value%>"    />
       <%= label_tag "Closed?"%>
       <%= check_box_tag "open_hour[#{index}][closed]" , "1" , @place.is_closed(index) %>
     <%end%>
  </fieldset>
  <%end%>
  <br />

  <fieldset>
    <legend>Assign Items to Place</legend>
    <p>
      <%= f.label :items, "Items" %><br />
      <% @items.each do |item| %>
      <%= check_box_tag(
                        "place[items_list][#{item.id}]", 
                        "1", 
                        @place.items.detect{|i| i.id == item.id}) %>
       <%= "#{item.name}"%><br />
      <% end %>
    </p>
  </fieldset>
  <input type="button" value="Add New Item"  id="add_new_item_button"/>
  <fieldset id="add_new_item_fieldset" style="display:none">
    <legend>Add New Item to Place</legend>
    <p>
        <p>
           <%= label_tag "name" %><br />
           <%= text_field_tag "item[name]"  %>
        </p>
        <p>
           <%= label_tag "description" %><br />
           <%= text_field_tag "item[description]"  %>
        </p>
        <p>
           <%= label_tag "price" %><br />
           <%= text_field_tag "item[price]"  %>
        </p>
        <p>
           <%= label_tag "available" %><br />
           <%= select_tag "item[available]", options_for_select([ ['yes', 'true'],['no','false']])%>
        </p>
        <p>
           <%= label_tag "expiry_date" %>
           <%= calendar_date_select_tag "item[expiry_date]" %>
         </p>
         <p>
           <%= label_tag "cost" %><br />
           <%= text_field_tag "item[cost]"  %>
        </p>
        <p>
           <%= label_tag "product_code" %><br />
           <%= text_field_tag "item[product_code]"  %>
        </p>
        
    </p>
  </fieldset>
  
  <p><%= f.submit %></p>
<% end %>
