<%= javascript_include_tag 'prototype' %>
<%= calendar_date_select_includes %>
<% CalendarDateSelect.format=(:iso_date)%>

<script type="text/javascript">
 jQuery(document).ready(function(){
   
   jQuery('select#place_address_attributes_country_id').bind('change',function(){
    var country_id = jQuery(":selected", this).val();
    jQuery.getScript("/businesses/update_cities/"+country_id+"?selector_id=place_address_attributes_city_id");
  });
  
  jQuery('#add_new_item_button').click(function(){
    jQuery('#add_new_item_fieldset').toggle();
  });
  
  jQuery('#open_hour_apply_to_all').click(function(){
    if( jQuery(this).is(':checked') ){
      from_hour = jQuery('#open_hour_0_from').val(); // the selected value of the first day ( from hour)
      to_hour   =  jQuery('#open_hour_0_to').val();  //  the selected value of the first day ( to hour)
      from2_hour = jQuery('#open_hour_0_from2').val(); // the selected value of the first day - if user splits the time( from2 hour)
      to2_hour   =  jQuery('#open_hour_0_to2').val();  //  the selected value of the first day -  if user splits the time ( to2 hour)
      
      jQuery('.from_class').each(function(index, element){
        jQuery(this).val(from_hour);
        if(from2_hour){
          if(index!=0){
             Split_hour(index);
             x =jQuery('#open_hour_'+index+'_from2').val(from2_hour);
           }
        }// if from2_hour end 
      }); // end of .each function
      
      jQuery('.to_class').each(function(index, element){
        jQuery(this).val(to_hour);
        if(to2_hour){
          if(index!=0){
             x =jQuery('#open_hour_'+index+'_to2').val(to2_hour);
           }
        }// if from2_hour end 
      }); // end of .each function
      
      
    } //end if
  }); 
});

function Split_hour(index){
  from_to_html = jQuery('#open_hour_'+index+'_from').parent().html();
  from_to_html = from_to_html.replace(/from/g, "from2");
  from_to_html = from_to_html.replace(/to/g, "to2");
  jQuery('#open_hour_div_'+index).append("<p>"+from_to_html+"</p>");
};
</script>

<%= form_for([@business,@place],:html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :time_zone %><br />
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all%>
  </p>
  <p>
    <%= f.label 'Keywords' %><br />
    <%= f.text_field :tag_list %>
  </p>
  <fieldset>
    <legend>Place Images</legend>
    <p>
      <%if ENABLE_DELAYED_UPLOADS%>
        <% f.fields_for :place_images do |pimage| %>
            <%= pimage.label(:delete_photo, 'Delete photo') %>
            <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
            <%= pimage.check_box(:delete_photo) %><br />
        <%end%>
        <% f.fields_for :tmp_images do |pimage| %>
          <%= pimage.label(:photo, 'Upload photo') %>
          <%= pimage.file_field(:photo) %><br />
        <%end%>
      <%else%>
        <% f.fields_for :place_images do |pimage| %>
          <%- unless pimage.object.new_record?-%>
            <%= pimage.label(:delete_photo, 'Delete photo') %>
            <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
            <%= pimage.check_box(:delete_photo) %><br />
          <%- else -%>
            <br />
            <%= pimage.label(:photo, 'Upload photo') %>
            <%= pimage.file_field(:photo) %><br />
          <%- end -%>
        <%end%>
      <%end%>
    </p>
  </fieldset>
   <br />
  <fieldset>
    <legend>Place Address</legend>
    <p>
      <%= f.fields_for :address, f.object.address do |address_form| %>
        <p>
          <%= address_form.label :street_address %>
          <%= address_form.text_field :street_address %>
        </p>
        <p>
          <%= address_form.label :neighborhood %>
          <%= address_form.text_field :neighborhood %>
        </p>
        <p>
          <%= address_form.label :country %>
          <%= address_form.select :country_id, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all , :id, :name,address_form.object.country_id)%>
        </p>
        <p>
          <%= address_form.label :city %>
          <%= address_form.select :city_id, "<option value=''>..Select City..</option>".html_safe + options_from_collection_for_select(City.all, :id, :name,address_form.object.city_id)%>
        </p>
         <p>
          <%= address_form.label :zipcode %>
          <%= address_form.text_field :zipcode %>
        </p> 
      <%end%>
    </p>
  </fieldset>
  <br />
  <% if @place.new_record?%>
  <fieldset>
    <legend>Hours of operations?</legend>
    
     <% OpenHour::DAYS.each_with_index do |(key,value) , index| %>
      <p> <%=key%></p>
      <div id="open_hour_div_<%=index%>">
         <div >
           <%= select_tag("open_hour[#{index}][from]", options_for_select(@hours),:style => 'width:142px;',:class=>"from_class") %>
           <%= select_tag("open_hour[#{index}][to]", options_for_select(@hours),:style => 'width:142px;',:class=>"to_class") %>
         </div>
         <input type="hidden" name="open_hour[<%=index%>][place_id]" value="<%=@place.id%>" />
         <input type="hidden" name="open_hour[<%=index%>][day_no]"    value="<%=value%>"    />
         <%= label_tag "Closed?"%>
         <%= check_box_tag "open_hour[#{index}][closed]" %>
         <input type="button" id="split_hour_<%=index%>" value="Split Hours" onclick="Split_hour(<%=index%>)" />
         <% if index == 0 %>
           <label> Apply To All</label>
           <%= check_box_tag "open_hour[apply_to_all]" %>
         <%end%>
     </div>
     <br />
     <br />
     <% end %>
  </fieldset>
  <%else%>
  <fieldset>
    <legend>Hours of operations?</legend>
     <% OpenHour::DAYS.each_with_index do |(key,value) , index| %>
      <p> <%=key%></p>
       <%= select_tag("open_hour[#{index}][from]", options_for_select(@hours,@place.get_hour(index,:from,false) ) ,:style => 'width:142px;') %>
       <%= select_tag("open_hour[#{index}][to]", options_for_select(@hours,@place.get_hour(index,:to,false) ) ,:style => 'width:142px;') %>
       <input type="hidden" name="open_hour[<%=index%>][place_id]" value="<%=@place.id%>" />
       <input type="hidden" name="open_hour[<%=index%>][day_no]"    value="<%=value%>"    />
       <%= label_tag "Closed?"%>
       <%= check_box_tag "open_hour[#{index}][closed]" , "1" , @place.is_closed(index) %>
       <% if OpenHour.has_two_hour_for_same_day(@place,index)%>
        <%= select_tag("open_hour[#{index}][from2]", options_for_select(@hours,@place.get_hour(index,:from, true) ) ,:style => 'width:142px;') %>
        <%= select_tag("open_hour[#{index}][to2]", options_for_select(@hours,@place.get_hour(index,:to,true) ) ,:style => 'width:142px;') %>
      <%end%>
     <%end%>
  </fieldset>
  <%end%>
  <br />

  <fieldset>
    <legend>Assign Items to Place</legend>
    <p>
      <%= f.label :items, "Items" %><br />
      <% @items.each do |item| %>
      <%= check_box_tag(
                        "place[items_list][#{item.id}]", 
                        "1", 
                        @place.items.detect{|i| i.id == item.id}) %>
       <%= "#{item.name}"%><br />
      <% end %>
    </p>
  </fieldset>
  <input type="button" value="Add New Item"  id="add_new_item_button"/>
  <fieldset id="add_new_item_fieldset" style="display:none">
    <legend>Add New Item to Place</legend>
    <p>
        <p>
           <%= label_tag "name" %><br />
           <%= text_field_tag "item[name]"  %>
        </p>
        <p>
           <%= label_tag "description" %><br />
           <%= text_field_tag "item[description]"  %>
        </p>
        <p>
           <%= label_tag "price" %><br />
           <%= text_field_tag "item[price]"  %>
        </p>
        <p>
           <%= label_tag "available" %><br />
           <%= select_tag "item[available]", options_for_select([ ['yes', 'true'],['no','false']])%>
        </p>
        <p>
           <%= label_tag "expiry_date" %>
           <%= calendar_date_select_tag "item[expiry_date]" %>
         </p>
         <p>
           <%= label_tag "cost" %><br />
           <%= text_field_tag "item[cost]"  %>
        </p>
        <p>
           <%= label_tag "product_code" %><br />
           <%= text_field_tag "item[product_code]"  %>
        </p>
        
    </p>
  </fieldset>
  
  <p><%= f.submit %></p>
<% end %>