<% title "Branches for " %><% title(@business.name) %>

<h3><%= link_to "back to business", @business %></h3>

<table width="100%" class="pretty">
  <tr>
    <th>Name</th>
    <th>Long</th>
    <th>Lat</th>
    <th>Description</th>
  </tr>
  <% for place in @places %>
    <tr>
      <td><%= place.name %></td>
      <td><%= place.long %></td>
      <td><%= place.lat %></td>
      <td><%= place.description %></td>
      <td><%= link_to "Show", business_place_path(@business, place) %></td>
      <td><%= link_to "Edit", edit_business_place_path(@business, place) %></td>
      <td><%= link_to "Destroy", business_place_path(@business, place), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Place", new_business_place_path(@business) %></p>
