<% title "Place" %>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>
<p>
  <strong>Long:</strong>
  <%= @place.long %>
</p>
<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>
<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>
<p>
  <strong>Time Zone:</strong>
  <%= @place.time_zone %>
</p>
<p>
  <strong>Tag List:</strong>
  <%= @place.tag_list %>
</p>
<p>
  <strong>Open Hours:</strong>
  <% @place.open_hours.each do  |open_hour|%>
  <p> <%= OpenHour::DISPLAY_DAYS[open_hour.day_no]%> <br />
   <label> From </label> <%= open_hour.from.hour.to_s%>:<%= open_hour.from.min.to_s%> 
   <label> To  </label>  <%= open_hour.to.hour.to_s%>:<%= open_hour.to.min.to_s%>   
  </p>
  <% end%>
</p>
<%unless @place.place_images.empty?%>
<p>
  <strong>Images</strong>
  <%for image in @place.place_images%> 
    <%= image_tag image.photo.url(:thumb) %>
  <%end%>
</p>
<%end%>
<p>
  <%= link_to "Edit",  edit_business_place_path %> |
  <%= link_to "Destroy", business_place_path(@business, @place), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_places_path %>
   <%= link_to "Show Items", business_place_items_path(@business,@place) %>
</p>