<% title "Place" %>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>
<p>
  <strong>Long:</strong>
  <%= @place.long %>
</p>
<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>
<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>
<p>
  <strong>Time Zone:</strong>
  <%= @place.time_zone %>
</p>

<p>
  <%= link_to "Edit",  edit_business_place_path %> |
  <%= link_to "Destroy", business_place_path(@business, @place), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_places_path %>
</p>
