<head>
<%= javascript_include_tag 'users_management_scripts', 'bday-picker.min'%>
<script type="text/javascript">
var total_legals=<%=@total%>;
var legal_index= <%=@legal_ids.empty? ? 0 : @legal_ids.size %>;
</script>
<style type="text/css">
.birthday-picker select{width:auto;margin-right: 5px;}
#datepicker fieldset {border:none;padding:0;}
.legals_div select{width:auto;margin:0 10px 0 0;}
.legals_div input {width:150px;padding-top:2px;}
.legals_div {position:relative;}
.legals_div a {position:absolute;right:55px;top:10px}
.ui-tabs {width:442px;margin-bottom:20px;}
</style>
</head>
<%= form_for @user, :url=>@user.new_record? ? :users_management_index : :users_management, :html=>{:class=>"mono-form"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset >
    <legend>User Information</legend>
    <p>
      <%= f.label "Select User Type" %>
		  <%= f.select :role_id, options_from_collection_for_select(Role.all , :id, :displayed_role,@role_id)%>
    </p>
    <p class="businesses_list" style="display:none">
      <%= label_tag "Business" %>
      <%= select_tag :business_id , "<option value=''>Select business...</option>".html_safe + options_from_collection_for_select(@businesses, "id", "name")%>
    </p>
    <p class="places_list" style="display:none">
      <%= label_tag "Place" %>
      <%= select_tag :place_id , "<option value=''>Select place...</option>".html_safe +  options_from_collection_for_select(@places, "id", "name") %>
    </p>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name , :class=>"title" %>
    </p>
    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name , :class=>"title" %>
    </p>
    <p>
      <%= f.label "Date of birth" %>
      <div class="picker" id="datepicker"></div>
    </p>

    <p>
      <%= f.label :home_town %>
      <%= f.select :home_town, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all , :id, :name,f.object.try(:home_town))%>
    </p>
    <p>
      <%= f.label :telephone_number %>
      <%= f.text_field :telephone_number , :class=>"title" %>
    </p>
    <div class="legal_type_class">
      <%= label_tag "Legal IDs" %>
      <% if @legal_ids.empty? %>
      <div class="legals_div">
        <%= select_tag "legal_types[]" , "<option value=''>...Select Legal Type...</option>".html_safe +  options_from_collection_for_select(LegalType.all, "id", "displayed_type"), {:id=>"legal_types_0"}%><%=text_field_tag "legal_ids[]","",{:class=>"title",:id=>"legal_ids_0"}%>
        <a href="javascript:void(0)" class="add_link"><img style="margin-top:3px" src="/images/add.png"/> </a>
      </div>
      <%else%>
      <%@legal_ids.each_with_index do |legal_id,index| %>
      <div class="legals_div">
        <%= select_tag "legal_types[]" , "<option value=''>...Select Legal Type...</option>".html_safe +  options_from_collection_for_select(LegalType.all, "id", "displayed_type",legal_id.legal_type.id), {:id=>"legal_types_#{index}"}%><%=text_field_tag "legal_ids[]",legal_id.id_number,{:class=>"title",:id=>"legal_ids_#{index}"}%>
        <%if index==0%>
        <a href="javascript:void(0)" class="add_link"><img style="margin-top:3px" src="/images/add.png"/> </a>
        <%else%>
        <a href="javascript:void(0)" class="remove_link"><img style="margin-top:3px" src="/images/remove.png"/> </a>
        <%end%>
      </div>
      <%end%>
      <%end%>
    </div>
  </fieldset>
  <fieldset>
    <legend>User Account</legend>
    <p>
      <%= f.label :username %>
      <%= f.text_field :username , :class=>"title U_username" %>
      <img src="/images/loading.gif" width="16" height="16" alt="Loading" style="display:none;" />
      <span class="form-note note-error L-error" <%= 'style="display:none;"' unless @user.errors.on(:username) %>>
        <%= @user.errors.on(:username) %>
      </span>
      <span class="form-note note-success L-success" style="display:none;"></span>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email , :class=>"title U_email" %>
      <img src="/images/loading.gif" width="16" height="16" alt="Loading" style="display:none;" />
      <span class="form-note note-error L-error" <%= 'style="display:none;"' unless @user.errors.on(:username) %>>
        <%= @user.errors.on(:email) %>
      </span>
      <span class="form-note note-success L-success" style="display:none;"></span>
    </p>
    <!--<p>
      <%= f.label :password %>
      <%= f.password_field :password , :class=>"title" %>
      <span class="form-note note-error L-error" <%= 'style="display:none;"' unless @user.errors.on(:username) %>>
        <%= @user.errors.on(:password) %>
      </span>
    </p>-->
  </fieldset>
  <div class="tabs">
    <ul>
      <li><a href="#mailing" data-c="Mailing">Mailing Address</a></li>
      <li><a href="#billing" data-c="Billing">Billing Address</a></li>
    </ul>
    <div id="mailing">
      <fieldset style="border:none">
        <%= f.fields_for :mailing_address,@user.try(:mailing_address) do |mailing_address_form| %>
          <p>
            <%= mailing_address_form.label :country %>
            <%= mailing_address_form.select :country_id, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all , :id, :name, mailing_address_form.object.try(:country_id))%>
          </p>
          <p>
            <%= mailing_address_form.label :city %>
            <%= mailing_address_form.select :city_id, "<option value=''>..Select City..</option>".html_safe + options_from_collection_for_select(City.all, :id, :name, mailing_address_form.object.try(:city_id))%>
          </p>
          <p>
            <%= mailing_address_form.label :street_address %>
            <%= mailing_address_form.text_field :street_address, :class=>"title" %>
          </p>
          <p>
            <%= mailing_address_form.label :zipcode %>
            <%= mailing_address_form.text_field :zipcode, :class=>"title" %>
          </p>
        <%end%>
      </fieldset>
    </div>
    <div id="billing">
      <fieldset style="border:none">
        <%= f.fields_for :billing_address,@user.try(:billing_address) do |billing_address_form| %>
          <p>
            <%= billing_address_form.label :country %>
            <%= billing_address_form.select :country_id, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all , :id, :name,billing_address_form.object.try(:country_id))%>
          </p>
          <p>
            <%= billing_address_form.label :city %>
            <%= billing_address_form.select :city_id, "<option value=''>..Select City..</option>".html_safe + options_from_collection_for_select(City.all, :id, :name,billing_address_form.object.try(:city_id))%>
          </p>
          <p>
            <%= billing_address_form.label :street_address %>
            <%= billing_address_form.text_field :street_address, :class=>"title" %>
          </p>
          <p>
            <%= billing_address_form.label :zipcode %>
            <%= billing_address_form.text_field :zipcode, :class=>"title" %>
          </p>
        <%end%>
      </fieldset>
    </div>
  </div>
  <%= toggle_fb_link(@user) %>
  <div class="actions">
    <%= f.submit @user.new_record? ? "Add" : "Update" %>
  </div>
<% end %>

<script type="text/javascript">
//  jQuery(function(){
//    jQuery("#activate").live("click",function(e){
//      jQuery.post("/v1/users/<%= @user.id %>/on");
//    });
//    jQuery("#deactivate").live("click",function(e){
//      jQuery.post("/v1/users/<%= @user.id %>/off");
//    });
//  });
</script>
