<head>
<%= javascript_include_tag 'users_management_scripts' , 'bday-picker.min'%>
</head>
<% title "View all Qrcodes TXs for #{@user.full_name}" %>
<%= link_to 'Back', users_management_path(@user) %>
<p><h2><b>Total: <%=@all_transactions.total_entries%></b></h2></p>
<br />
  <%= will_paginate @all_transactions %>
<br/>
<table class="mono-table" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>QrCode</th>
    <th>ID (Sequence #) </th>
    <th>Earned Points</th>
    <th>Business</th>
    <th>Place</th>
    <th>Date</th>
    <th>ID Scanned By</th>
    <th>View Details</th>
  </tr>
<% @all_transactions.each do |transaction| %>
  <tr>    
    <% qr_code=QrCode.find(transaction.qr_code_id) %>
    <td><%= link_to (image_tag qr_code.qr_image, :width=>"50px", :height=>"50px"), qr_code_path(qr_code)  %></td>
    <td><%= transaction.qr_code_id%></td>
    <td><%= transaction.gained_amount%></td>
    <td><%= transaction.bname %></td>
    <td><%= transaction.pname %></td>
    <td><%= transaction.created_at.to_formatted_s(:long) %></td>
    <td><%= "#{transaction.first_name} #{transaction.last_name}"%></td>
    <td><%= link_to "View details", view_tx_details_users_management_path(@user,transaction.log_id) %></td>
  </tr>
<% end %>
</table>
<br />
  <%= will_paginate @all_transactions %>
<br/>

<%= link_to 'Back', users_management_path(@user) %>
