<% title "View all Qrcodes TXs for #{@user.full_name}" %>
<head>
<link  href="http://fonts.googleapis.com/css?family=Cuprum:regular&v1" rel="stylesheet" type="text/css" >
<link href='http://fonts.googleapis.com/css?family=Play&subset=greek,latin&v1' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Quattrocento&v1' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag "style"%>
<%= stylesheet_link_tag "blueprint/screen" ,  :media => "screen, projection" %>
<%= javascript_include_tag :defaults %>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
$(document).ready(function () {
  var map;
  var marker;
  var timer, delay = 2000, index=0; 
  timer = setInterval(function(){
     $.ajax({
        type: 'GET',
        url: '/check_status/<%=@qr_code.id%>?index='+index,
        ifModified: true,
        success: function(data){
          if(data!=null){
            if(data.response_text!="" && index!=data.index){
              $('.container').append(data.response_text);
              $('#scanning_summary').html("Scanned "+ data.no_of_scanning+" times by "+data.no_of_users+ (data.no_of_users=="1" ? " person" : " people"));
              $('#code_status').html("Status: "+data.status);
            }
            index=data.index;
          }
        }
      });
  }, delay);
  $('#reissue_code').live("click",function(){
      var user_id = $('#user_id').val();
      var loadingImage = $(this).nextAll('img');
      loadingImage.show();
      $.ajax({
          type: 'GET',
          url: '/reissue_code_from_listing_txs/'+user_id,
          success: function(data){
            loadingImage.hide();
            $('.qrcode_container').html(data);
          },
          error: function(data){
            loadingImage.hide();
          }
        });   
    });
  $('.tmp_link').live("click",function(){
    var canvas=$(this).closest(".tx_row").next().children().find(".map_canvas");
    elements = $('.map_canvas');
    elements.each(function(index, domEle) {
      if($(domEle).get(0) != canvas.get(0)){
        $(domEle).hide();
        $(domEle).closest("td").replaceWith("<td colspan=7><div class=\"map_canvas\" style=\"width:1000px; height:300px; display:none\"></div></td>");
      }
    });
    if (canvas.is(":hidden")){
      canvas.toggle();
      var lat=$(this).siblings(".lat").val();
      var lng=$(this).siblings(".lng").val();
      var geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(lat, lng);
      var myOptions = {
        zoom: 20,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(canvas.get(0), myOptions);
      marker = new google.maps.Marker({
        position: latlng,
        map: map,
        title: "Coordinates: " + lat + " , " + lng
      });
      var infowindow = new google.maps.InfoWindow();
      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent("Coordinates: " + lat + " , " + lng);
        infowindow.open(map, this);
      });
    }else{canvas.toggle();}
  });
});
</script>
<style type="text/css" media="screen">
  .white_block{width:100%;overflow:hidden;  background: url("/images/top-shadow.png") repeat-x scroll 0 0 transparent;}
	.white_block_title h2{font-weight:bold;font-size:2.5em;}
	.white_block_title h3{color:#929292;font-size:2.3em;font-weight:bold;}
	.white_block_title h3 strong{margin-right:10px;}
	.white_block_title h3 span{color:#cbcbcb;}
	.white_block table{color:#bababa;}
	.white_block	tbody th{color:#666666;}
	.white_block	tbody tr:nth-child(2n) td, tbody tr.even td{background:none;}
	.white_block a{color:#bababa;}
	.white_block a:hover{color:#666666;}
  .page_path{float:left;margin:20px;width:100%;font-weight:bold;font-size:2.5em;}
	.page_path a{color:#000;margin:0 5px;}	
	.page_path .dimmed{color:#bababa;}
	.page_path .back_link{color:#bababa;text-decoration:none}
  .tmp_link{ background: url("/images/tmp_link.png") no-repeat scroll 0 0 transparent;height:52px;width:52px;float:left;text-indent: -10000px;}
  .tmp_link:hover{background: url("/images/tmp_link_hover.png") no-repeat scroll 0 0 transparent;}
  .tmp_link.selected{background: url("/images/tmp_link_hover.png") no-repeat scroll 0 0 transparent;}
  p.bottom_text{width:800px}
  p.bottom_text span{padding:0 20px;color:#000;}
  .yellow_block{width:100%;overflow:hidden;background-color: yellow;}
  .qr_code_title {margin: 0 161px;}
</style>

</head>
<body>
<%=hidden_field_tag :user_id, @user.id %>
<div class="yellow_block">
  <div class="qr_code_title"><h1 class="page_path"><%= link_to '<<', users_management_path(@user), {:class=>"back_link"} %><span><%=@user.full_name%>:</span><a href="#">Digital ID</a><span class="dimmed">Physical ID</span></h1></div>
  <div class="container"> 
    <div class="page">
      <div class="page_top"></div>
      <div class="page_con">  
        <div class="logo"><img src="/images/logo.png" alt="Logo" /></div>        
        <%=render :partial=>"qrcode_container"%> 
        <div class="page_bot"></div>
    </div><!--Page-->
  </div>
</div>
<div class="white_block">
  <div class="container"> 
    <div class="white_block_title">
      <h2>Transaction History for <%=@user.full_name%>'s ID</h2>
      <h3><strong>Total: <%=@all_transactions.size%></strong><span>filter by [business name V] & [Date Range]</span></h3>
    </div>
    <table class="mono-table" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th>QR</th>
        <th></th>
        <th>What</th>
        <th>When</th>
        <th>Where</th>
        <th>Scanned by</th>
        <th>View Tx Details</th>
      </tr>
    <% @all_transactions.each do |transaction| %>
        <tr class="tx_row">    
          <% qr_code=QrCode.find(transaction.qr_code_id) %>
          <td><%= link_to (image_tag qr_code.qr_image, :width=>"50px", :height=>"50px"), qr_code_path(qr_code)  %></td>
          <td>QR Sequence: <%= transaction.qr_code_id%></td>
          <td>Earned <%= transaction.gained_amount%> points @ <%=transaction.bname%></td>
          <td><%= "Scanned on #{transaction.created_at.strftime("%b %d , %Y")} @ #{transaction.created_at.strftime("%I:%M %p")}"  %></td>
          <td>
            <%=link_to "tmp_link", "javascript:void(0)", :class=>"tmp_link"%>
            <%=hidden_field_tag :lng, transaction.lng , {:class=>"lng"} %>
            <%=hidden_field_tag :lat, transaction.lat , {:class=>"lat"} %>
          </td>
          <td>
            Scanned by <%=link_to "#{transaction.first_name} #{transaction.last_name}",  users_management_path(transaction.user_id)%> 
            <p style="margin-top:5px;"><%="Cashier @ "%><%= link_to transaction.bname, business_path(transaction.business_id) %></p>
          </td>
          <td><%= link_to "View details", view_tx_details_users_management_path(@user,transaction.log_id) %></td>
        </tr>
        <tr><td colspan=7><div class="map_canvas" style="width:1000px; height:300px; display:none"></div></td></tr>
    <% end %>

    </table>
    </div>
</div>
</body>
</html>
<!--<head>
<%= javascript_include_tag 'users_management_scripts' , 'bday-picker.min'%>
</head>
<% title "View all Qrcodes TXs for #{@user.full_name}" %>
<%= link_to 'Back', users_management_path(@user) %>
<p><h2><b>Total: <%=@all_transactions.total_entries%></b></h2></p>
<br />
  <%= will_paginate @all_transactions %>
<br/>
<table class="mono-table" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>QrCode</th>
    <th>ID (Sequence #) </th>
    <th>Earned Points</th>
    <th>Business</th>
    <th>Place</th>
    <th>Date</th>
    <th>ID Scanned By</th>
    <th>View Details</th>
  </tr>
<% @all_transactions.each do |transaction| %>
  <tr>
    <% qr_code=QrCode.find(transaction.qr_code_id) %>
    <td><%= link_to (image_tag qr_code.qr_image, :width=>"50px", :height=>"50px"), qr_code_path(qr_code) %></td>
    <td><%= transaction.qr_code_id%></td>
    <td><%= transaction.gained_amount%></td>
    <td><%= transaction.bname %></td>
    <td><%= transaction.pname %></td>
    <td><%= transaction.created_at.to_formatted_s(:long) %></td>
    <td><%= "#{transaction.first_name} #{transaction.last_name}"%></td>
    <td><%= link_to "View details", view_tx_details_users_management_path(@user,transaction.log_id) %></td>
  </tr>
<% end %>
</table>
<br />
  <%= will_paginate @all_transactions %>
<br/>

<%= link_to 'Back', users_management_path(@user) %>-->
