<% content_for(:head) do %>
  <style type="text/css" media="screen">
    .mono-table td,.mono-table th{ padding:7px 5px;}
    table {width: 1000px;}
  </style>
<% end %>
<% if params[:title].present? %>
  <% title_txt = "Users- Search - #{params[:title]}"%>
<%else%>
  <% title_txt = "Users"%>
<%end%>
<% title title_txt %>
<% form_tag(users_management_index_path, {:method => :get}) do %>
  <p style="margin-bottom:0.1em">
    <label>Search</label>
    <%=text_field_tag('title', "#{params[:title]}", :class => "input_text large") %>
    <input type="submit" value="List" />
  </p>
  <p><small style="color:grey; font-size:11px">Keywords could be Name, Email, Telephone Number, User ID (QrCode) </small></p>
<% end %>
<p><h2><b>Total: <%=@users.total_entries%></b></h2></p>
<br />
  <%= will_paginate @users %>
<br/>
<table class="mono-table" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Photo</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Telephone Number</th>
    <th>Created On</th>
    <th>Login Count</th>    
    <th>Active Account</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <% user_uid = user.email.split("@facebook").first %>
    <td><%= link_to (image_tag user.picture_url, height: "50px", width: "50px"), users_management_path(user) %></td>
    <td><%= user.full_name %></td>
    <td><%= user.email %></td>
    <td><%= user.telephone_number %></td>
    <td><%= user.created_at.to_formatted_s(:long) %></td>
    <td><%= user.sign_in_count %></td>    
    <td><%= status_icon user.confirmed_at.present? %></td>    
    <td><%= link_to 'Show', users_management_path(user) ,:class => "button" %></td>
    <td><%= link_to 'Edit', edit_users_management_path(user) , :class => "button" %></td>
    <td><%= link_to 'Destroy', users_management_path(user), :confirm => 'Are you sure?', :method => :delete ,:class=>"button negative" %></td>
  </tr>
<% end %>
</table>
<br />
  <%= will_paginate @users %>
<br/>

<%= link_to "Add new user", new_users_management_path , :class=>"button"  %>
