<head>
<%= javascript_include_tag 'users_management_scripts' , 'bday-picker.min'%>
</head>
<% title "Making Engagements for #{@user.full_name}" %>
<%= link_to 'Back', users_management_path(@user) %>
<p><h2><b>Total: <%=@engagements.total_entries%></b></h2></p>
<br />
  <%= will_paginate @engagements %>
<br/>
<table class="mono-table" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Engagement</th>
    <th>Campaign</th>
    <th>Program</th>
    <th>Business</th>
    <th>Earned Amount</th>
    <th>User Account Amount</th>
    <th>Created On</th>
    <th></th>
  </tr>
<% @engagements.each do |engagement| %>
  <tr>    
    <td><%= engagement.eng_name%></td>
    <td><%= engagement.c_name%></td>
    <td><%= engagement.pt_name%></td>
    <td><%= engagement.b_name %></td>
    <td><%= engagement.amount %></td>
    <td><%= engagement.account_amount %></td>
    <td><%= engagement.created_at.to_formatted_s(:long) if engagement.created_at%></td>
    <td>
      <%= form_tag make_engagement_users_management_path(@user) do %>
        <%= hidden_field_tag :engagement_id, engagement.id %>
        <%= hidden_field_tag :page, @page %> 
        <%if engagement.ctype.to_i== Campaign::CTYPE[:spend] %>
        Amount <%= text_field_tag :amount,"", {:style=>"width:40px"} %>
        <%end%>
        <p><%= link_to 'Make Engagement', "javascript:void(0)", :class=>"engage_link" %></p>
      <% end %>
    </td>   
  </tr>
<% end %>
</table>
<br />
  <%= will_paginate @engagements %>
<br/>

<%= link_to 'Back', users_management_path(@user) %>
