<% title "User | #{@user.full_name}" %>
<% content_for (:head) do %> 
  <%= javascript_include_tag 'users_management_scripts' , 'bday-picker.min'%>
  <style>
  	.user-id{ background: #EEEEEE; -moz-border-radius:10px; -webkit-border-radius:10px; width:735px;}
  	.user-id h2{ font-size:20px;}
  	.user-id h2, .user-id .sum{ padding:15px; border-bottom:3px solid #fff;}
  	.user-id .sum{ font-size:20px; padding-left:130px; position:relative;}
  	.user-id .sum img{ position:absolute; left:15px; top:0;}
  	.user-id  h3{ font-size:16px; position:relative; padding:15px 15px 0; }
  	.user-id  h3 a{ position:absolute; right:15px;}
  	.user-id table{padding:0 15px 15px; width:100%;}
  	.user-id table th{ text-align:left;}
  </style>
<% end %>
<p><%= link_to 'Edit', edit_users_management_path(@user) %> </p>
<% user_uid = @user.email.split("@facebook").first %>
<%= image_tag @user.picture_url(:large), :style => "float:right;" %>
<table class="mono-table user_account" style="width:562px" border="0" cellspacing="0" cellpadding="0">
  <caption><h4>User Account</h4></caption>
  <tr><td><b>Username: </b></td><td><%= @user.username %></td></tr>
  <tr><td><b>First Name: </b></td><td><%= @user.first_name %></td></tr>
  <tr><td><b>Last Name: </b></td><td><%= @user.last_name %></td></tr>
  <tr><td><b>Active: </b></td><td><%= @user.active ? "YES" : "NO" %></td></tr>
  <tr><td><b>Password:  </b></td>
  <td>
    <%= form_tag "/users_management/resend_password" do %>
      <div style="display:none;">
        <%= email_field_tag "user[email]", @user.email%>
      </div>
      <%= link_to "Resend reset password instructions","javascript:void(0)", {:id=>"resend_password_link"} %>
    <% end %>
  </td>
  </tr>
  <tr><td><b>Email:  </b></td>
  <td><%= @user.email%> | <%=@user.confirmed_at.nil? ? "Not confirmed" : "Confirmed" %> | <%= form_tag "/users_management/send_confirmation_email" do %>
      <div style="display:none;"><%= email_field_tag "user[email]", @user.email%></div>
      <%= link_to "Send Confirmation Email","javascript:void(0)", {:id=>"send_confirmation_email"} %>
    <% end %>
  </td>
  </tr>
  <tr><td><b>Telephone Number:  </b></td><td><%= @user.telephone_number %></td></tr>
  <tr>
    <td><b>Mailing Address:  </b></td>
    <% unless @user.mailing_address.nil? %>
    <td>
      <b>Street Address: </b><%= @user.mailing_address.try(:street_address)  %><br/>
      <b>City: </b><%= @user.mailing_address.city.try(:name) %><br/>
      <b>Country: </b><%= @user.mailing_address.city.try(:country).try(:name) %><br/>
      <b>Zipcode: </b><%= @user.mailing_address.zipcode %><br/>
    </td>
    <% else %>
      <td> N/A </td> 
    <% end %>
  </tr>
  
  <tr>
    <td><b>Billing Address:  </b></td>
    <% unless @user.billing_address.nil? %>
      <td>
        <b>Street Address: </b><%=@user.billing_address.street_address%><br/>
        <b>City: </b><%=@user.billing_address.city.try(:name)%><br/>
        <b>Country: </b><%=@user.billing_address.city.try(:country).try(:name)%><br/>
        <b>Zipcode: </b><%=@user.billing_address.zipcode%><br/>
      </td>
    <% else %>
      <td> N/A </td>
    <% end %>
  </tr>

  <tr><td><b>DOB:  </b></td><td><%= @user.dob || "N/A" %></td></tr>
  <tr><td><b>Facebook account ID:  </b></td><td><%= @user.facebook_account_id || "N/A" %></td></tr>
  <tr><td><b>Notes:  </b></td><td><%= @user.note || "N/A" %></td></tr>
  <tr><td><b>Legal ID:  </b></td>
    <td>
    <% @user.legal_ids.each do |legal| %>
      <%= LegalType.find(legal.legal_type_id).displayed_type%> : <%= legal.id_number %><br/>
    <% end %>
    </td>
  </tr>
  <tr><td><b>Facebook-Account-Linked: </b></td><td><%=@user.is_fb_account ? "Yes" : "No"%></td></tr>
</table>
<br/>
<table class="mono-table" style="width:685px" border="0" cellspacing="0" cellpadding="0">
  <%= hidden_field_tag :user_id, @user.id %>
  <caption><h4>System Info</h4></caption>
  <tr><td style="width:98px"><b>User Types: </b></td><td><%= @user.roles.collect{|r| r.name }.join(' , ') %></td></tr>
  <tr><td style="width:98px"><b>Home Town: </b></td><td><%= @user.try(:country).try(:name) || "N/A"%></td></tr>
  <tr><td style="width:98px"><b>Account Status: </b></td>
    <td><span id="status"><%=@user.active ? "Active" : "Inactive" %></span> | <%= link_to "Suspend", "javascript:void(0)", { id: "suspend_link" }%> | <%= link_to "Reactivate", "javascript:void(0)", { id: "reactivate_link"} %>
    <img src="/images/loading.gif" width="16" height="16" alt="Loading" style="display:none;" /></td>
  </tr>
  <tr><td style="width:98px"><b>User Since: </b></td><td><%= @user.created_at.to_date%></td></tr>  
  <tr><td style="width:98px"><b>Refered signups: </b></td><td><%= @user.sign_up_count.to_s %></td></tr> 
  <tr><td style="width:98px"><b>Sign In IP address: </b></td><td><%= @user.last_sign_in_ip || "Not signed in yet" %></td></tr>
  <tr><td style="width:98px"><b>Last Logged In: </b></td><td><%= @user.last_sign_in_at.present? ? @user.last_sign_in_at.strftime("%b %d, %Y")  + " ( since  " + @user.last_sign_in_days.to_s + " days )"  : "Not signed in yet" %></td></tr>  
  <tr>
    <td style="width:98px"><b>Devices: </b></td>
    <td>
      <% if @user.devices.any? %>
        <table>
          <th style="width:100px">UDID</th>
          <th>Active?</th>
          <th>Authorize/De-Authorize</th>
          <% for device in @user.devices %>
            <tr id="tr_<%= device.id %>">
              <%= render partial: "devices/device_row", locals: {device: device} %>
            </tr>
          <% end -%>
        </table>
      <% else %>
        <td>No devices associated yet</td>
      <% end -%>
    </td>
  </tr>
  <tr>
    <td style="width:98px"><b>Accepted T&C: </b></td>
    <td>
      <% if @user.accepted_terms.any? %>
        <% @user.accepted_terms.each_with_index do |term, index| %>
          <p><%= "#{index+1} - #{term.description}" %></p>
        <% end -%>
      <% else %>
          N/A
      <% end -%>
    </td>
  </tr>
</table>
<%unless @user.qr_code.nil? %>
<br/>
<div class="user-id">
  <h2><%=@user.full_name%>'s ID</h2> 
    <div class="sum">
      <%= link_to (image_tag @user.qr_code.qr_code_image.photo.url, :width=>"100px", :height=>"100px"), qr_code_path(@user.qr_code)  %>
    	<p>Current user ID: <%=@user.system_id%></p>
      <p>Type: Digital &nbsp;&nbsp; <%=link_to "Re-issue", "javascript:void(0)", {:id=>"reissue_code"}%><img src="/images/loading.gif" width="16" height="16" alt="Loading" style="position:relative;display:none" /></p>
    </div>
    <h3><%=@recent_transactions.length%> most recent transactions <%=link_to "View All", all_qr_codes_transactions_users_management_path(@user)%></h3>
    <table width="100%" cellspacing="0">
      <tr>
        <th>When</th>
        <th>Where</th>
        <th>What</th>
        <th>By who</th>
        <th>View details</th>
      </tr>
      <% @recent_transactions.each do |log| %>
      <tr>
        <td><%="#{log.created_at.strftime("%I:%M %p")} on #{log.created_at.strftime("%b %d , %Y")}"%></td>
        <td><%=log.pname || log.bname %></td>
        <td>Earned <%=log.gained_amount%> points @ <%=log.bname%></td>
        <td><%="#{log.first_name} #{log.last_name}" %></td>
        <td><%= link_to "View details", view_tx_details_users_management_path(@user,log.log_id) %></td>
      </tr>
      <%end%>
    </table>
  </div>
<%else%>
<h4>There is no associated qrcodes to this user</h4>
<%end%>
<br/>
<h3>Cash Accounts @ Cashbury</h3>
<% if @user.accounts.money.count > 0 %>
<table class="mono-table" style="width:820px" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <th>Business</th>
    <th>Account Type</th>
    <th>Balance</th>
  </thead>
  <tbody>
    <% @user.accounts.where(['is_money = ? OR is_cashbury = ?', true, true]).each do |acc| %>
      <tr>
        <td><%= acc.business.name %></td>
        <td><%= acc.is_money? ? "Money" : "Cashbury" %></td>
        <td><%= acc.amount %>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to 'Show Transactions', user_transactions_path(@user) %></p>
<% else %>
  None.
<% end %>
<h3>Manage User Program Enrollment @ a Business</h3>
<%= select_tag :program_type_id, "<option value=''>...Program Type...</option>".html_safe + options_from_collection_for_select(ProgramType.all, "id", "name", ProgramType.find_by_name(ProgramType::AS[:marketing]).try(:id)), {:id=>"program_type_selector"}%>
<img src="/images/loading.gif" width="16" height="16" alt="Loading" style="display:none;" />
<div id="listing_businesses_container">
  <%=render :partial=>"listing_enrollments_container"%>
</div>
<%= form_tag users_management_enroll_in_money_program_path(@user) do %>
  <%# Quick hack for support; refactor properly, later %>
  <%
      ignore_ids = @user.programs.money.collect(&:business_id)
      ignore_ids << -1
      has_many_program_ids = Program.where(:program_type_id => ProgramType["Money"].id).collect(&:business_id)
      has_many_program_ids << -1 if has_many_program_ids.size == 0
      @businesses = Business.where(['id NOT IN (?)', ignore_ids]).where(:id => has_many_program_ids)
  %>
  <fieldset>
    <legend>Money Program Enrollment</legend>
    <%= label_tag :business_name, "Business Name" %>
    <%= select_tag 'business_id', options_for_select(@businesses.map { |b| [b.name, b.id] }) %>
    <br />
    <% if @businesses.size > 0 %>
      <%= submit_tag 'Enroll' %>
    <% end %>
  </fieldset>
<% end %>
<p><%= link_to "Deposit/Withdraw to/from SVA accounts @ businesses", manage_user_accounts_users_management_path(@user)%></p>
<p><%= link_to "Redeem a reward @ businesses", redeem_rewards_users_management_path(@user)%></p>
<p><%= link_to "Engage @ campaign @ businesses", list_engagements_users_management_path(@user)%></p>
<p><%= link_to "Show Logged Actions", logged_actions_users_management_path(@user)%></p>
<p><%= link_to "Aggregate Transactions Report", aggregate_transactions_report_users_management_path(@user)%></p>
<p><%= link_to 'Transactions', user_transactions_path(@user) %></p>