<%= javascript_include_tag 'prototype' %>
<%= calendar_date_select_includes %>
<% CalendarDateSelect.format=(:iso_date)%>



<style type="text/css" media="screen">
  div.form_item_div select{margin:0 5px 0 0}
  div.form_item_div input {padding:5px 2px; margin:0 3px 0 0}
  div.form_item_div label {height:30px; line-height:30px; padding:0 5px}
</style>
<%= form_for([@business ,@campaign],:html => { :multipart => true }) do |f| %>
  <%=hidden_field_tag :brand_name,@business.try(:brand).try(:name), :id=>"brand_name_id"%>
  <% if @campaign.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this offer from being saved:</h2>
      <ul>
        <% @campaign.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
  <% end %>
  <fieldset>
    <legend class="section_title">Make an Offer</legend>
    <div class="form_item_div">
    <%= f.fields_for :engagements do |engagement|%>

    <% if  engagement.object.engagement_type_id !=4  %>
      <% #the if statement is here because the share engagmements is also iterated %>

      <%= engagement.select :engagement_type_id, EngagementType.list.collect{ |eng_type| [eng_type.display_name,eng_type.id]  } , {}, {:id=>"engagement_type_selection_list",:style=>"width:170px", :class=>"left"}%>
      <%= engagement.hidden_field :amount, :value=>1%>
      <%= f.fields_for :rewards do |reward|%>
        <%= reward.text_field :needed_amount, {:class=>"basic_info_caption1 inst left", :style=>"width:45px;margin:0 0 0",:title=>"10", :id=>"needed_amount_id"} %>
        <input type="text" class="basic_info_caption1 inst left" style="width:135px" name="item_name" id="item_text_field" title="Coffee Drink" value="<%=@item_name%>" />
        <label class="left"> times, Get a </label>
        <%= reward.text_field :name ,{:maxlength=>16,:class=>"basic_info_caption1 inst",:style=>"width:330px;margin:0 0 0",:title=>"Coffee",:id=>"reward_name_field_id"}%>
    </div>
  </fieldset>
  <br /><br />
  <fieldset >
    <legend class="section_title">Select the branches where this offer will be available</legend>
    <div class="form_item_div">
      <% @business.places.each do |place| %>
        <% listed_places= @campaign.new_record? ? @business.places : @campaign.places%>
        <%= check_box_tag("campaign[places_list][#{place.id}]", "1", listed_places.detect{|i| i.id == place.id}) %>
        <%= "#{place.name}"%><br />
      <% end %>
    </div>
  </fieldset>
  <br /><br />
  <fieldset >
    <legend class="section_title">Who is this offer targeted to</legend>
    <div class="form_item_div"><%= select_tag "target_id", "<option value=''>...Everyone...</option>".html_safe+options_from_collection_for_select(Target.all, "id", "display_name",@campaign.targets.first.try(:id)) %></div>
  </fieldset><br/><br/>
  <fieldset >
    <legend class="section_title">Setting Facebook Messages</legend>
    <div class="row">
      <%= f.check_box :is_fb_enabled %>
      <%= f.label :is_fb_enabled, "Enable Share on Facebook" %>
    </div>
    <div class="face_book_message">
      <%  #render "shared/share_engagement", :share_engagement=>@share_engagement %>
      <div class="row">
        <%= reward.label "When user unlocks a reward" %><br />
        <%= reward.text_field :fb_unlock_msg, :class=>"basic_info_input", :maxlength=>100, :id=>"fb_unlock_msg", :style=>"width: 540px;" %>
      </div>
      <div class="row">
        <%= reward.label "When user enjoys a reward" %><br />
        <%= reward.text_field :fb_enjoy_msg, :class=>"basic_info_input", :maxlength=>100, :id=>"fb_enjoy_msg", :style=>"width: 540px;" %>
      </div>
      <div class="row">
        <%= engagement.label "When user makes an engagement" %><br />
        <%= engagement.text_field :fb_engagement_msg, :class=>"basic_info_input", :maxlength=>150, :id=>"fb_engagement_msg", :style=>"width: 540px;" %>
      </div>
    </div>
  </fieldset>
  <p><a id="add_details_link" href="javascript:void(0)"><%=@campaign.new_record? ? "Add More Details" : "Edit Details"%></a></p>
  <br /><br />
  <fieldset id="details_box" style="display:none">
    <legend class="section_title"><%=@campaign.new_record? ? "More Details" : "Edit Details"%></legend>
      <div class="row">
        Launch now <%= check_box_tag("launch_today","",1) %> or at <%= f.calendar_date_select :start_date%>
      </div>
      <div class="row">
        <%= f.label :initial_amount %><br />
        <%= f.text_field :initial_amount , {:class=>"basic_info_caption1",:style=>"width:350px;float:none"}%>
      </div>
      <div class="row">
        <%= f.label :initial_biz_amount %><br />
        <%= f.text_field :initial_biz_amount , {:class=>"basic_info_caption1",:style=>"width:350px;float:none"}%>
      </div>
      <div class="row">
        <%= f.label "This offer should be available until" %><br />
        <%= f.calendar_date_select :end_date%>
      </div>
      <div class="row" id="item_div">
        <%= engagement.label "Associated/Purchased Item" %><br />
        <%= engagement.select :item_id, "<option value=''>...Item...</option>".html_safe+options_from_collection_for_select(@business.items,"id","name",engagement.try(:object).try(:item).try(:id)) ,{},{:style=>"width:170px"}%>
      </div>
      <div class="row">
        <%= reward.label "Reward Short Description" %><br />
        <%= reward.text_field :heading1, :class=>"basic_info_input", :maxlength=>40%>
      </div>
      <div class="row">
        <%= reward.label "Reward Description" %><br />
        <%= reward.text_area :heading2, :class=>"basic_info_input",:id=>"description_field",:maxlength=>84,:rows=>5 %>
      </div>
      <div class="row">
        <input type="text" name="counter" maxlength="3" size="3" value="84" id="counter_field"> chars remaining
      </div>
      <div class="row">
        <%= reward.label "Reward Legal Terms" %><br />
        <%= reward.text_area :legal_term ,:rows=>3%>
      </div>
      <div class="row">
        <%= reward.label "Total Quantity Available of reward" %><br />
        <%= reward.text_field :max_claim , :class=>"basic_info_input"%>
      </div>
      <div class="row">
        <%= reward.label "Reward Max Enjoyments Per User" %><br />
        <%= reward.text_field :max_claim_per_user , :class=>"basic_info_input"%>
      </div>
      <div class="row">
        <%=reward.fields_for :reward_image,@reward.try(:reward_image) do |image|%>
          <%= image.label "Reward Image" %><br />
          <%= image.file_field :photo%><br />
          <small>supported image types: <strong>JPEG, JPG, PNG, BMP</strong></small>
        <% end %>
      </div>
    <br /><br />
  </fieldset>
  <%end%>
  <%end #ifends engaggement !=4%>
  <%end%>
  <div class="actions">
    <p><%= f.submit @campaign.new_record? ? "Make Offer" : "Update Offer"%></p>
  </div>
<% end %>

<script type="text/javascript">
jQuery(document).ready(function(){


    jQuery("#campaign_is_fb_enabled").click(function(e){
      var $cb = jQuery(this);
      if($cb.is(":checked")){
        update_fb_msg();
        enable_fields();
      }else{
      //engagement_type =jQuery("#engagement_type_id").val();
        disable_fields();
      }
    });


  <% unless @campaign.is_fb_enabled? %>
    disable_fields();
  <% end %>

  update_select_item_list_display(jQuery("#engagement_type_selection_list"));
  jQuery("#engagement_type_selection_list").change(function () {
    update_select_item_list_display(this);
    /*eng_type_val=jQuery(":selected", this).val();
    jQuery.ajax({
      type: 'GET',
      url: "/select_partial/"+eng_type_val,
      success: function(data){
        jQuery('.form_item_div').html(data);
      }
    });*/
  });
  jQuery("#add_details_link").click(function(){
    if (jQuery(this).html()=="Add More Details" || jQuery(this).html()=="Edit Details")
      jQuery(this).html("Hide Details");
    else{
      <%if @campaign.new_record? %>
        jQuery(this).html("Add More Details");
      <%else%>
        jQuery(this).html("Edit Details");
      <%end%>
    }
    jQuery("#details_box").slideToggle();
  });
  jQuery('#description_field').keydown(function(){
    var desc_text = jQuery(this).val();
    if ( desc_text.length > 84 ){
      jQuery(this).val(desc_text.substring( 0, 84 ));
      alert( 'Description value can only be 84 characters in length.' );
      return false;
    }
    else{
      jQuery('#counter_field').val(84 - desc_text.length);
    }
  });
  jQuery('#reward_name_field_id,#needed_amount_id,#engagement_type_selection_list,#item_text_field').blur(function(){
    var offer_type=jQuery("#engagement_type_selection_list :selected").text();
    var item_name=jQuery("#item_text_field").val();
    var no_of_times=jQuery("#needed_amount_id").val();
    var reward_name=jQuery("#reward_name_field_id").val();
    var brand_name=jQuery("#brand_name_id").val();
    if (no_of_times!="" && reward_name!="" ){
      if (item_name!="" && offer_type.match(/Buy/)!=null){
        jQuery("#fb_engagement_msg").val("enjoyed a/an "+item_name+" @ "+brand_name+" and scored "+no_of_times+" point(s) by going out with Cashbury");
      }else{
        jQuery("#fb_engagement_msg").val("received a visit stamp and scored "+no_of_times+" point(s) @ "+brand_name+" by going out with Cashbury");
      }
      jQuery("#fb_enjoy_msg").val("enjoyed a/an "+reward_name+" @ "+ brand_name+" by going out with Cashbury");
      jQuery("#fb_unlock_msg").val("unlocked a/an "+reward_name+" @ "+ brand_name+" by going out with Cashbury");
    }
  });
  function update_select_item_list_display(object){
    eng_type_option = jQuery(":selected", object).text().toLowerCase();
    if(eng_type_option.match(/buy/)!=null){
      jQuery('#item_div').show();
      jQuery('#item_text_field').show();
    }else if(eng_type_option.match(/spend/)!=null){
      if(window.location.pathname!="<%=new_business_spend_campaign_path(@business)%>")
        document.location.href="<%=new_business_spend_campaign_path(@business)%>";
    }else{
      jQuery('#item_div').hide();
      jQuery('#item_text_field').hide();
      jQuery('#item_div').val("");
      jQuery('#item_text_field').val("");
    }
  }

});

function enable_fields(){
  jQuery(".face_book_message").show();
}

function disable_fields(){
  jQuery(".face_book_message").hide();
}
function update_fb_msg(){
    var amount = jQuery("#share_amount").val();
    if(amount =="") {
      amount=1;
      jQuery("#share_amount").val(1);
    }
    jQuery("#share_fb_engagement_msg").val("share on Facebook and earn +"+amount+" point(s)");
}


</script>
