<%= form_for [@business,@campaign] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :campaign_type %><br />
    <%= f.select :campaign_type, @campaign.campaign_types %>
  </p>
  <p>
    <%= f.label :expire_at %><br />
    <%= f.datetime_select :expire_at %>
  </p>

  <p><%= f.submit %></p>
<% end %>
