<% title "Crop Reward Image" %>  
<% content_for (:head) do %>  
<%= stylesheet_link_tag "jquery.Jcrop" %>  
<%= javascript_include_tag "jquery.Jcrop.min" %>  
<script type="text/javascript">  
  jQuery(function() {  
    jQuery('#cropbox').Jcrop({  
      onChange: update_crop,  
      onSelect: update_crop,  
      setSelect: [0, 0, 79, 54],
      allowResize: false,
      allowSelect: false 
    });  
  });  
  function update_crop(coords) {  
    var rx = 79/coords.w;  
    var ry = 54/coords.h;  
    $('#preview').css({  
      width: Math.round(rx * <%= @reward.reward_image.photo_geometry(:normal).width %>) + 'px',  
      height: Math.round(ry * <%= @reward.reward_image.photo_geometry(:normal).height %>) + 'px',  
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',  
      marginTop:  '-' + Math.round(ry * coords.y) + 'px'  
    });    
    jQuery('#crop_x').val(coords.x);  
    jQuery('#crop_y').val(coords.y);  
    jQuery('#crop_w').val(coords.w);  
    jQuery('#crop_h').val(coords.h);   
  }    
</script>  
<% end %>     
<%= image_tag @reward.reward_image.photo.url(:normal), :id => "cropbox" %>  
<h4>Preview</h4>  
<div style="width: 79px; height: 54px; overflow: hidden;">  
  <%= image_tag @reward.reward_image.photo.url(:normal), :id => "preview" %>  
</div>  
<% form_tag "/businesses/#{@business.id}/campaigns/#{@campaign.id}/crop_image",:method=>"POST" do %>  
  <%= hidden_field_tag :reward_id, @reward.id%>
  <%= hidden_field_tag "reward[reward_image_attributes][id]", @reward.reward_image.id%>
  <% for attribute in [:crop_x, :crop_y, :crop_w, :crop_h] %>  
    <p><%=attribute%>: <%= text_field_tag "reward[reward_image_attributes][#{attribute}]","", :id => attribute %></p>  
  <% end %>
<p><%= submit_tag "Crop" %></p>  
<% end %>  
