<% title "Programs" %>

<h1>Listing programs</h1>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Auto enroll</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Business</th>
    <th>Initial points</th>
    <th>Max points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programs.each do |program| %>
  <tr>
    <td><%= link_to program.name, business_program_url(@business, program)%></td>
    <td><%= program.program_type_id %></td>
    <td><%= program.auto_enroll %></td>
    <td><%= program.start_date %></td>
    <td><%= program.end_date %></td>
    <td><%= program.business_id %></td>
    <td><%= program.initial_points %></td>
    <td><%= program.max_points %></td>
    <td><%= link_to 'Show', business_program_path(@business,program) %></td>
    <td><%= link_to 'Edit', edit_business_program_path(@business,program) %></td>
    <td><%= button_to "Destroy", business_program_path(@business,program), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Program - Campaign', new_business_program_path %><br />
<%= link_to 'New Program', new_business_program_path %><br />

<%= link_to "Show all types", program_types_path %>