<% title "#{@business.name} | Listing Offers" %>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Business</th>
    <th>Program</th>
    <th>Initial user amount</th>
    <th>Initial biz amount</th>
    <th>Measurement Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @campaigns.each do |campaign | %>
  <tr>
    <td><%= link_to campaign.name, campaign.ctype==Campaign::CTYPE[:spend]? business_spend_campaign_url(@business,campaign) : business_campaign_url(@business,campaign)%></td>
    <td><%= campaign.start_date %></td>
    <td><%= campaign.end_date %></td>
    <td><%= campaign.program.try(:business).try(:name) %></td>
    <td><%= campaign.program.try(:program_type_name) %></td>
    <td><%= campaign.initial_amount %></td>
    <td><%= campaign.initial_biz_amount %></td>
    <td><%= campaign.measurement_type.try(:name) %></td>
   
    <td><%= link_to 'Show', campaign.ctype==Campaign::CTYPE[:spend]? business_spend_campaign_url(@business,campaign) : business_campaign_url(@business,campaign) %></td>
    <td><%= link_to 'Edit', campaign.ctype==Campaign::CTYPE[:spend]? edit_business_spend_campaign_path(@business,campaign) : edit_business_campaign_path(@business,campaign) %></td>
    <td><%= button_to "Destroy", campaign.ctype==Campaign::CTYPE[:spend]? business_spend_campaign_path(@business,campaign) : business_campaign_path(@business,campaign), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Make New Offer', new_business_campaign_path(@business) %> | <%= link_to 'Back to business', business_path(@business) %>
