<% title @business.name %>

<p>Available Campaigns</p>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Expire At</th>
  </tr>
  <% for campaign in @campaigns %>
    <tr>
	    <td><%= link_to campaign.name, business_campaign_path(@business, campaign) %></td>
      <td><%= campaign.campaign_type %></td>
      <td><%= campaign.expire_at %></td>
      <td><%= link_to "Edit", edit_business_campaign_path(@business, campaign) %></td>
      <td><%= link_to "Destroy", business_campaign_path(@business, campaign), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Campaign", new_business_campaign_path(@business) %></p>
