<% title "Campaign | #{@campaign.name}" %>
<p id="notice"><%= notice %></p>
<p>
  <b>The Offer:</b>
  <%= @engagement.try(:description) %>
</p>

<p>
  <b>Assigned Places:</b>
  <ul>
  <%@campaign.places.each do |place|%>
    <li><%= place.name %></li>
  <%end%>
  </ul>
</p>

<p>
  <b>Targeted to:</b>
  <%unless @campaign.targets.empty?%>
    <%= Target::TARGETS_LABELS[@campaign.targets.first.try(:name)] %>
  <%else%>
    Everyone
  <%end%>
</p>

<p>
  <b>Fb msg when user unlocks a reward:</b>
  <%=@reward.fb_unlock_msg%>
</p>
<p>
  <b>Fb msg when user enjoys a reward:</b>
  <%=@reward.fb_enjoy_msg%>
</p>
<p>
  <b>Fb msg when user makes an engement:</b>
  <%=@engagement.fb_engagement_msg%>
</p>
  
<p>
  <b>Launch Date:</b>
  <%=@campaign.start_date%>
</p>

<p>
  <b>End Date:</b>
  <%=@campaign.end_date%>
</p>

<p>
  <b>Initial User Account Amount:</b>
  <%=@campaign.initial_amount%>
</p>

<p>
  <b>Initial Business Account Amount:</b>
  <%=@campaign.initial_biz_amount%>
</p>

<%unless @reward.try(:heading1).blank?%>
<p>
  <b>Reward Short Description:</b>
  <%=@reward.heading1%>
</p>
<%end%>
<%unless @reward.try(:heading2).blank?%>
<p>
  <b>Reward Description:</b>
  <%=@reward.heading2%>
</p>
<%end%>

<%unless @reward.try(:legal_term).blank?%>
<p>
  <b>Reward Legal Terms:</b>
  <%=@reward.legal_term%>
</p>
<%end%>
<p>
  <b>Total quantity available of reward:</b>
  <%=@reward.try(:max_claim)%>
</p>
<p>
  <b>Reward max enjoyments per user:</b>
  <%=@reward.try(:max_claim_per_user)%>
</p>
<%unless @reward.try(:reward_image).blank?%>
<p>
  <b>Reward Image:</b>
  <%=image_tag @reward.reward_image.photo.url(:thumb)%>
</p>
<%end%>
<p><%= link_to 'Edit Offer', edit_business_campaign_path(@business) %></p>
<p><%= link_to 'Make New Offer', new_business_campaign_path(@business) %></p>
<p><%= link_to 'Back to business', business_path(@business) %></p>
<p><%= link_to 'List Offers', business_campaigns_path(@business) %></p>
