<%= form_for [@business, @campaign, @engagement] do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name  %>
  </p>
  
  <p>
    <%= f.label :engagement_t, "Engagement Type" %><br />
    <%= f.select :engagement_type, @engagement.engagement_types %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.select :state, Engagement.state_machine.states.map(&:name) %>
  </p>
  <p>
    <%= f.label :points %><br />
    <%= f.text_field :points %>
  </p>
  <p>
    <%= f.label :places, "Places" %><br />
		<% @places.each do |place| %>
			<%= check_box_tag("engagement[places_list][#{place.id}]", 
                        "1", 
                        @engagement.places.detect{|c| c.id == place.id}) %>
			<%= "#{place.name}"%><br />
		<% end %>
  </p>
  
  <p><%= f.submit %></p>
<% end %>
