<% title "Business: #{@business.name}" %>


<p>
  <strong>Engagement Name:</strong>
  <%= @engagement.name %>
</p>
<p>
  <strong>Engagement Type:</strong>
  <%= @engagement.engagement_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= @engagement.description %>
</p>
<p>
  <strong>State:</strong>
  <%= @engagement.state %>
</p>
<p>
  <strong>Points:</strong>
  <%= @engagement.points %>
</p>
  
<p>
  <strong>Places:</strong>
  <% qrcodes =  @engagement.qr_codes  %>
  <% for place in @engagement.places %>
    <h3><%= place.name %></h3>
    <% if @engagement.engagement_type == QrCode::STAMP %>
      <%  qrcode = QrCode.code(@engagement.id,place.id) %>
      
      <% if qrcode.respond_to?(:hash_code) %>
        <%= image_tag  "qrcodes/#{ qrcode.hash_code }.png" %>
      <% end %>

      <%= link_to "Manage QrCodes ", qr_codes_path({:engagement_id=>@engagement.id})   %>
      <%= link_to "Issue Code",  issue_code_business_engagement_place_path(@business, @engagement , place) , :remote=>true%> 
    <% end %>  
  <% end %>
</p>
<p>
  <%= link_to "Edit", edit_business_engagement_path(@business, @engagement) %> |
  <%= link_to "Destroy", business_engagement_path(@business, @engagement), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_engagements_path(@business) %>
  <%= link_to "Download(pdf)", business_engagement_path(@business,@engagement , :format=>:pdf ) %>
</p>
