<% title "Business: #{@business.name}" %>


<p>
  <strong>Engagement Name:</strong>
  <%= @engagement.name %>
</p>
<p>
  <strong>Engagement Type:</strong>
  <%= @engagement.engagement_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= @engagement.description %>
</p>
<p>
  <strong>State:</strong>
  <%= @engagement.state %>
</p>
<p>
  <strong>Points:</strong>
  <%= @engagement.points %>
</p>
  
<p>
  <strong>Places:</strong>
  <% for place in @engagement.places %>
    <h3><%= place.name %></h3>
    <% if @engagement.engagement_type.downcase == "stamp" %>
     <%= image_tag Engagement.qrcode(place.id,@engagement.id, @engagement.points , @engagement.created_at ,place.created_at) %>
    <% end %>  
  <% end %>
</p>
<p>
  <%= link_to "Edit", edit_business_engagement_path(@business, @engagement) %> |
  <%= link_to "Destroy", business_engagement_path(@business, @engagement), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_engagements_path(@business) %>
</p>
