<% title "Business: #{@business.name}" %>


<p>
  <strong>Engagement Name:</strong>
  <%= @engagement.name %>
</p>
<p>
  <strong>Engagement Type:</strong>
  <%= @engagement.engagement_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= @engagement.description %>
</p>
<p>
  <strong>State:</strong>
  <%= @engagement.state %>
</p>
<p>
  <strong>Points:</strong>
  <%= @engagement.points %>
</p>
  
<p>
  <strong>Places:</strong>
  <% qrcodes =  @engagement.qr_codes  %>
  <% for place in @engagement.places %>
    <h3><%= place.name %></h3>
    <% if @engagement.engagement_type.downcase == "stamp" %>
      <%= image_tag QrCode.image(QrCode.code(place.id , @engagement.id).hash_code) %>
      <%= link_to "Issue Code",  issue_code_business_engagement_place_path(@business, @engagement , place) , :remote=>true%> 
    <% end %>  
  <% end %>
</p>
<p>
  <%= link_to "Edit", edit_business_engagement_path(@business, @engagement) %> |
  <%= link_to "Destroy", business_engagement_path(@business, @engagement), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_engagements_path(@business) %>
</p>
