<% title "Programs' types" %>

<h1>Listing Program's types</h1>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @program_types.each do |program_type| %>
  <tr>
    <td><%= program_type.name %></td>
    <td><%= link_to 'Show', program_type %></td>
    <td><%= link_to 'Edit', edit_program_type_path(program_type) %></td>
    <td><%= button_to 'Destroy', program_type, :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Program type', new_program_type_path %>
