<script type="text/javascript">
 $(document).ready(function(){
  $("#engagement_type_selection_list").change(function () {
      buy_item_option = $(":selected", this).text();
      if(buy_item_option == "Buy a product/service")
        $('#item_div').show();
      else{
        $('#item_div').hide();
      }
  });
});
</script>
<%= form_for [@business,@program ,@campaign, @engagement] do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name  %>
  </p>
  
  <p>
    <%= f.label :engagement_type_id, "Engagement Type" %><br />
    <%= f.select :engagement_type_id, @engagement_types.collect {|et| [et.name, et.id]} , {}, {:id=>"engagement_type_selection_list"}%>
  </p>
  <p id="item_div">
    <%= f.label :item %><br />
    <%= select_tag "engagement[item_id]", "<option value=''>...Select...</option>".html_safe+options_from_collection_for_select(@items,"id","name",@engagement.try(:item).try(:id)) %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label "Facebook msg when user makes an engagement" %><br />
    <%= f.text_field :fb_engagement_msg, :class=>"basic_info_input", :maxlength=>100 %>
  </p>
  <p>
    <%= f.label :is_started %><br />
    <%= f.select :is_started, options_for_select([ ['started', 'true'],['stopped','false']],@engagement.is_started)%>
  </p>
  <%unless @campaign.measurement_type.business%>
    <p>
      <%= f.label :amount %><br />
      <%= f.text_field :amount %>
    </p>
  <%end%>

 
  
  <p><%= f.submit %></p>
<% end %>
