<%= form_for [@business,@program ,@campaign, @engagement] do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name  %>
  </p>
  
  <p>
    <%= f.label :engagement_type_id, "Engagement Type" %><br />
   
    <%= f.select :engagement_type_id, EngagementType.all.collect {|et| [et.name, et.id]} %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  
  <p>
    <%= f.label :is_started %><br />
    <%= f.select :is_started, options_for_select([ ['started', 'true'],['stopped','false']],@engagement.is_started)%>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>

 
  
  <p><%= f.submit %></p>
<% end %>
