<% title "Business: #{@business.name}" %>


<p>
  <strong>Engagement Name:</strong>
  <%= @engagement.name %>
</p>
<p>
  <strong>Engagement Type:</strong>
  <%= @engagement.engagement_type.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @engagement.description %>
</p>
<p>
  <strong>State:</strong>
  <%= Engagement::STATES[@engagement.state] %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @engagement.amount %>
</p>


<p>
  <%= link_to "Edit", edit_business_program_campaign_engagement_path(@business, @program, @campaign,@engagement) %> |
  <%= link_to "View All", business_program_campaign_engagements_path(@business,@program,@campaign) %> |
  <%= button_to "Destroy", business_program_campaign_engagement_path(@business, @program, @campaign,@engagement), :confirm => 'Are you sure?', :method => :delete %>
</p>
