<head>
<style type="text/css" media="screen">
  div.form_item_div select{margin:0 5px 0 0}
  div.form_item_div input {padding:5px 2px; margin:0 3px 0 0}
  div.form_item_div label {height:30px; line-height:30px; padding:0 5px}  
  .row {width:880px;}
</style>
<script type="text/javascript">
var counter=<%= @rewards.present? and @rewards.size > 0 ? @rewards.size-1 : 0  %>;
$(document).ready(function(){
  $(".reward_exp_date").datepicker().live("change",function () {
    $(".reward_exp_date").val($(this).val());
  });
  $("#add_details_link").click(function(){
    if ($(this).html()=="Settings +")
      $(this).html("Hide Settings +");
    else
      $(this).html("Settings +");
    $("#details_box").slideToggle();
  });
  $(".reward_end_date").datepicker().live("change",function(){
    $("#engagement_end_date").val($(this).val());
    $(".reward_end_date").val($(this).val());
  });
  $('.money_amount').live("blur",function(){
    var money_amount=$(this).val();
    var brand_name=$("#brand_name_id").val();
    var currency_symbol=$("#currency_symbol").val();
    if (money_amount !="" ){        
      $(this).nextAll(".fb_enjoy_msg").val("enjoyed a "+currency_symbol+money_amount+" cash back reward @ "+ brand_name+" by going out with Cashbury");
      $(this).nextAll(".fb_unlock_msg").val("unlocked a "+currency_symbol+money_amount+" cash back reward @ "+ brand_name+" by going out with Cashbury");
    }
  });

});
</script>
</head>
<%= form_for [@business ,@campaign],:url=>@campaign.new_record? ? business_spend_campaigns_path(@business) : business_spend_campaign_path(@business,@campaign) do |f| %>
  <%=hidden_field_tag :brand_name,@business.try(:brand).try(:name), :id=>"brand_name_id"%>
  <%=hidden_field_tag :currency_symbol,@business.currency_symbol, :id=>"currency_symbol"%>
  <%= f.error_messages %>
  <fieldset >
    <legend class="section_title">Who is this offer targeted to</legend>
    <div class="form_item_div"><%= select_tag "target_id", "<option value=''>...Everyone...</option>".html_safe+options_from_collection_for_select(Target.all, "id", "display_name",@campaign.new_record? ? Target.find_by_name("returning_comers").try(:id) : f.object.try(:targets).try(:first).try(:id) )%></div>
  </fieldset>
  <%= f.fields_for :engagements do |engagement| %>
    <fieldset>
      <legend class="section_title">Setting The Exchange Rule</legend>
      1 <%=image_tag @business.country_flag %> <%=@business.currency_code%> = <%= engagement.text_field :amount,{:value=> @engagement.try(:amount) || 1,:maxlength=>16,:class=>"basic_info_caption1",:style=>"width:35px;margin:0 0 0;float:none"}%> points
    </fieldset>
    <%= engagement.hidden_field :end_date,{:id=>"engagement_end_date"} %>
    <%= engagement.label "Facebook msg when user makes an engagement" %><br />
    <%= engagement.text_field :fb_engagement_msg,{:value=>@engagement.try(:fb_engagement_msg) || "earned {spend} points @ #{@business.try(:brand).try(:name)} when the engagement is completed.", :class=>"basic_info_input", :maxlength=>150, :style=>"width: 670px;"} %>
  <%end%>
  <div style="clear:both"/>
  <% if @campaign.new_record? %>
    <% f.fields_for :rewards do |reward| %>
      <%= render "reward_fields", :f => reward %>
    <% end %>
  <%else%>
   <%@campaign.rewards.each_with_index do |reward_builder,index| %>
    <%@index=index+1%>
    <%= f.fields_for :rewards,reward_builder do |reward| %>
      <%= render "reward_fields", :f => reward %>
    <% end %>
    <%end%>
  <%end%>
  <p><%= link_to_add_fields "Add a spend based reward level", f, :rewards%></p>
  <fieldset>
    <legend class="section_title">Select the branches where this offer will be available</legend>
    <div class="form_item_div">
      <% @business.places.each do |place| %>
        <% listed_places= @campaign.new_record? ? @business.places : @campaign.places%>
        <%= check_box_tag("campaign[places_list][#{place.id}]", "1", listed_places.detect{|i| i.id == place.id}) %>
        <%= "#{place.name}"%><br />
      <% end %>
    </div>
  </fieldset>
  <!--<fieldset>
    <legend>Facebook share</legend>
    <%= check_box_tag "campaign[is_fb_enabled]" %><%= label_tag "Enable Facebook sharing engagement" %><br/>
    <%= render "shared/share_engagement" , :share_engagement=>@share_engagement%>
  </fieldset>-->
  <br /><br />
  <p><a id="add_details_link" href="javascript:void(0)">Settings +</a></p>
 
  <fieldset id="details_box" style="display:none">
    <legend class="section_title">More Details</legend>
      <div class="row">
        Launch now <%= check_box_tag("launch_today","",1) %> or at <%= f.text_field :start_date,{:class=>"datepicker",:style=>"width:95px;margin:0 0 0"}%> 
      </div>
      <div class="row">
        <%= f.label :initial_amount %><br />
        <%= f.text_field :initial_amount ,{:class=>"basic_info_caption1",:style=>"width:350px;float:none"}%>
      </div>
      <div class="row">
        <%= f.label :initial_biz_amount %><br />
        <%= f.text_field :initial_biz_amount,{:value=>10000,:class=>"basic_info_caption1",:style=>"width:350px;float:none"}%>
      </div>
    <br /><br />
  </fieldset>
  <p><%= f.submit @campaign.new_record? ? "Create" : "Update"%></p>
<% end %>
