<div class="fields">
<fieldset>
  <legend class="section_title">Offer Level <%=@index || "1"%></legend>
  <div class="form_item_div">
    <label class="left"> Spend </label>   
    <%= f.text_field :needed_amount,{:class=>"basic_info_caption1 test", :style=>"width:45px;margin:0 0 0"} %>
    <label class="left"><%=@business.currency_symbol %> before </label>
    <%= f.text_field :end_date,{:class=>"basic_info_caption1 reward_end_date datepicker", :style=>"width:95px;margin:0 0 0", :value=> @engagement.try(:end_date)} %>
    <label class="left"> Get a </label>
    <%= f.text_field :money_amount,{:maxlength=>16,:class=>"basic_info_caption1 money_amount",:style=>"width:45px;margin:0 0 0"}%>
    <label class="left"><%=@business.currency_symbol %> Cash back, Offer available until </label> 
    <%= f.text_field :expiry_date,{:class=>"basic_info_caption1 reward_exp_date datepicker", :style=>"width:95px;margin:0 0 0"} %>    
    <br style="clear:both;"/>
    <label style="display:block;">Facebook msg when user unlocks a reward</label> 
    <%= f.text_field :fb_unlock_msg,:class=>"basic_info_input fb_unlock_msg", :maxlength=>100, :style=>"width: 540px;" %>
    <br style="clear:both;"/>
    <label style="display:block;">Facebook msg when user enjoys a reward</label>
    <%= f.text_field :fb_enjoy_msg,:class=>"basic_info_input fb_enjoy_msg", :maxlength=>100, :style=>"width: 540px;" %>
  </div>
</fieldset>
</div>
