<% title "#{@business.name} \ Make an offer" %>
<head>
<%= javascript_include_tag 'jquery.datePicker-2.1.2' %>
<%= stylesheet_link_tag 'datePicker' %>
<style type="text/css" media="screen">
  div.form_item_div select{margin:0 5px 0 0}
  div.form_item_div input {padding:5px 2px; margin:0 3px 0 0}
  div.form_item_div label {height:30px; line-height:30px; padding:0 5px}
  .form_item_div .calendar_date_select_popup_icon {float:left}
  .row {width:880px;}
</style>
</head>
<%= form_tag(business_spend_campaign_path(@business,@campaign), :method=>"PUT") do  %>
  <%=hidden_field_tag :brand_name,@business.try(:brand).try(:name), :id=>"brand_name_id"%>
  <% if @campaign.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@campaign.errors.count, "error") %> prohibited this offer from being saved:</h2>
      <ul>
        <% @campaign.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  </div>
  <% end %>
  <div class="row">
    <h4>Setting The rule</h4>
    1 <%=ISO4217::Currency.from_code(@business.currency_code).try(:symbol) || "$" %>=<%= text_field_tag "engagement[0][amount]" ,@engagement.try(:amount) || 1,{:maxlength=>16,:class=>"basic_info_caption1",:style=>"width:100px;margin:0 0 0;float:none",:default=>1}%> points
  </div>
  <%@rewards.each_with_index do |reward,index| %>
  <div class="row">
  <fieldset>
    <legend class="section_title">Edit Offer</legend>
    <div class="form_item_div">
      <label class="left"> Spend </label>   
      <%= text_field_tag "campaign[rewards_attributes][#{index}][needed_amount]",reward.needed_amount, {:class=>"basic_info_caption1 inst", :style=>"width:45px;margin:0 0 0",:title=>"50$", :id=>"needed_amount_id"} %>
      <%= hidden_field_tag "campaign[rewards_attributes][#{index}][id]", reward.id%>
      <label class="left"><%=ISO4217::Currency.from_code(@business.currency_code).try(:symbol) || "$" %> before </label>
      <input type="text" class="basic_info_caption1 eng_end_date datepicker" style="width:95px;margin:0 0 0" name="engagement[0][end_date]" value="<%=@engagement.end_date%>">      
      <label class="left"> Get a </label>
      <%= text_field_tag "campaign[rewards_attributes][#{index}][money_amount]" ,reward.money_amount,{:maxlength=>16,:class=>"basic_info_caption1 inst",:style=>"width:100px;margin:0 0 0",:title=>"5$",:id=>"reward_name_field_id"}%>
      <label class="left"><%=ISO4217::Currency.from_code(@business.currency_code).try(:symbol) || "$" %> Cash back, Offer available until </label>       
      <input type="text" class="basic_info_caption1 datepicker" style="width:95px;margin:0 0 0" name="campaign[rewards_attributes][0][expiry_date]" value="<%=reward.expiry_date%>">
    </div>
  </fieldset>
  </div>
   <%end%>
  <br /><br />
  <fieldset >
    <legend class="section_title">Select the branches where this offer will be available</legend>
    <div class="form_item_div">
      <% @business.places.each do |place| %>
        <% listed_places= @campaign.new_record? ? @business.places : @campaign.places%>
        <%= check_box_tag("campaign[places_list][#{place.id}]", "1", listed_places.detect{|i| i.id == place.id}) %>
        <%= "#{place.name}"%><br />
      <% end %>
    </div>
  </fieldset>
  <br /><br />
  <fieldset >
    <legend class="section_title">Who is this offer targeted to</legend>
    <div class="form_item_div"><%= select_tag "target_id", "<option value=''>...Everyone...</option>".html_safe+options_from_collection_for_select(Target.all, "id", "display_name",@campaign.targets.first.try(:id)) %></div>
  </fieldset><br/><br/>
  <p><a id="add_details_link" href="javascript:void(0)">Edit Details</a></p>
  <br /><br />
  <fieldset id="details_box" style="display:none">
    <legend class="section_title">More Details</legend>
      <div class="row">
        Launch now <%= check_box_tag("launch_today","",1) %> or at <input type="text" class="datepicker" style="width:95px;margin:0 0 0" name="campaign[start_date]" value="<%=@campaign.start_date%>" />   
      </div>
      <div class="row">
        <%= label_tag :initial_amount %><br />
        <%= text_field_tag "campaign[initial_amount]" ,@campaign.initial_amount, {:class=>"basic_info_caption1",:style=>"width:350px;float:none"}%>
      </div>
      <div class="row">
        <%= label_tag :initial_biz_amount %><br />
        <%= text_field_tag "campaign[initial_biz_amount]" ,@campaign.initial_biz_amount, {:class=>"basic_info_caption1",:style=>"width:350px;float:none"}%>
      </div>
      <div class="row">
        <%= label_tag "This offer should be available until" %><br />
        <input type="text" class="datepicker" style="width:95px;margin:0 0 0" name="campaign[end_date]" value="<%=@campaign.end_date%>" />   
      </div>
    <br /><br />
  </fieldset>
  <div class="actions">
    <p><%= submit_tag "Edit Offer"%></p>
  </div>
<% end %>

<script type="text/javascript">
jQuery(document).ready(function(){
  jQuery('input.datepicker').live('click', function() {
    jQuery(this).datepicker({showOn:'focus',dateFormat: 'dd-mm-yy' }).focus();
  });
  jQuery("#add_details_link").click(function(){
    if (jQuery(this).html()=="Add More Details" || jQuery(this).html()=="Edit Details")
      jQuery(this).html("Hide Details");
    else{
      <%if @campaign.new_record? %>
        jQuery(this).html("Add More Details");
      <%else%>
        jQuery(this).html("Edit Details");
      <%end%>
    }
    jQuery("#details_box").slideToggle();
  });
});
</script>
<%= link_to 'Current Offers', business_campaigns_path(@business) %> |
<%= link_to 'Back to business', business_path(@business) %>
