<% title "Business: #{@business.name}" %>


<p>
  <strong>Engagement Name:</strong>
  <%= @engagement.name %>
</p>
<p>
  <strong>Engagement Type:</strong>
  <%= @engagement.engagement_type %>
</p>
<p>
  <strong>Description:</strong>
  <%= @engagement.description %>
</p>
<p>
  <strong>State:</strong>
  <%= @engagement.state %>
</p>
<p>
  <strong>Points:</strong>
  <%= @engagement.points %>
</p>
  
<p>
  <strong>Places:</strong>
  <% qrcodes =  @engagement.qr_codes  %>
  <% for place in @engagement.places %>
    <h3><%= place.name %></h3>
  <% end %>
</p>
<p>
  <%= link_to "Edit", edit_business_program_engagement_path(@business, @program, @engagement) %> |
  <%= link_to "Destroy", business_program_engagement_path(@business, @program, @engagement), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_program_engagements_path(@business,@program) %>
</p>
