<h1>Listing countries (<%= Country.count %>)</h1>
<table class="mono-table" border="0" >
  <tr>
    <th>Name</th>
    <th>Flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%= raw country.name %></td>
    <td><%= image_tag "countries/#{country.iso2.to_s.downcase}.png" %></td>
    <td><%= link_to 'Show', country %></td>
    <td><%= link_to 'Edit', edit_country_path(country) %></td>
    <td><%= link_to 'Destroy', country, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @countries %>
<%= link_to 'New Country', new_country_path %>id
