
<%= form_for(@city, :html=>{:class=>"mono-form cities"}) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label "name" %>
    <%= f.text_field :name , :class=>"title" %>
  </p>

  <p>
    <%= f.label "country" %>
    <%= f.text_field   :country ,   :value=> @city.try(:country).try(:name) ,  :id=>"country_id",:class=>"title double"%>
    <%= f.hidden_field :country_id, :id=>"country",   :class=>"title double"%>
  </p>
  <p>
  <p>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all%>
  </p>
  </p>
    <%= f.label :phone_area_code %>
    <%= f.text_field :phone_area_code, :class=>"title" %>
  </p>
  </p>
    <%= f.label :lat %>
    <%= f.text_field :lat, :class=>"title" %>
  </p>
    <%= f.label :long %>
    <%= f.text_field :lng, :class=>"title" %>
  </p>

  <p>
    <%= f.check_box :is_live  %>
    <%= f.label :is_live %>
  </p>

 <div id="map_canvas" style="width:412px; height:400px" class="google_map"></div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_include_tag      "businessend",
                                'jquery.tipTip',
                                "http://maps.google.com/maps/api/js?sensor=true",
                              %>
<script type="text/javascript" language="javascript" charset="utf-8">
  //<![CDATA[
jQuery(function(){
    google.maps.event.addListener(marker,"dragend",function(){
      console.log("test");
    });
  });

//]]>
</script>
