<h1>Listing cities (<%= City.count %>)</h1>

<table class="mono-table" border="0">
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Tel. Area code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cities.each do |city| %>
  <tr>
    <td><%= city.name %></td>
    <td><%= city.country.try :name %></td>
    <td><%= city.phone_area_code %></td>
    <td><%= link_to 'Show', city %></td>
    <td><%= link_to 'Edit', edit_city_path(city) %></td>
    <td><%= link_to 'Destroy', city, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @cities %>
<%= link_to 'New City', new_city_path %>
