
<p>
  Name:  <%= @city.name %>
</p>
<p>
  Country:<%= @city.country.try :name %>
</p>
<p>
  Area code:<%= @city.phone_area_code %>
</p>
<p>
  TimeZone:<%= @city.time_zone %>
</p>
<p>
  <%=raw live?(@city) %>
</p>
<p>
  Like counts :<%= @city.flaggings.count %>
</p>
<p>
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
