<p id="notice"><%= notice %></p>

<p>
  Name:  <%= @city.name %>
</p>
<p>
  Country:<%= @city.country.try :name %>
</p>
<p>
  Area code:<%= @city.phone_area_code %>
</p>
<p>
  <% if @city.is_live? %>
    live
  <%else%>
    not live yet
  <%end %>
</p>
<p>
<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
