<% title "Campaigns" %>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Action</th>
    <th>Expire At</th>
  </tr>
  <% for campaign in @campaigns %>
    <tr>
      <td><%= campaign.name %></td>
      <td><%= campaign.campaign_type %></td>
      <td><%= campaign.expire_at %></td>
      <td><%= link_to "Show", campaign %></td>
      <td><%= link_to "Edit", edit_campaign_path(campaign) %></td>
      <td><%= link_to "Destroy", campaign, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Campaign", new_campaign_path %></p>
