<% title "Campaign" %>

<p>
  <strong>Name:</strong>
  <%= @campaign.name %>
</p>
<p>
  <strong>Action:</strong>
  <%= @campaign.action %>
</p>
<p>
  <strong>Expire At:</strong>
  <%= @campaign.expire_at %>
</p>

<p>
  <%= link_to "Edit", edit_campaign_path(@campaign) %> |
  <%= link_to "Destroy", @campaign, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", campaigns_path %>
</p>
