<%= javascript_include_tag 'prototype' %>
<%= calendar_date_select_includes %>
<% CalendarDateSelect.format=(:iso_date)%>

<%= form_for(@program) do |f| %>
  <% if @program.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@program.errors.count, "error") %> prohibited this program from being saved:</h2>

      <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><%= mark_required(@program, :name) %>
    <%= f.text_field :name %>
  </div>
  <br />
  <div class="field">
    <%= f.label :program_type_id %><%= mark_required(@program, :program_type_id) %>
    <%= f.select :program_type_id,ProgramType.all.collect {|pt| [pt.name,pt.id]} %>
  </div><br />
  <div class="field">
    <%= f.label :auto_enroll %>
    <%= f.check_box :auto_enroll %>
  </div><br />
  <div class="field">
    <%= f.label :start_date %>
    <%= f.calendar_date_select :start_date%>
  </div><br />
  <div class="field">
    <%= f.label :end_date %>
    <%= f.calendar_date_select :end_date%>
  </div><br />
  <div class="field">
    <%= f.label :business_id %><%= mark_required(@program, :business_id) %>
    <%= f.select :business_id,Business.all.collect {|b| [b.name,b.id]} %>
  </div><br />
  <div class="field">
    <%= f.label :initial_points %>
    <%= f.text_field :initial_points %>
  </div><br />
  <div class="field">
    <%= f.label :max_points %>
    <%= f.text_field :max_points %>
  </div>
  <br/><br />
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
