<% title "Listing Programs" %>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Business</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programs.each do |program| %>
  <tr>
    <td><%= link_to program.program_type.name, business_program_url(@business, program)%></td>
    <td><%= program.program_type.name %></td>
    <td><%= program.business.name %></td>
    
    <td><%= link_to 'Show', business_program_path(@business,program) %></td>
    <td>
    <% unless program.program_type == ProgramType["Money"] %>
      <%= link_to 'Edit', edit_business_program_path(@business,program) %>
    <% else %>
      <%= link_to 'Cashbox', edit_business_cashbox_path(@business) %>
    <% end %>
    </td>
    <td><%= button_to "Destroy", business_program_path(@business,program), :method=>:delete, :class=>:destroy,:confirm=>"Are you sure?" %></td>
  </tr>
<% end %>
</table>
<br /><br />
<%= link_to 'New Program', new_business_program_path %><br />

