<% title "Program: #{@program.program_type.name}" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @program.program_type.name %>
</p>

<p>
  <b>Business:</b>
  <%= @program.business.name %>
  </p>

<% if @program.is_money? %>
<%# Uhm, ew. %>
<% account_option = @program.business.cashbox.account_option || AccountOption.new %>
  <p>
    <b>Max daily load limit:</b>
    <%= account_option.max_daily_load_limit || "None" %>
  </p>
  <p>
    <b>Max daily spend limit:</b>
    <%= account_option.max_daily_spend_limit || "None" %>
  </p>
<% end %>

<% unless @program.program_type == ProgramType["Money"] %>
  <%= link_to 'Edit', edit_business_program_path(@business,@program) %> </br>
<% else %>
  <%= link_to 'Cashbox', edit_business_cashbox_path(@business) %>
<% end %>
<%= link_to 'Back', business_programs_path(@business) %>
<% unless @program.program_type == ProgramType["Money"] %>
  <p>
     <%= link_to "Show Campaigns", business_program_campaigns_path(@business,@program) %><br />
 </p>
<% end %>
