<% title "Program: #{@program.program_type.name}" %>
<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @program.program_type_id %>
</p>

<p>
  <b>Business:</b>
  <%= @program.business_id %>
</p>


<%= link_to 'Edit', edit_business_program_path(@business,@program) %> </br>
<%= link_to 'Back', business_programs_path(@business) %>

<p>
   <%= link_to "Show Campaigns", business_program_campaigns_path(@business,@program) %><br />
</p>