<%= form_for(@brand,:html => { :multipart => true, :class=>"mono-form"}) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name , :class=>"title" %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description , :class=>"title" %>
  </p>
  <br />
  <%unless @brand.brand_image.nil? || @brand.brand_image.new_record? %>
  <div>
    <%= f.label :image %>
    <%= image_tag @brand.brand_image.photo.url(:normal) %>
  </div>
  <%end%>
  <div class="field">
    <%=f.fields_for :brand_image do |builder| %>
      <%=builder.file_field :photo %><br/>
      <small>supported image types: <strong>JPEG, JPG, PNG, BMP</strong></small>
      <br /><br />
    <%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
