<% title "Brands" %>

<table class="mono-table" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
    <td>
      <% image_url = brand.brand_image.try(:photo).try(:url, :normal) %>
      <%= image_tag image_url if image_url %>
    </td>
    <td><%= link_to brand.name, brand %></td>
    <td><%= brand.description %></td>
    <td>
      <%= link_to 'Edit', edit_brand_path(brand) , :class=>"button"%>
      <%= link_to 'Destroy', brand, :confirm => 'Are you sure?', :method => :delete ,:class=>"button negative"%>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brand', new_brand_path , :class=>"positive button" %>
