<% transactions = transaction_list %>
<table id='transaction-list' class="mono-table" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>TX ID</th>
    <th>From Account Holder Name</th>
    <th>To Account Holder Name</th>
    <th>Transaction Type</th>
    <th>Transaction Fees Amount</th>
    <th>Transaction Fees Percentage</th>
    <th>Balance Before Tx (From Account)</th>
    <th>Balance After Tx (From Account)</th>
    <th>Balance Before Tx (To Account)</th>
    <th>Balance After Tx (To Account)</th>
    <th>After Fees Amount</th>
    <th>Created At</th>
    <th>State</th>
    <th>Action</th>
    <th>&nbsp;</th>
  </tr>

<% transactions.each do |transaction| %>
  <tr>
    <% from_account = Account.find(transaction.from_account)%>
    <% to_account = Account.find(transaction.to_account)%>
    <% from_account_holder = from_account.account_holder%>
    <% to_account_holder = to_account.account_holder%>
    <% from_user =  User.where(:id => from_account_holder.model_id).first %>
    <% from_account_holder_name = from_account_holder.model_type == "User" ? from_user.try(:full_name) : Business.where(:id => from_account_holder.model_id).first.try(:name)  %>
    <% to_user =  User.where(:id => to_account_holder.model_id).first %>
    <% to_account_holder_name = to_account_holder.model_type == "User" ? to_user.try(:full_name) : Business.where(:id => to_account_holder.model_id).first.try(:name)  %>
    <td><%= transaction.id %></td>
    <td>
      <%=from_account_holder_name %> 
      <br />
      (<%= account_type(from_account) %> account)
    </td>
    <td>
      <%=to_account_holder_name%>
      <br />
      (<%= account_type(to_account) %> account)
      </td>
    <td><%= transaction.name%></td>
    <td><%= transaction.fee_amount %></td>
    <td><%= transaction.fee_percentage %></td>
    <td><%= transaction.from_account_balance_before%></td>
    <td><%= transaction.from_account_balance_after%></td>
    <td><%= transaction.to_account_balance_before%></td>
    <td><%= transaction.to_account_balance_after%></td>
    <td><%= transaction.after_fees_amount%></td>
    <td><%="#{transaction.created_at.strftime("%I:%M %p")} on #{transaction.created_at.strftime("%b %d , %Y")}"%></td>
    <td>
      <%= transaction.state || "success" %>
    </td>
    <td>
      <%= transaction.action_name %>
    </td>
    <td>
      <% if current_user.role?(Role::AS[:admin]) || current_user.role?(Role::AS[:operator]) %>
        <% if transaction.in_state?(:voided) %>
          <% void_log = Log.where(transaction_id: transaction.id, action_id: Action["Void"].id).first %>
          Voided at <%= void_log.created_at.strftime("%I:%M %p on %m.%d.%y") %> by <%= void_log.user.full_name %>
          <% if void_log.user.business %>
            @ <%= void_log.user.business.name %>
          <% end %>
        <% else %>
          <%= button_to "Void", void_transaction_path(transaction) %>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
