<h3><%= link_to "Go back", :back %></h3>

<div id="reports">
	<%- if @reportable.kind_of?(Place) -%>
		<%= render "place" -%>
	<%- end -%>

	<%- if @reportable.kind_of?(Account) -%>
		<%= render "account" -%>
	<%- end -%>

	<%- if @reportable.kind_of?(Business) -%>
		<%= render "business" -%>
	<%- end -%>
</div>

<%= will_paginate @reports %>
