<% title "Measurement Type" %>

<table width="100%" border="1" cellspacing="0" cellpadding="0">
  <tr>
    <th>Name</th>
  </tr>
  <% for measurement_type in @measurement_types %>
    <tr>
      <td><%= measurement_type.name %></td>
      
      <td><%= link_to "Show", business_measurement_type_path(@business,measurement_type) %></td>
      <td><%= link_to "Edit", edit_business_measurement_type_path(@business,measurement_type) %></td>
      <td><%= link_to "Destroy", business_measurement_type_path(@business, measurement_type), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Measurement Type", new_business_measurement_type_path(@business) %></p>
<p><%= link_to "Back to business", business_path(@business) %></p>
