<% content_for(:head) do %>
<%= stylesheet_link_tag "biz_application" %>

<%= javascript_include_tag      "businessend",
                                'jquery.tipTip',
                                'open_hours',
                                "http://maps.google.com/maps/api/js?sensor=true",
%>

<style type="text/css">
  input[type=text][disabled] { background-color: #E6E6FA; }
  .times{width:auto}
  .slide_input{width:180px;}
  .slide_input input{width:170px;}
  .slide_input.ma{ margin-left:15px;}
  .slide_box h3{display:block ; width:378px}
  .box_slider p{width:80%}
  .box_slider .button{width:100px ; padding:5px}
</style>
<script type="text/javascript">
  $(document).ready(function(){

  $('#owner_view h1').hide();
  $('#owner_view input[type=submit]').remove();

  $('#place_update').click(function(e){
    $('form.mono-form').submit();
  });

  <%= get_maker_position_script(@place) %>

  });
</script>

<style type="text/css" media="screen">
  div#map_canvas{
    border:none;
  }
  .ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
  }
</style>
<%end%>
<% set_variables(@place) %>

<div class="tabs">
  <ul>
    <li><a href="#admin_view">Admin View</a></li>
    <li><a href="#owner_view">Owner View</a></li>
  </ul>
  <div id="admin_view">
    <div id="step3" class="mono-business-register span-20" >
    <%= form_for(@place,:html => { :multipart => true ,:class=>"mono-form"}) do |f| %>
    <%= f.error_messages %>
    <fieldset>
    <legend>
      Info
    </legend>
    <p>
      <%= f.label "Business" %>
      <%= f.collection_select :business_id, Business.all,  :id, :name,:include_blank=> "..Select Business.." %>
    </p>
    <p>
      <%= f.label :name  %>
      <%= f.text_field :name , :class=>"title double branch bcomplete"  %>
    </p>
    <p id="primary_place" style="display:none">
      <%= f.label :is_primary %>
      <%= f.check_box :is_primary %>
    </p>

  </fieldset>

    <fieldset>
      <legend>Address</legend>

        <%= f.fields_for :address, f.object.address do |address_form| %>
          <p>
            <%= address_form.label :city %>
            <%= address_form.text_field :city , :value=>@city_name, :id=>"city_id", :class=>"title double"%>
            <%= address_form.hidden_field :city_id,:id=>"city",   :class=>"title double"%>
          </p>
           <p>
             <%= address_form.label :zipcode , :class=>"" %>
             <%= address_form.text_field :zipcode, :class=>"title double"%>
           </p>
          <p>
            <%= address_form.label :street_address, :class=>"" %>
            <%= address_form.text_field :street_address, :class=>"title double"%>
          </p>
          <div id="my_map2" style="margin-top:20;width:410px;height:200px;">

      </div>

    </fieldset>


    <fieldset>
      <legend>
        Location
      </legend>
      <!-- Extended object form -->
        <p>
          <%= address_form.label :cross_street ,:class=>"" %>
          <%= address_form.text_field :cross_street , :class=>"title double"%>
        </p>
        <p>
          <%= address_form.label :neighborhood ,:class=>"" %>
          <%= address_form.text_field :neighborhood, :class=>"title double"%>
        </p>

      <%end%>

      <p>
        <%= f.label :long%> <%= f.text_field :long, :class=>"title double" %>
      <p>
      </p>
        <%= f.label :lat  %> <%= f.text_field :lat, :class=>"title double" %>
      </p>
    </fieldset>

    <fieldset>
      <legend>
        Contacts
      </legend>
      <p>
        <%= f.label :phone ,:class=>"" %>
        <%= f.text_field :phone, :class=>"title double"%>
      </p>
    </fieldset>

    <fieldset>
      <legend>Misc.</legend>
      <p>
        <%= f.label 'Keywords', :class=>"" %>
        <%= f.text_field :tag_list, :class=>"title double" %>
      </p>
      <p>
        <%= f.label :time_zone %>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all%>
      </p>

    <p>
      <%= f.label :description, :class=>"" %>
      <%= f.text_area :description, :class=>"title double" %>
    </p>

   </fieldset>

    <fieldset>
      <legend>Open Signs</legend>
    <%= render :partial => 'open_hours'%>
    </fieldset>

    <fieldset>
      <legend>Place Images</legend>
      <p>
        <%if ENABLE_DELAYED_UPLOADS%>
          <% f.fields_for :place_images do |pimage| %>
              <%= pimage.label(:delete_photo, 'Delete photo') %>
              <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
              <%= pimage.check_box(:delete_photo) %><br />
          <%end%>
          <% f.fields_for :tmp_images do |pimage| %>
            <%= pimage.label(:photo, 'Upload photo') %>
            <%= pimage.file_field(:photo) %><br />
          <%end%>
        <%else%>
          <%= f.fields_for :place_images do |pimage| %>
            <%- unless pimage.object.new_record?-%>
              <%= pimage.label(:delete_photo, 'Delete photo') %>
              <%= image_tag(pimage.object.photo.url(:thumb), :alt => 'Photo', :title => 'Current photo') %>
              <%= pimage.check_box(:delete_photo) %><br />
            <%- else -%>
              <br />
              <%= pimage.label(:photo, 'Upload photo') %>
              <%= pimage.file_field(:photo) %><br />
            <%- end -%>
          <%end%>
        <%end%>
      </p>
    </fieldset>

    <p class="hide"><% f.submit %></p>
<% end %>
</div>
<div class="clear"></div>
    </div>
    <div id="owner_view">
      <%= render :template=>"users/businesses/primary_place" %>
      <div class="clear"></div>
    </div>
</div>

<input type="button" class="button positive" name="new_place" value="<%=@place.new_record? ? 'Create' : 'Update'%>" id="place_update"/>
