<% content_for(:head) do %>
<style type="text/css" media="screen">
  select{width:200px;}
</style>

<script type="text/javascript">
//<![CDATA[
$(function(){
  $("input#name_country").autocomplete({
    source: "/businesses/update_countries.js",
    select:function(e,ui){
        //var path = window.location.pathname;
        //console.log(path+"?name="+ui.item.label);
      $("input#country_id").val(ui.item.id);
      $("form").submit();
      $("input#country_id").val("");
    }
  });
  $("input#name_city").autocomplete({
    source:"/businesses/update_cities/1.js",
    select:function(e,ui){
        //var path = window.location.pathname;
        //console.log(path+"?name="+ui.item.label);
      $("input#city_id").val(ui.item.id);
      $("form").submit();
      $("input#city_id").val("");
    }
  });
});
//]]>
</script>
<%end%>

<%= form_tag("/places", :method=>:GET) do %>
  <%= text_field_tag "name_country" , @country.try(:name), :placeholder=> "Country" %>
  <%= text_field_tag "name_city" ,    @city.try(:name) , :placeholder=>"City" %>
  <%= hidden_field_tag "country_id" , @country.try(:id)%>
  <%= hidden_field_tag "city_id" ,    @city.try(:id)%>
  <%= submit_tag "Search" %>
<% end %>
<% title "Places" %>

<table class="mono-table" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th>Image</th>
    <th>Brand</th>
    <th>Name</th>
    <th>City</th>
    <th>Country</th>
    <th>Associated to</th>
    <th>&nbsp</th>
  </tr>
  <% for place in @places %>
  <% business = @businesses.select{|b| b.id == place.business_id}[0] %>
  <% brand = @brands.select{|b| b.id == business.brand_id}[0] %>
    <tr>
      <td>
	<% image_url = brand.brand_image.try(:photo).try(:url, :normal) %>
	<%= image_tag image_url if image_url %>&nbsp;
      </td>
      <td><%= link_to brand.name , brand %></td>     
      <td><%= link_to place.name , place %></td>
      <td><%= place.address.try(:city).try(:name) %></td>
      <td><%= place.address.try(:city).try(:country).try(:name) %></td>
      <td><%= business.try(:name) %></td>
      <td><%= link_to "Edit", edit_place_path(place), :class=>"button" %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Place", new_place_path , :class=>"button positive" %></p>
