<style type="text/css" media="screen">
  select{width:200px;}
</style>
<% title "Places" %>
<div class="search_box ">
  <%= form_tag("/places",:method=>"get") do %>
   <%= select_tag :country_id, "<option value=''>..Select Country..</option>".html_safe + options_from_collection_for_select(Country.all, :id, :name),:class=>"title"%>

   <%= select_tag :city_id, "<option value=''>..Select City..</option>".html_safe + options_from_collection_for_select(City.all, :id, :name),:class=>"title"%>

   <%= submit_tag "Search" %>
  <% end %>
</div>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>City</th>
    <th>Country</th>
    <th>Associated to</th>
    <th>Phone Number</th>
  </tr>
  <% for place in @places %>
    <tr>
     <td><%= image_tag place.try(:place_images).try(:first).try(:photo).try(:url,:thumb) unless place.try(:place_images).try(:first).try(:photo).try(:url,:thumb).nil? %>&nbsp</td>
      <td><%= link_to place.name , place %></td>
      <td><%= place.address.try(:city).try(:name) %></td>
      <td><%= place.address.try(:country).try(:name) %></td>
      <td><%= place.business.try(:name) %></td>
      <td><%= place.phone %></td>
      <td><%= link_to "Edit", edit_place_path(place) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Place", new_place_path %></p>
