<% title "Places" %>
<div class="search_box ">
  <%= form_tag("/places") do %>
    <%= label_tag :city_id,"City",:class=>"hide", %><%= text_field_tag :city_id, nil, :placeholder=>"City name"%>
    <%= label_tag :country_id, "Country",:class=>"hide" %><%= text_field_tag :country_id, nil, :placeholder=>"Country" %>
  <% end %>
</div>
<table>
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>City</th>
    <th>Country</th>
    <th>Associated to</th>
    <th>Phone Number</th>
  </tr>
  <% for place in @places %>
    <tr>
      <td>&nbsp</td>
      <td><%= link_to place.name , place %></td>
      <td><%= place.address.try(:city).try(:name) %></td>
      <td><%= place.address.try(:country).try(:name) %></td>
      <td><%= place.business.try(:name) %></td>
      <td><%= place.phone %></td>
      <td><%= link_to "Edit", edit_place_path(place) %></td>
      <td><%= link_to "Destroy", place, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Place", new_place_path %></p>
