<% title "Place | #{@place.name}" %>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>
<p>
  <div id="map_canvas" style="width:412px; height:400px" class="google_map"></div>


<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @place.phone %>
</p>
<p>
  <strong>Time Zone:</strong>
  <%= @place.time_zone %>
</p>
<p>
  <strong>Tag List:</strong>
  <%= @place.tag_list %>
</p>
<p>
  <strong>Open Hours:</strong>
  <ul>
    <% @place.open_hours.each do  |open_hour|%>
      <li><%= OpenHour::DISPLAY_DAYS[open_hour.day_no]%> From <%= OpenHour.format_time(open_hour.from)%> To  <%= OpenHour.format_time(open_hour.to)%></li>
    <% end%>
  </ul>
</p>
<%unless @place.place_images.empty?%>
<p>
  <strong>Images</strong>
  <%for image in @place.place_images%>
    <%= image_tag image.photo.url(:thumb) %>
  <%end%>
</p>
<%end%>

<% if @place.google_reference.blank? %>
  <% @gplaces.results.each do |gplace| %>
    <%= link_to "add google place", "/places/#{@place.id}/google/#{gplace.reference}" %><%= gplace.name %><br/>
  <% end %>
<% else %>
    <%= link_to "reset google place", "/places/#{@place.id}/reset_google" %>
<% end %>

<p>
  <%= link_to "Edit",  edit_place_path(@place) %> |
  <%= link_to "Destroy", place_path(@place), :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", places_path %>
</p>

<%= javascript_include_tag      "businessend",
                                'jquery.tipTip',
                                "http://maps.google.com/maps/api/js?sensor=true",
%>
<script type="text/javascript" language="javascript" >
  jQuery(function(){

    <%= get_maker_position_script(@place) %>
  })
</script>
