<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "rewards-1", "global" , "redmond/jquery-ui-1.8.10.custom"%>
    <%= stylesheet_link_tag "blueprint/screen" ,  :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/plugins/buttons/screen"  %>
    <%= stylesheet_link_tag "blueprint/print",    :media => "print" %>

    <%= stylesheet_link_tag "admin", "css3buttons" %>
    <%= stylesheet_link_tag 'datePicker' %>
    <%= javascript_include_tag :defaults, 'jquery.enablePlaceholder.min', 'jquery.datePicker-2.1.2', 'jquery.raty' , :cache=>true%>

    <%= csrf_meta_tag %>
    <%= yield(:head) %>
    <script type="text/javascript" language="javascript" charset="utf-8">
    //<![CDATA[
      $(document).ready(function(){
        $(".sub_menu").hide();
        $(".main_header").click(function(){
          elements = $('.menu_item');
          selected_link=$(this)
          elements.each(function(index, domEle) {
            if(selected_link[0] != $(domEle)[0]){
             $(domEle).removeClass('menu_item');
             $(domEle).next(".sub_menu").slideUp(300);
            }
          });
          selected_link.toggleClass('menu_item');
          selected_link.next(".sub_menu").slideToggle(300);
        });
      });
    //]]>
    </script>
  </head>
  <body>
	  <div id="wrap">
      <div id="header">
        <div class="wrapper">
          <h1>
            <a class="cushbury_logo" href="/">Cashbury</a>
          </h1>
          <div class="user_menu">
            <% if user_signed_in? %>
              <p>Signed in as <%= current_user.email %></p>
              <p><%= link_to "Sign out", destroy_user_session_path %></p>
            <% else %>
              <p><%= link_to "Sign up", new_user_registration_path %></p>
              <p><%= link_to "Sign in", new_user_session_path %></p>
            <% end %>
          </div>
        </div>
      </div><!-- end of header -->
	    <div id="main">
	      <div id="side">
	        <% if current_user.try(:admin?)%>
            <h2>PANEL</h2>
            <ul>
              <li><%= link_to "Users", "javascript:void(0)", :class=>"main_header"%>
                <ul class="sub_menu">
                  <li><%= link_to "Manage users", users_management_index_path %></li>
                  <li><%= link_to "Add new user", new_users_management_path %></li>
                </ul>
              <li><%= link_to "Brands", brands_path %></li>
              <li><%= link_to "Businesses", businesses_path %></li>
              <li><%= link_to "Places", places_path %></li>
              <li><%= link_to "Analytics", "javascript:void(0)", :class=>"main_header"%>
                <ul class="sub_menu">
                  <li><%= link_to "Reports", users_snaps_path %></li>
                  <li><%= link_to "Loyal Customers", loyal_customers_path %></li>
                </ul>
              </li>
              <li><%= link_to "QR", "javascript:void(0)", :class=>"main_header" %>
                <ul class="sub_menu">
                  <li><%= link_to "Issue", panel_qr_codes_path %></li>
                  <li><%= link_to "Manage", qr_codes_path %></li>
                  <li><%= link_to "Templates", templates_path %></li>
                  <li><%= link_to "Print Jobs", print_jobs_path %></li>
                </ul>
            </ul>
            <li><%= link_to "Settings", "javascript:void(0)", :class=>"main_header" %>
              <ul class="sub_menu">
                <li><%= link_to "Program Types", program_types_path %></li>
                <li><%= link_to "Transaction Types", transaction_types_path %></li>
                <li><%= link_to "Categories", categories_path %></li>
              </ul>
            </li>
            <li><%= link_to "Country Profile", "javascript:void(0)", :class=>"main_header" %>
              <ul class="sub_menu">
              	<li><%= link_to "Address profile", "#" %></li>
              	<li><%= link_to "Country", countries_path %></li>
              	<li><%= link_to "State", states_path %></li>
              	<li><%= link_to "City", cities_path %></li>
              	<li><%= link_to "Neighorhood", neighborhoods_path %></li>
              </ul>
            </li>
          </ul>
            <%end%>
        </div><!-- side Ends -->
        <%if current_user.blank? || !current_user.try(:admin?)%>
          <div style="margin:0 0 0 30px;" id="leftContainer" >
        <%else%>
          <div id="leftContainer">
        <%end%>
  	      <div id="main_header">
  		<% flash.each do |name, msg| %>
  	          <%= content_tag :div, msg, :id => "flash_#{name}", :style=>"padding:15px 0 0 0" %>
  	        <% end %>
  	        <%= content_tag :h1, yield(:title) if show_title? %>
    	      <div id="canvas container">
    	        <%= yield %>
    	      </div><!-- end of left main -->
  	        <div id="right_main"></div>
          </div><!-- end of Canvase -->
        </div><!-- end of  leftContainer -->
	    </div>
	   </div><!-- end of Main -->
	  </div><!-- wrapper-->
  </body>
</html>
