<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "blueprint/screen" ,  :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print",    :media => "print" %>
    <%= stylesheet_link_tag "blueprint/plugins/buttons/screen"  %>
    <%= stylesheet_link_tag "biz_application",
                            'tipTip',
                            "redmond/jquery-ui-1.8.10.custom"  %>
    <%= javascript_include_tag  :defaults,
                                "cufon-yui" ,
                                "z_Arista_Light_300.font" ,
                                "businessend",
                                'jquery.tipTip',
                                'jquery.enablePlaceholder.min',
                                "http://maps.google.com/maps/api/js?sensor=true",
                                "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"
                              %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>

  </head>
  <body>
    <div id="header">
      <div class="container">
        <div class="brand_profile">
          <div class="left span-2">
            <a class="user-profile-image"><img style="wdith:64px; height:64px" src="/images/C-mybiz1.png"></a>
          </div>

          <% if user_signed_in? %>

          <div class="nav brand left span-5">
            <h3 class="company_name left span-5"><%= current_user.try(:brands).try(:first).try(:name) || "CashBury" %></h3>
              <ul>
                <li><a class="place show" href="#">Places</a>
                  <div class="show_con hide">
                    <% unless @places.blank? %>
                      <% for place in @places %>
                        <a ""><b><%= place.name %></b></a>
                      <% end %>
                    <% else %>
                      <b>No branches listed</b>
                    <% end %>
                    <%= link_to "Add a new branch", "/users/businesses/primary_place" %>
                  </div>
    		</li>
                <li><a class="report show" href="#">Places</a>
                  <div class="show_con second hide">
                    <%= link_to "Add a card", set_rewards_users_businesses_path  %>
                  </div>
                </li>

                <li><a class="user show" href="#">Places</a>
                  <div class="show_con second hide">
                  </div>
                </li>
            </ul>
          </div>
        <% end %>


        </div>
        <!--<h2 class="logo">Cashbury</h2>-->
        <% if user_signed_in? %>
          <%= render :partial=>"profile" %>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>

    <div id="gray_bg">
      <div id="biztools_nav" class="container">
        <ul>
          <li class="box">
            <a class="icon" href="/users/businesses/primary_place">
              <div class="button"></div>
            </a>
            <a id="bcards" href="/users/businesses/primary_place">
              <span>Digital reciept</span>
            </a>
          </li>
          <li class="box">
            <a class="icon open_sign" href="#">
              <div class="button"></div>
            </a>
            <a class="open_sign" href="#">
              <span>Open sign</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

  <% end %>

    <div id="payload" >
      <div class="container content">
          <% flash.each do |name, msg| %>
  	    <%= content_tag :div, msg, :id => "flash_#{name}", :style=>"padding:15px 0 0 0" %>
  	  <% end %>
          <%= yield %>
          <div class="clear"></div>
      </div>
    </div><!--endof payload-->
    <div id="footer">
      <div class="container">
      </div>
    </div>
    <!--footer would added here later -->
    <script>

   sHours = ["12:00 AM","12:30 AM","11:00 AM","11:30 AM","10:00 AM","10:30 AM","9:00 AM","9:30 AM","8:00 AM","8:30 AM","7:00 AM","7:30 AM","6:00 AM","6:30 AM","5:00 AM","5:30 AM","4:00 AM","4:30 AM","3:00 AM","3:30 AM","2:00 AM","2:30 AM","1:00 AM","1:30 AM","12:00 PM","12:30 PM","11:00 PM","11:30 PM","10:00 PM","10:30 PM","9:00 PM","9:30 PM","8:00 PM","8:30 PM","7:00 PM","7:30 PM","6:00 PM","6:30 PM","5:00 PM","5:30 PM","4:00 PM","4:30 PM","3:00 PM","3:30 PM","2:00 PM","2:30 PM","1:00 PM","1:30 PM"];


     jQuery('input.complete:eq(0)').autocomplete({
      source:sHours,
      select:function(e,ui){
     from_hour = jQuery('#open_hour_0_from').val(); // the selected value of the first day ( from hour)
      from2_hour = jQuery('#open_hour_0_from2').val(); // the selected value of the first day - if user splits the time( from2 hour)
      from_hour = ui.item.value;
      jQuery('.from_class').each(function(index, element){
        jQuery(this).val(from_hour);
        if(from2_hour){
         jQuery('#open_hour_'+index+'_from2').val(from2_hour)
        }// if from2_hour end
      }); // end of .each function


      }
    });

  jQuery.fn.equals = function(compareTo) {
    if (!compareTo || this.length != compareTo.length) {
      return false;
    }
    for (var i = 0; i < this.length; ++i) {
      if (this[i] !== compareTo[i]) {
        return false;
      }
    }
    return true;
  };

    jQuery("input.complete:eq(1)").autocomplete({source:sHours,select:function(e,ui){
      to_hour = ui.item.value;
      jQuery('.to_class').each(function(index, element){
        to2_hour = jQuery('#open_hour_0_to2').val(); // the selected value of the first day - if user splits the time ( to2 hour)

        jQuery(this).val(to_hour);
        if(to2_hour){
          jQuery('#open_hour_'+index+'_to2').val(to2_hour);
        }// if from2_hour end
      });


  }})

  jQuery(".box_slider:first p").show();

    jQuery('a.show').click(function(e){
        $b= jQuery(this);
        var $a = jQuery(this);
        $a.toggleClass("active");
        jQuery("div.show_con:visible").toggle();
        if($b.hasClass("active")) {
          $a.next('div.show_con').hide();
        }
        if($a.hasClass("active")) {
          $a.next('div.show_con').show();
          jQuery("a.active").removeClass("active");
          $a.toggleClass("active");
        }
        e.stopPropagation();
        e.preventDefault();
    });

    jQuery(".title.business.bcomplete").autocomplete({
      source:"/auto_business",
      select:function(e,ui){
        var $b =jQuery(".title.branch");
        if($b.val()==""){
          $b.val(ui.item.value);
        }
    }});

    </script>
  </body>
</html>
