<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "blueprint/screen" ,  :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print",    :media => "print" %>
    <%= stylesheet_link_tag "biz_application",
                            "redmond/jquery-ui-1.8.10.custom"  %>
    <%= javascript_include_tag  :defaults,
                                "cufon-yui" ,
                                "z_Arista_Light_300.font" ,
                                'jquery.enablePlaceholder.min',
                                "http://maps.google.com/maps/api/js?sensor=true",
                                "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js"
                              %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
      <div id="payload" >
        <div id="header">
          <h2 class="logo">Cashbury</h2>
          <!--render partial here -->
        </div>
        <div class="content">
          <%= yield %>


          <div class="clear"></div>
        </div>
        <!--footer would added here later -->
      </div><!--endof payload-->
    </div>
  </body>
</html>
