<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "blueprint/screen" ,  :media => "screen, projection" %>
    <%= stylesheet_link_tag "blueprint/print",    :media => "print" %>
    <%= stylesheet_link_tag "home"   %>
    <%= javascript_include_tag :defaults, "cufon-yui" , "z_Arista_Light_300.font" %>
    <script type="text/javascript">
      $(function(){
          //Cufon.replace(".content-box p");
      });
      </script>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="container">
				<div class="home-menu">
					<ul class="home right">
            <li><%= link_to "for you" , foryou_path ,:class=>"for-you"%></li>
            <li><%= link_to "for your biz",foryourbiz_path,:class=>"for-your-business" %></li>
					</ul>
				</div>
				<div class="clear"></div>
      	<div id="content-section" class="">					

				<div id="content" class="bo clearfix">
					<div class="iphone span-9 bo">
            <%= image_tag "home/iphone.1.png" %>
					</div>
          <div class="right-column span-16 last bo">
                <%= yield %>
            </div>
            </div>
					<div>
				</div>
			</div>
            <div class="footer">
                <p> Copyrights &copy 2010, kazdoor Inc. Contact us at <a href="mailto:hello@cashbery.com">hello@cashbery.com</a></p>
			</div>
    </div>
  </body>
</html>
