<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag "rewards-1", "global" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<body>
  <div id="wrap">
    <div id="header"></div><!-- end of header -->
    <div id="main">
      <div id="main_header">
      <div id="canvas container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
        <%= content_tag :h1, yield(:title) if show_title? %>
        <%= render "shared/menu" %>
        <%= yield %>
      </div><!-- end of left main -->
      <div id="right_main">
        <%= image_tag "icon_iphone.gif" %>
      </div>
    </div><!-- end of Canvase -->
    </div>
  </div><!-- end of Main -->
  </div><!-- wrapper-->
</body>
</html>
